<?php

    // $helper will be used insted of $this as $helper will have no ambiguity.
    $helper = Mage::helper("productvideo");
    
    $savedSettings = $this->getSettings();
    // Getting the processed video attributes like autoplay and all
    $videoAttributes = $this->getVideoAttributes();
    
    // Getting the magento varsion
    $magentoVersion = Mage::getVersion();
    
    // Getting the current product id so that we can pass it as parameter and get the
    // related videos
    $product_id = $this->getRequest()->getParam('id');
    
    // Getting the Default Video details
    $mainVideo = $this->getMainVideo($product_id);
    
    // Here we get an array which contains data about video_type and video_path except Default Video
    $productVideos = $this->getVideoDataByProductId($product_id);
    
?>

<style>
    /* Css if magento version is less than 1.9*/
    /*78 for both magento 1.7 and 1.8 */
    .left_arrow78
    {
        margin-left: 0% !important;
    }
    .right_arrow78
    {
        margin-left: 45% !important;
    }
    
    .show_border
    {
        border-width: 2px !important;
    }
</style>

<?php
if(isset($savedSettings['enable']) && isset($savedSettings['show_video_on']) && $savedSettings['show_video_on'] == "Product Footer")
{
?>

    <?php
    if(isset($mainVideo['video_path']) || isset($productVideos['video_path']))
    {
    ?>
        <div id="div_content">
            <div id="div_title_product_video">
                <div id="header_inner">
                    <?php if(isset($savedSettings['video_box_title'])) { echo $savedSettings['video_box_title']; } ?>
                </div>
            </div>
            <div class="div_main_video">

                <div id="left_arrow" class="<?php if (version_compare($magentoVersion, '1.9', '<')){echo 'left_arrow78';} ?>" onclick="plusDivs(-1)"></div>
                <div id="right_arrow" class="<?php if (version_compare($magentoVersion, '1.9', '<')){echo 'right_arrow78';} ?>" onclick="plusDivs(1)"></div>
                <div id="div_video_frame">

                <?php
                if(isset($mainVideo['video_path']))
                {
                    // This code is necessary to use here. Can not use from Block or Helper
                    if($mainVideo['video_type'] == "YouTube")
                    {
                        // Variables for Youtube path and settings
                        $autoplay = $videoAttributes['y_autoplay'];
                        $display_controls = $videoAttributes['y_display_controls'];
                        $display_frame_border = $videoAttributes['y_display_frame_border'];
                        $videoUrlPre = "https://www.youtube.com/embed/";
                    }
                    else if($mainVideo['video_type'] == "Dailymotion")
                    {
                        // Variables for Dailymotion path and settings
                        $autoplay = $videoAttributes['d_autoplay'];
                        $display_controls = $videoAttributes['d_display_controls'];
                        $display_frame_border = $videoAttributes['d_display_frame_border'];
                        $videoUrlPre = "http://www.dailymotion.com/embed/";
                    }
                    else
                    {
                        // Variables for Vimeo path and settings
                        $autoplay = $videoAttributes['v_autoplay'];
                        $display_controls = $videoAttributes['v_display_controls'];
                        $display_frame_border = $videoAttributes['v_display_frame_border'];
                        $videoUrlPre = "http://player.vimeo.com/video/";
                    }
                ?>
                    <iframe style="z-index: 998" class="video_frame <?php if($display_frame_border == 1) { echo "show_border"; } ?>" src="<?php echo $videoUrlPre;echo $mainVideo['video_path']; ?>?autoplay=<?php echo $autoplay; ?>&controls=<?php echo $display_controls; ?>"></iframe>
                <?php
                }
                ?>

                <?php
                $i = 0;
                if(isset($productVideos['video_path']))
                {
                    foreach($productVideos['video_path'] as $video_path)
                    {   
                        // This code is necessary to use here. Can not use from Block or Helper
                        if($productVideos['video_type'][$i] == "YouTube")
                        {
                            // Variables for Youtube path and settings
                            $autoplay = $videoAttributes['y_autoplay'];
                            $display_controls = $videoAttributes['y_display_controls'];
                            $display_frame_border = $videoAttributes['y_display_frame_border'];
                            $videoUrlPre = "https://www.youtube.com/embed/";
                        }
                        else if($productVideos['video_type'][$i] == "Dailymotion")
                        {
                            // Variables for Dailymotion path and settings
                            $autoplay = $videoAttributes['d_autoplay'];
                            $display_controls = $videoAttributes['d_display_controls'];
                            $display_frame_border = $videoAttributes['d_display_frame_border'];
                            $videoUrlPre = "http://www.dailymotion.com/embed/";
                        }
                        else
                        {
                            // Variables for Vimeo path and settings
                            $autoplay = $videoAttributes['v_autoplay'];
                            $display_controls = $videoAttributes['v_display_controls'];
                            $display_frame_border = $videoAttributes['v_display_frame_border'];
                            $videoUrlPre = "http://player.vimeo.com/video/";
                        }
                    ?>
                        <iframe  style="z-index: <?php echo ($i+999) ?>" id="iframe_video_<?php echo ($i+1); ?>" class="video_frame <?php if($display_frame_border == 1) { echo "show_border"; } ?>" src="<?php echo $videoUrlPre;echo $video_path; ?>?autoplay=<?php echo $autoplay; ?>&controls=<?php echo $display_controls; ?>"></iframe>
                    <?php
                    $i++;
                    }
                }
                ?>
                </div>
            </div>
        </div>
    <?php
    }
    
    
    if(isset($savedSettings['show_video_on']) && $savedSettings['show_video_on'] == "Product Footer")
    {
    ?>
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);
    </script>
    <?php  
    }
    ?>

    <!-- Script to hide the arrows if we have only one video BEGINS-->
    <script>
        arrowHide();
    </script>
    <!-- Script to hide the arrows if we have only one video ENDS--> 
<?php    
}
?>
