<?php
// $helper will be used insted of $this as $helper will have no ambiguity.
$helper = Mage::helper("productvideo");

$savedSettings = $this->getSettings();
// Getting the processed video attributes like autoplay and all
$videoAttributes = $this->getVideoAttributes();

// Getting the magento varsion
$magentoVersion = Mage::getVersion();

// Getting the current product id so that we can pass it as parameter and get the
// related videos
$product_id = $this->getRequest()->getParam('id');

// Getting the Default Video details
$mainVideo = $this->getMainVideo($product_id);

// Here we get an array which contains data about video_type and video_path
$productVideos = $this->getVideoDataByProductId($product_id);

if(isset($savedSettings['enable']) && isset($savedSettings['show_video_on']) && $savedSettings['show_video_on'] == "Product Right Column")
{
    if(isset($mainVideo['video_path']) || isset($productVideos['video_path']))
    {
        ?>
        <div id="div_content_right">
            <div id="div_title_product_video">
                <div id="header_inner_right">
                    <?php if(isset($savedSettings['video_box_title'])) { echo $savedSettings['video_box_title']; } ?>
                </div>
            </div>

            <div class="div_main_video">
                <div id="div_video_frame_right" style="margin: 0; width: 100%;">
                    <?php
                    if(isset($mainVideo['video_path']))
                    {
                        // This code is necessary to use here. Can not use from Block or Helper
                        if($mainVideo['video_type'] == "YouTube")
                        {
                            // Variables for Youtube path and settings
                            $autoplay = $videoAttributes['y_autoplay'];
                            $display_controls = $videoAttributes['y_display_controls'];
                            $display_frame_border = $videoAttributes['y_display_frame_border'];
                            $videoUrlPre = "https://www.youtube.com/embed/";
                        }
                        elseif($mainVideo['video_type'] == "Dailymotion")
                        {
                            // Variables for Dailymotion path and settings
                            $autoplay = $videoAttributes['d_autoplay'];
                            $display_controls = $videoAttributes['d_display_controls'];
                            $display_frame_border = $videoAttributes['d_display_frame_border'];
                            $videoUrlPre = "http://www.dailymotion.com/embed/";
                        }
                        else
                        {
                            // Variables for Vimeo path and settings
                            $autoplay = $videoAttributes['v_autoplay'];
                            $display_controls = $videoAttributes['v_display_controls'];
                            $display_frame_border = $videoAttributes['v_display_frame_border'];
                            $videoUrlPre = "http://player.vimeo.com/video/";
                        }

                        ?><iframe style="width: 267px; margin: 10px;" class="video_frame_right <?php if($display_frame_border == 1) { echo "show_border_right"; } ?>" src="<?php echo $videoUrlPre;echo $mainVideo['video_path']; ?>?autoplay=<?php echo $autoplay; ?>&controls=<?php echo $display_controls; ?>"></iframe><?php
                    }

                    $i = 0;
                    if(isset($productVideos['video_path']))
                    {
                        foreach($productVideos['video_path'] as $video_path)
                        {
                            // This code is necessary to use here. Can not use from Block or Helper
                            if($productVideos['video_type'][$i] == "YouTube")
                            {
                                // Variables for Youtube path and settings
                                $autoplay = $videoAttributes['y_autoplay'];
                                $display_controls = $videoAttributes['y_display_controls'];
                                $display_frame_border = $videoAttributes['y_display_frame_border'];
                                $videoUrlPre = "https://www.youtube.com/embed/";
                            }
                            elseif($productVideos['video_type'][$i] == "Dailymotion")
                            {
                                // Variables for Dailymotion path and settings
                                $autoplay = $videoAttributes['d_autoplay'];
                                $display_controls = $videoAttributes['d_display_controls'];
                                $display_frame_border = $videoAttributes['d_display_frame_border'];
                                $videoUrlPre = "http://www.dailymotion.com/embed/";
                            }
                            else
                            {
                                // Variables for Vimeo path and settings
                                $autoplay = $videoAttributes['v_autoplay'];
                                $display_controls = $videoAttributes['v_display_controls'];
                                $display_frame_border = $videoAttributes['v_display_frame_border'];
                                $videoUrlPre = "http://player.vimeo.com/video/";
                            }

                            ?><iframe style="width: 267px; margin: 10px;" class="video_frame_right <?php if($display_frame_border == 1) { echo "show_border_right"; } ?>" src="<?php echo $videoUrlPre;echo $video_path; ?>?autoplay=<?php echo $autoplay; ?>&controls=<?php echo $display_controls; ?>"></iframe><?php
                            $i++;
                        }
                    }
                    ?>
                </div>
            </div>
        </div>
        <?php
    }

    if(isset($savedSettings['show_video_on']) && $savedSettings['show_video_on'] == "Product Right Column")
    {
        ?>
        <script>
            var slideIndexRight = 1;
            //showDivsRight(slideIndexRight);
        </script>
        <?php
    }
    ?>

    <!-- Script to hide the arrows if we have only one video BEGINS-->
    <script>
        //arrowHideRight();
    </script>
    <!-- Script to hide the arrows if we have only one video ENDS-->

    <?php
}
