<div class="content-header">
    <h3 class="icon-head">Open Sales Orders Report</h3>
    <p class="form-buttons">
        <button style="" onclick="filterFormSubmitReport()" class="" type="button" title="Reset" id="">
            <!--<button style="" onclick="confirm('ask lng?',alert('print'))" class="" type="button" title="Reset" id="">-->
            <span><span><span>Show Report</span></span></span>
        </button>
    </p>
</div>

<?php $filter = base64_decode($this->getRequest()->getParam('filter')); ?>
<?php parse_str($filter); ?>

<script type="text/javascript">
    function filterFormSubmitReport(){
        var form = $('filter_form'); 
        
        var validator  = new Validation('filter_form');
        if (validator.validate()) {
            setLocation('<?php echo $this->getFilterUrl(); ?>filter/'+encode_base64(form.serialize())+'/');
        }
    }
    
    function PrintElem(elem)
    {
        Popup(elem.innerHTML);
    }
    
    function ExportCsv()
    {
        setLocation('<?php echo Mage::helper("adminhtml")->getUrl("*/*/table2csv"); ?>');
    }
    
    function Popup(data)
    {
        var mywindow = window.open('', 'my div', 'width=800');
        mywindow.document.write('<html><head>');
        mywindow.document.write('<link rel="stylesheet" type="text/css" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) ?>adminhtml/default/enterprise/boxes.css" media="all" />');
        mywindow.document.write('<style type="text/css">');
        mywindow.document.write('body #div1-1 {font-size:8px; display:block !important;}');
        mywindow.document.write('body td{ font-size:10px !important;} body th{ font-size:11px !important;}');
        mywindow.document.write('body a{ text-decoration:none !important; color:#2f2f2f !important; }');
        mywindow.document.write('</style> ');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.print();
        mywindow.close();

        return true;
    }
</script>

<div>
    <div class="entry-edit">
        <form method="get" action="" id="filter_form">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend">Filter</h4>
            </div>
            <div id="sales_report_order_base_fieldset" class="fieldset ">
                <div class="hor-scroll">
                    <table cellspacing="0" class="form-list">
                        <tbody>
                            <tr>
                                <td class="label"><label for="sales_report_order_report_type">Group By</label></td>
                                <td class="value">
                                    <select class=" select" name="group_by" id="sales_report_order_group_by">
                                        <option <?php echo $group_by=='item'?'selected':''; ?> value="item">Item</option>
                                        <option <?php echo $group_by=='customer'?'selected':''; ?> value="customer">Customer</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label for="sales_report_order_from">From <span class="required">*</span></label></td>
                                <td class="value">
                                    <input type="text" style="width:110px !important;" class=" required-entry input-text" title="From" value="<?php echo $from; ?>" id="sales_report_order_from" name="from"> 
                                    <img style="" title="Select Date" id="sales_report_order_from_trig" class="v-middle" alt="" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN); ?>adminhtml/default/enterprise/images/grid-cal.gif">
                                    <script type="text/javascript">
                                        //&lt;![CDATA[
                                        Calendar.setup({
                                            inputField: "sales_report_order_from",
                                            ifFormat: "%m/%e/%Y",
                                            showsTime: false,
                                            button: "sales_report_order_from_trig",
                                            align: "Bl",
                                            singleClick: true
                                        });
                                        //]]&gt;
                                    </script>            
                                </td>
                            </tr>
                            <tr>
                                <td class="label"><label for="sales_report_order_to">To <span class="required">*</span></label></td>
                                <td class="value">
                                    <input type="text" style="width:110px !important;" class=" required-entry input-text" title="To" value="<?php echo $to; ?>" id="sales_report_order_to" name="to"> 
                                    <img style="" title="Select Date" id="sales_report_order_to_trig" class="v-middle" alt="" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN); ?>adminhtml/default/enterprise/images/grid-cal.gif">
                                    <script type="text/javascript">
                                        //&lt;![CDATA[
                                        Calendar.setup({
                                            inputField: "sales_report_order_to",
                                            ifFormat: "%m/%e/%Y",
                                            showsTime: false,
                                            button: "sales_report_order_to_trig",
                                            align: "Bl",
                                            singleClick: true
                                        });
                                        //]]&gt;
                                    </script>            
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

<?php if ($group_by && $from && $to) { ?>
<?php $csvContent = array(); ?>
<div>
    <table cellspacing="0" class="actions">
        <tbody>
            <tr>
                <td class="export a-right">
                    <button style="" onclick="ExportCsv()" class="scalable task" type="button" title="ExportCsv" id="">
                        <span><span><span>Export to CSV</span></span></span>
                    </button>        
                    <button style="" onclick="PrintElem(document.getElementById('printarea'))" class="scalable task" type="button" title="Export" id="">
                        <span><span><span>Print</span></span></span>
                    </button>        
                </td>
                <td class="filter-actions a-right"></td>
            </tr>
        </tbody>
    </table>
    <div class="clear" style="clear:both;"></div>

    <div id="printarea">
        <div id="printable" style="width:1250px; margin-left:auto; margin-right:auto;" >
            <style>
                #div1-1 {display:none;}
                #div2 th div {text-align:center; border-bottom:1px solid #000; margin:auto; width:95%;}
                #div2 td div {margin:auto; width:93%;}
                a{ text-decoration:none !important; }
            </style>

            <div id="div1">
                <div id="div1-1" style="float:left">
                    <table>
                        <tr>
                            <td><?php echo date('h:i a', time()); ?></td>
                        </tr>
                        <tr>
                            <td><?php echo date('m/d/Y', time()); ?></td>
                        </tr>
                    </table>
                </div>
                <div id="div1-2">
                    <table style="margin:auto; text-align:center;">
                        <tr>
                            <td><h3>Seekins Precision</h3></td>
                        </tr>
                        <tr>
                            <td><h2 style="margin-bottom:-5px;margin-top:-15px;">Open Sales Orders by <?php echo $group_by=='item'?'Item':'Customer'?></h2></td>
                        </tr>
                        <tr>
                            <td><h3><?php echo $from.' - '.$to; ?></h3></td>
                        </tr>
                    </table>
                </div>
                <?php array_push($csvContent, 'Generated on: '.date('m/d/Y h:i a', time()), ''); ?>
                <?php array_push($csvContent, 'Seekins Precision'); ?>
                <?php array_push($csvContent, 'Open Sales Orders by '.($group_by=='item'?'Item':'Customer')); ?>
                <?php array_push($csvContent, $from.' - '.$to, ''); ?>
            </div>
            <div class="clear" style="clear:both;"></div>

            <?php $productLoadId = 0; ?>
            <?php $productTotalQty = 0; ?>
            <?php $productTotalQtyInvoiced = 0; ?>
            <?php $productTotalQtyBack = 0; ?>
            <?php $TotalQty = 0; ?>
            <?php $TotalQtyInvoiced = 0; ?>
            <?php $TotalQtyBack = 0; ?>
            <?php if($group_by=='item') {?>
            <div id="div2">
                <?php $saleItem = $this->getSalesOrderByItem($from, $to); ?>
                <table id="dataTable" style="width: 100%;">
                    <tr>
                        <th><div>Item Description</div></th>
                        <th><div>Date</div></th>
                        <!--<th><div>Due Date</div></th>--> 
                        <th><div>Num</div></th> 
                        <th><div>Name</div></th> 
                        <th><div>Ordered</div></th> 
                        <th><div>Invoiced</div></th> 
                        <th><div>Backordered</div></th>
                    </tr>
                    <?php array_push($csvContent, 'Item Description~Date~Num~Name~Ordered~Invoiced~Backourdered'); ?>
                    <?php $productName = null; ?>
                    <?php $productSku = null; ?>
                    <?php if(!count($saleItem)){?>
                        <tr>
                            <td colspan="7"><div style="text-align:center; margin-top:15px;"><h4>No records found.</h4></div></td>
                        </tr>
                        <?php array_push($csvContent, 'No records found.'); ?>
                    <?php } ?>
                    <?php foreach ($saleItem as $item) { ?>
                        <?php
                            if($item['parent_item_id']){
                                $parentItem = Mage::getSingleton('sales/order_item')->load($item['parent_item_id']);
                                if($parentItem->getItemId()){
                                    $item['qty_canceled'] = $parentItem->getQtyCanceled();
                                    $item['qty_invoiced'] = $parentItem->getQtyInvoiced();
                                    $item['qty_ordered'] = $parentItem->getQtyOrdered();
                                    $item['qty_refunded'] = $parentItem->getQtyRefunded();
                                    $item['qty_shipped'] = $parentItem->getQtyShipped();
                                    if($parentItem->getQtyBackordered()!=null){
                                        $item['qty_backordered'] = $parentItem->getQtyBackordered();
                                    }
                                    else
                                    {
                                        $item['qty_backordered'] = $parentItem->getQtyOrdered();
                                    }
                                }
                            }
                            
                            $itemOrderedQty = 0;
                            $itemInvoiced = 0;
                            $itemBackordered = 0;
                                
                            $canceled    = (float)$item['qty_canceled'];
                            $invoiced    = (float)$item['qty_invoiced'];
                            $ordered     = (float)$item['qty_ordered'];
                            $refunded    = (float)$item['qty_refunded'];
                            $shipped     = (float)$item['qty_shipped'];
                            
                            $actuallyOrdered = $ordered - $canceled - $refunded;
                            if((float)$item['qty_backordered'] + max($invoiced, $shipped) > $actuallyOrdered){
                                $backordered = $actuallyOrdered - max($invoiced, $shipped);
                            }else{
                                $backordered = (float)$item['qty_backordered'];
                            }
                            
                            if (!$invoiced && !$shipped && !$refunded && !$canceled && !$backordered) { //status pending
                                $itemOrderedQty = $actuallyOrdered;
                            }
                            else if ($shipped && $invoiced && ($actuallyOrdered == $shipped)) { //status shipped
                                continue;
                            }
                            else if ($invoiced && !$shipped && ($actuallyOrdered == $invoiced)) { //status invoiced
                                continue;
                            }
                            else if ($backordered && ($actuallyOrdered == $backordered) ) { //status backordered
                                $itemOrderedQty = $actuallyOrdered;
                                $itemInvoiced = $invoiced;
                            }
                            else if ($refunded && $ordered == $refunded) { //status refunded
                                continue;
                            }
                            else if ($canceled && $ordered == $canceled) { //status canceled
                                continue;
                            }
                            else if ((max($shipped, $invoiced) < $actuallyOrdered)) { //status partial
                                $itemOrderedQty = $actuallyOrdered;
                                $itemInvoiced = $invoiced;
                            }
                        ?>
                        <?php if ($itemOrderedQty || $itemInvoiced || $itemBackordered) { ?>
                            <?php if ($productLoadId != $item['product_id']) { ?>
                                <?php if($productLoadId != 0){ ?>
                                    <!--end for item-->
                                    <tr>
                                        <td colspan="2"><div style="margin-left:10% !important;"><?php echo 'Total '.$productSku.' ('.$productName.')'; ?></div></td>
                                        <!--<td><div>&nbsp;</div></td>-->
                                        <td><div>&nbsp;</div></td>
                                        <td><div>&nbsp;</div></td>
                                        <td><div style="border-top:1px solid #000; text-align:right;"><?php echo $productTotalQty; ?></div></td>
                                        <td><div style="border-top:1px solid #000; text-align:right;"><?php echo $productTotalQtyInvoiced; ?></div></td>
                                        <td><div style="border-top:1px solid #000; text-align:right;"><?php echo $productTotalQtyBack; ?></div></td>
                                    </tr>
                                    <?php 
                                        array_push($csvContent, 
                                                'Total '.$productSku.' ('.$productName.')'.'~'.
                                                ''.'~'.
                                                ''.'~'.
                                                ''.'~'.
                                                $productTotalQty.'~'.
                                                $productTotalQtyInvoiced.'~'.
                                                $productTotalQtyBack
                                            ); 
                                    ?>
                                    <?php $productTotalQty = 0; ?>
                                    <?php $productTotalQtyInvoiced = 0; ?>
                                    <?php $productTotalQtyBack = 0; ?>
                                <?php } ?>
                                <?php $productLoadId = $item['product_id']; ?>
                                <?php $productName = $item['product_name']; ?>
                                <?php $productSku = $item['sku']; ?>
                                <!--start for new item-->
                                <tr>
                                    <td><div><strong><?php echo $productSku.' ('.$productName.')'; ?><strong></div></td>
                                    <td><div>&nbsp;</div></td>
                                    <td><div>&nbsp;</div></td>
                                    <td><div>&nbsp;</div></td>
                                    <td><div>&nbsp;</div></td>
                                    <td><div>&nbsp;</div></td>
                                    <td><div>&nbsp;</div></td>
                                </tr>
                                <?php array_push($csvContent, $productSku.' ('.$productName.')'); ?>
                            <?php } ?>
                            <tr>
                                <td><div>&nbsp;<?php //echo $item['product_name']; ?></div></td>
                                <td><div><?php echo date('m/d/Y', strtotime($item['original_date_created'])); ?></div></td>
                                <!--<td><div>&nbsp;</div></td>--> 
                                <td>
                                    <div>
                                        <a href="<?php echo Mage::helper('adminhtml')->getUrl("adminhtml/sales_order/view", array('order_id'=>$item['order_id'])); ?>">
                                            <?php echo $item['increment_id']; ?>
                                        </a>
                                    </div>
                                </td> 
                                <td><div><?php echo $item['firstname'].' '.$item['lastname']; ?></div></td>
                                <?php
                                $itemOrderedQty2 = $itemInvoiced + $itemBackordered;
                                if($itemOrderedQty2 < $itemOrderedQty)
                                {
                                    if($itemBackordered == 0 && $itemInvoiced == 0)
                                    {
                                        $itemBackordered = $itemOrderedQty;
                                    }
                                    elseif($itemBackordered == 0 && $itemInvoiced != 0)
                                    {
                                        $itemBackordered = $itemOrderedQty - $itemInvoiced;
                                    }
                                }
                                ?>
                                <td><div style="text-align:right;"><?php echo $itemOrderedQty; ?></div></td>
                                <td><div style="text-align:right;"><?php echo $itemInvoiced; ?></div></td>
                                <td><div style="text-align:right;"><?php echo $itemBackordered; ?></div></td>
                            </tr>
                            <?php 
                                array_push($csvContent,
                                    ''.'~'.
                                    date('m/d/Y', strtotime($item['created_at'])).'~'.
                                    $item['increment_id'].'~'.
                                    $item['firstname'].' '.$item['lastname'].'~'.
                                    $itemOrderedQty.'~'.
                                    $itemInvoiced.'~'.
                                    $itemBackordered
                                ); 
                            ?>
                            <?php $productTotalQty = $productTotalQty + $itemOrderedQty; ?>
                            <?php $productTotalQtyInvoiced = $productTotalQtyInvoiced + $itemInvoiced; ?>
                            <?php $productTotalQtyBack = $productTotalQtyBack + $itemBackordered; ?>

                            <?php $TotalQty = $TotalQty + $itemOrderedQty; ?>
                            <?php $TotalQtyInvoiced = $TotalQtyInvoiced + $itemInvoiced; ?>
                            <?php $TotalQtyBack = $TotalQtyBack + $itemBackordered; ?>
                        <?php } ?>
                    <?php } ?>
                    <?php if($productLoadId != 0){ ?>
                        <!--end for item-->
                        <tr>
                            <td colspan="2"><div style="margin-left:10% !important;"><?php echo 'Total '.$productSku.' ('.$productName.')'; ?></div></td>
                            <!--<td><div>&nbsp;</div></td>-->
                            <td><div>&nbsp;</div></td>
                            <td><div>&nbsp;</div></td>
                            <td><div style="border-top:1px solid #000; text-align:right;"><?php echo $productTotalQty; ?></div></td>
                            <td><div style="border-top:1px solid #000; text-align:right;"><?php echo $productTotalQtyInvoiced; ?></div></td>
                            <td><div style="border-top:1px solid #000; text-align:right;"><?php echo $productTotalQtyBack; ?></div></td>
                        </tr>
                        <?php 
                            array_push($csvContent,
                                'Total '.$productSku.' ('.$productName.')'.'~'.
                                ''.'~'.
                                ''.'~'.
                                ''.'~'.
                                $productTotalQty.'~'.
                                $productTotalQtyInvoiced.'~'.
                                $productTotalQtyBack
                            ); 
                        ?>
                        <?php $productTotalQty = 0; ?>
                        <?php $productTotalQtyInvoiced = 0; ?>
                        <?php $productTotalQtyBack = 0; ?>
                        <tr>
                            <td colspan="2"><div style="margin-left:5% !important;"><h4>Total Inventory</h4></div></td>
                            <!--<td><div>&nbsp;</div></td>-->
                            <td><div>&nbsp;</div></td>
                            <td><div>&nbsp;</div></td>
                            <td><div style="border-top:3px solid #000; text-align:right;"><?php echo $TotalQty; ?></div></td>
                            <td><div style="border-top:3px solid #000; text-align:right;"><?php echo $TotalQtyInvoiced; ?></div></td>
                            <td><div style="border-top:3px solid #000; text-align:right;"><?php echo $TotalQtyBack; ?></div></td>
                        </tr>
                        <?php 
                            array_push($csvContent,
                                'Total Inventory'.'~'.
                                ''.'~'.
                                ''.'~'.
                                ''.'~'.
                                $TotalQty.'~'.
                                $TotalQtyInvoiced.'~'.
                                $TotalQtyBack
                            ); 
                        ?>
                    <?php } ?>
                </table>
            </div>
            
            <?php } else if($group_by=='customer') {?>
            <div id="div2">
                <?php $saleItem = $this->getSalesOrderByCustomer($from, $to); ?>
                <table id="dataTable" style="width: 100%;">
                    <tr>
                        <th><div>Name</div></th> 
                        <th><div>Date</div></th>
                        <!--<th><div>Due Date</div></th>--> 
                        <th><div>Num</div></th> 
                        <th><div>Item Description</div></th>
                        <th><div>Ordered</div></th> 
                        <th><div>Invoiced</div></th> 
                        <th><div>Backordered</div></th>
                    </tr>
                    <?php array_push($csvContent, 'Name~Date~Num~Item Description~Ordered~Invoiced~Backourdered'); ?>
                    <?php $productName = null; ?>
                    <?php if(!count($saleItem)){?>
                        <tr>
                            <td colspan="7"><div style="text-align:center; margin-top:15px;"><h4>No records found.</h4></div></td>
                        </tr>
                        <?php array_push($csvContent, 'No records found.'); ?>
                    <?php } ?>
                    <?php foreach ($saleItem as $item) { ?>
                        <?php
                            if($item['parent_item_id']){
                                $parentItem = Mage::getSingleton('sales/order_item')->load($item['parent_item_id']);
                                if($parentItem->getItemId()){
                                    $item['qty_canceled'] = $parentItem->getQtyCanceled();
                                    $item['qty_invoiced'] = $parentItem->getQtyInvoiced();
                                    $item['qty_ordered'] = $parentItem->getQtyOrdered();
                                    $item['qty_refunded'] = $parentItem->getQtyRefunded();
                                    $item['qty_shipped'] = $parentItem->getQtyShipped();
                                    if($parentItem->getQtyBackordered()!=null){
                                        $item['qty_backordered'] = $parentItem->getQtyBackordered();
                                    } 
                                }
                            }
                            
                            $itemOrderedQty = 0;
                            $itemInvoiced = 0;
                            $itemBackordered = 0;
                                
                            $canceled    = (float)$item['qty_canceled'];
                            $invoiced    = (float)$item['qty_invoiced'];
                            $ordered     = (float)$item['qty_ordered'];
                            $refunded    = (float)$item['qty_refunded'];
                            $shipped     = (float)$item['qty_shipped'];
                            
                            $actuallyOrdered = $ordered - $canceled - $refunded;
                            if((float)$item['qty_backordered'] + max($invoiced, $shipped) > $actuallyOrdered){
                                $backordered = $actuallyOrdered - max($invoiced, $shipped);
                            }else{
                                $backordered = (float)$item['qty_backordered'];
                            }
                            
                            if (!$invoiced && !$shipped && !$refunded && !$canceled && !$backordered) { //status pending
                                $itemOrderedQty = $actuallyOrdered;
                            }
                            else if ($shipped && $invoiced && ($actuallyOrdered == $shipped)) { //status shipped
                                continue;
                            }
                            else if ($invoiced && !$shipped && ($actuallyOrdered == $invoiced)) { //status invoiced
                                continue;
                            }
                            else if ($backordered && ($actuallyOrdered == $backordered) ) { //status backordered
                                $itemOrderedQty = $actuallyOrdered;
                                $itemInvoiced = $invoiced;
                                $itemBackordered = $backordered;
                            }
                            else if ($refunded && $ordered == $refunded) { //status refunded
                                continue;
                            }
                            else if ($canceled && $ordered == $canceled) { //status canceled
                                continue;
                            }
                            else if ((max($shipped, $invoiced) < $actuallyOrdered)) { //status partial
                                $itemOrderedQty = $actuallyOrdered;
                                $itemInvoiced = $invoiced;
                                $itemBackordered = $backordered;
                            }
                        ?>
                        <?php if ($itemOrderedQty || $itemInvoiced || $itemBackordered) { ?>
                            <?php if ($productLoadId != $item['customer_id']) { ?>
                                <?php if($productLoadId != 0){ ?>
                                    <!--end for item-->
                                    <tr>
                                        <td><div style="margin-left:10% !important;"><?php echo 'Total ('.$productName.')'; ?></div></td>
                                        <td><div>&nbsp;</div></td>
                                        <td><div>&nbsp;</div></td>
                                        <td><div>&nbsp;</div></td>
                                        <td><div style="border-top:1px solid #000; text-align:right;"><?php echo $productTotalQty; ?></div></td>
                                        <td><div style="border-top:1px solid #000; text-align:right;"><?php echo $productTotalQtyInvoiced; ?></div></td>
                                        <td><div style="border-top:1px solid #000; text-align:right;"><?php echo $productTotalQtyBack; ?></div></td>
                                    </tr>
                                    <?php 
                                        array_push($csvContent, 
                                                'Total ('.$productName.')'.'~'.
                                                ''.'~'.
                                                ''.'~'.
                                                ''.'~'.
                                                $productTotalQty.'~'.
                                                $productTotalQtyInvoiced.'~'.
                                                $productTotalQtyBack
                                            ); 
                                    ?>
                                    <?php $productTotalQty = 0; ?>
                                    <?php $productTotalQtyInvoiced = 0; ?>
                                    <?php $productTotalQtyBack = 0; ?>
                                <?php } ?>
                                <?php $productLoadId = $item['customer_id']; ?>
                                <?php $productName = $item['firstname'].' '.$item['lastname']; ?>
                                <!--start for new item-->
                                <tr>
                                    <td colspan="2"><div><strong><?php echo $productName; ?><strong></div></td>
                                    <!--<td><div>&nbsp;</div></td>-->
                                    <td><div>&nbsp;</div></td>
                                    <td><div>&nbsp;</div></td>
                                    <td><div>&nbsp;</div></td>
                                    <td><div>&nbsp;</div></td>
                                    <td><div>&nbsp;</div></td>
                                </tr>
                                <?php array_push($csvContent, $productName); ?>
                            <?php } ?>
                            <tr>
                                <td><div>&nbsp;<?php //echo $item['firstname'].' '.$item['lastname']; ?></div></td> 
                                <td><div><?php echo date('m/d/Y', strtotime($item['created_at'])); ?></div></td>
                                <!--<td><div>&nbsp;</div></td>--> 
                                <td>
                                    <div>
                                        <a href="<?php echo Mage::helper('adminhtml')->getUrl("adminhtml/sales_order/view", array('order_id'=>$item['order_id'])); ?>">
                                            <?php echo $item['increment_id']; ?>
                                        </a>
                                    </div>
                                </td> 
                                <td><div><?php echo $item['sku'].' ('.$item['product_name'].')'; ?></div></td>
                                <td><div style="text-align:right;"><?php echo $itemOrderedQty; ?></div></td> 
                                <td><div style="text-align:right;"><?php echo $itemInvoiced; ?></div></td> 
                                <td><div style="text-align:right;"><?php echo $itemBackordered; ?></div></td>
                            </tr>
                            <?php 
                                array_push($csvContent,
                                    ''.'~'.
                                    date('m/d/Y', strtotime($item['created_at'])).'~'.
                                    $item['increment_id'].'~'.
                                    $item['product_name'].'~'.
                                    $itemOrderedQty.'~'.
                                    $itemInvoiced.'~'.
                                    $itemBackordered
                                ); 
                            ?>
                            <?php $productTotalQty = $productTotalQty + $itemOrderedQty; ?>
                            <?php $productTotalQtyInvoiced = $productTotalQtyInvoiced + $itemInvoiced; ?>
                            <?php $productTotalQtyBack = $productTotalQtyBack + $itemBackordered; ?>

                            <?php $TotalQty = $TotalQty + $itemOrderedQty; ?>
                            <?php $TotalQtyInvoiced = $TotalQtyInvoiced + $itemInvoiced; ?>
                            <?php $TotalQtyBack = $TotalQtyBack + $itemBackordered; ?>
                        <?php } ?>
                    <?php } ?>
                    <?php if($productLoadId != 0){ ?>
                        <!--end for item-->
                        <tr>
                            <td colspan="2"><div style="margin-left:10% !important;"><?php echo 'Total ('.$productName.')'; ?></div></td>
                            <!--<td><div>&nbsp;</div></td>-->
                            <td><div>&nbsp;</div></td>
                            <td><div>&nbsp;</div></td>
                            <td><div style="border-top:1px solid #000; text-align:right;"><?php echo $productTotalQty; ?></div></td>
                            <td><div style="border-top:1px solid #000; text-align:right;"><?php echo $productTotalQtyInvoiced; ?></div></td>
                            <td><div style="border-top:1px solid #000; text-align:right;"><?php echo $productTotalQtyBack; ?></div></td>
                        </tr>
                        <?php 
                            array_push($csvContent,
                                'Total ('.$productName.')'.'~'.
                                ''.'~'.
                                ''.'~'.
                                ''.'~'.
                                $productTotalQty.'~'.
                                $productTotalQtyInvoiced.'~'.
                                $productTotalQtyBack
                            ); 
                        ?>
                        <?php $productTotalQty = 0; ?>
                        <?php $productTotalQtyInvoiced = 0; ?>
                        <?php $productTotalQtyBack = 0; ?>
                        <tr>
                            <td colspan="2"><div style="margin-left:5% !important;"><h4>Total Assembly</h4></div></td>
                            <!--<td><div>&nbsp;</div></td>-->
                            <td><div>&nbsp;</div></td>
                            <td><div>&nbsp;</div></td>
                            <td><div style="border-top:3px solid #000; text-align:right;"><?php echo $TotalQty; ?></div></td>
                            <td><div style="border-top:3px solid #000; text-align:right;"><?php echo $TotalQtyInvoiced; ?></div></td>
                            <td><div style="border-top:3px solid #000; text-align:right;"><?php echo $TotalQtyBack; ?></div></td>
                        </tr>
                        <?php 
                            array_push($csvContent,
                                'Total Inventory'.'~'.
                                ''.'~'.
                                ''.'~'.
                                ''.'~'.
                                $TotalQty.'~'.
                                $TotalQtyInvoiced.'~'.
                                $TotalQtyBack
                            ); 
                        ?>
                    <?php } ?>
                </table>
            </div>
            <?php } ?>
            
            <div class="clear" style="clear:both;"></div>
        </div>
    </div>
</div>
<?php
    $file = fopen(Mage::getBaseDir('var') . "/csvreport/OpenSalesOrdersReport.csv", "w",'~');

    foreach ($csvContent as $line) {
        fputcsv($file, explode('~', $line));
    }

    fclose($file);
?>
<?php } ?>
