<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 7/7/14
 * Time: 9:27 AM
 */
?>
<?php $archiveFfls = $this->getArchiveFflList(); ?>
<?php if (count($archiveFfls) > 0): ?>
<div class="">
    <h3>Archive Ffls</h3>
</div>
<table class="data-table" id="archive-ffl-list">
    <thead>
    <tr>
        <th class="a-center">FFL Number</th>
        <th class="a-center">FFL Holder Name</th>
        <th class="a-center">FFL Holder Business Name</th>
        <!--<th class="a-center">FFL Holder Address Line 1</th>
        <th class="a-center">FFL Holder Address Line II</th>
        <th class="a-center">FFL Holder Phone Number</th-->
        <th class="a-center">FFL Expiration Date</th>
    </tr>
    </thead>
    <?php foreach($archiveFfls as $archiveFfl): ?>
        <tr>
            <td><?php echo $archiveFfl->getFflNumber() ?></td>
            <td><?php echo $archiveFfl->getFflHolderName() ?></td>
            <td><?php echo $archiveFfl->getFflHolderBusinessName() ?></td>
           <!-- <td><?php /*echo $archiveFfl->getFflHolderAddressLine() */?></td>
            <td><?php /*echo $archiveFfl->getFflHolderAddressLine2() */?></td>
            <td><?php /*echo $archiveFfl->getFflHolderPhoneNumber() */?></td>-->
            <td><?php echo Mage::helper('core')->formatDate($archiveFfl->getFflExpirationDate(), 'short', false); ?></td>
        </tr>
    <?php endforeach; ?>
</table>
<script type="text/javascript">decorateTable('archive-ffl-list')</script>
<?php endif; ?>