<div class="welcome-msg">
    <?php //if (Mage::getSingleton('customer/session')->isLoggedIn()): ?>
        <div class="logged-in-as">
            <?php echo $this->getCustomerWelcomeMessage(); ?>
        </div>
        <div class="logged-in-customer-name">
            <?php

            echo $this->getCustomerWelcomeName();
            /*if (Mage::getSingleton('customer/session')->isLoggedIn()) {
                echo $this->__('%s, ', Mage::getSingleton('customer/session')->getCustomer()->getName());
            } else {
                echo Mage::getStoreConfig('design/header/welcome');
            }*/
            ?>
            <?php echo $this->getLogoutLink() ?>
        </div>

        <?php
        //$company = "";
        //$company = $customerAddressId->getCompany();

        ?>

        <div class="logged-in-customer-company">
            <?php if ($this->getCompanyName()): ?>
                <?php echo $this->getCompanyName(); ?>
            <?php endif; ?>
        </div>
        <div class="b2b-group-name">
            <?php echo $this->getCustomerLabel() ?>
        </div>
        <div class="my-account-track-orders-wrap">
            <span class="my-account-span"><?php echo $this->getMyAccountLink() ?></span>&nbsp;
            |&nbsp;<span class="track-orders-span"><?php echo $this->getTrackOrderLink() ?></span>
        </div>
    <?php //else: ?>
        <?php echo $this->getLoginLink() ?>
    <?php //endif; ?>
</div>