.block
{
    margin-left: 10px;
    width: 82.5%;
    float: left;
}

.vss_sidebar
{
    height: 400px;
}

#general
{

}

#youtube
{
    display: none;
}

#vimeo
{
    display: none;
}

#dailymotion
{
    display: none;
}


.page-header
{
    padding-top: 10px;
    height: 50px;
}

.validation_error_msg
{
    color: #d3593d;
    display: none;
}


.blinking
{
    animation: fading 4s linear;
}

@keyframes fading {
    0%
    { 
        opacity: 1;
    }
    25%
    { 
        opacity: 0.0;
    }
    50%
    { 
        opacity: 1;
    }
    75%
    {
        opacity: 0.0;
    }
    100%
    {
        opacity: 1;
    }

}

.custom-input-field
{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.custom-select-box
{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 4px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.custom-color-field
{
    border: 1px solid #ccc;
    padding: 0px 0px;
    border-radius: 3px;
    height: 31px;
}

.switchery
{
    vertical-align: 0px !important;
}



td.no_top_border{
        border-top :none !important; 
}
.vss_info1  i {
        margin-left: 5px !important; 
        margin-top: 7px !important;
        cursor: pointer;
}
.vss_info1 .glyphicon{
        color:#496CAD;
}

.color-preview{    
        border: 1px solid #000000;
        float: left;
        height: 16px;
        margin: 6px 0 0 6px;
        width: 16px;
}

#tab_general_settings_contents table {
        width: 100% !important; 
}


tbody > tr > td
{
    padding: 8px;
    line-height: 1.5;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}


/*************************Edit and Add Form ************************/
.main_header
{
    background-color: #496CAD;
    color: #fff;
    padding: 14px;
}

.text_header
{
    float:left;
    font-size: 24px !important;
}

.block_form
{
    margin-left: 10px;
    width: 98.5%;
    float: left;
}

#table_edit_form tr td
{
    /*width: 200px !important;*/
    /*padding-left: 250px;*/
}



/*************************Show Videos Table*************************/

#div_show_all_container
{
    
}
#div_header
{
    background: #6f8992;
    padding: 2px 10px;
    height: 25px;
}
#div_header_text
{
    width: 50%;
    color: white;
    font-weight: bold;
}
#div_header_button
{
    float: right;
    margin-top: -17px;
}

#div_main_body
{
    border: 1px solid #d6d6d6;
    background: #fafafa;
}

#table_head
{
    
    /*background: url(images/filter_row_bg.gif) repeat-x #e3eff1;*/
    cursor: default;
}

#table_videos tr
{
    
}

#table_videos td
{
    
    border-width: 0 1px 1px 0;
    border-color: #dadfe0;
    border-style: solid;
}

#table_videos th
{
    background: url(../images/sort_row_bg.gif) 0 50% repeat-x;
    border-width: 1px;
    border-color: #f9f9f9 #d1cfcf #f9f9f9 #f9f9f9;
    border-style: solid;
    padding-top: 1px;
    padding-bottom: 0;
    font-size: .9em;
}

.my_custom_button
{
    background: #f77c16;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: #ed6502 #a04300 #a04300 #ed6502;
    padding: 1px 7px 2px 7px;
}

.my_custom_button:hover
{
    cursor: pointer;
}

#tost_clone
{
    position: absolute;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #d3593d;
    padding-top: 20px;
    margin-left: 31%;
    border-radius: 20px;
    font-weight: bold;
    color: #ffffff;
    display: block;
    opacity: 0;
    transition-duration: 1s;
    
}


.div_help
{
    clear: both;
    margin-top: 2px;
    color: green;
    font-family: 'Open Sans', sans-serif;
    display: none;
}

.fixed_width
{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}