<?php
/*
 * Inner DIV.popup-info is available var like
 * #{image}        - will find base-image under Li tag and will
 * #{price}        - will show different in price, simlar like in label under select option
 * 
 */


$_product    = $this->getProduct();
$_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
?>
<?php if ($_product->isSaleable() && count($_attributes)):?>
    <dl>
    <?php $i = 0;foreach($_attributes as $_attribute): $swatchIsActive=Mage::getModel('colorswatch/attribute_settings')->getConfig($_attribute->getAttributeId(), 'enable_colorswatch'); ?>
        <dt style="display:block"><label class="required"><em>*</em><?php echo $_attribute->getProductAttribute()->getStoreLabel()  ?></label></dt>
        <dd<?php if ($_attribute->decoratedIsLast){?> class="last"<?php }?>>
            <?php if (Mage::getStoreConfig('smdesign_colorswatch/general/show_select_box') || !$swatchIsActive || !$_attribute->getSwatches() || !$_product->getUseSmdColorswatch()) : ?>
            <!--<div class="input-box" style="display: block;">-->
            <div class="input-box config_select_wrap" style="display:block">
                <select name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" id="attribute<?php echo $_attribute->getAttributeId() ?>" class="<?php if (!$swatchIsActive || !$_attribute->getSwatches()) : ?>required-entry<?php endif; ?> required-entry super-attribute-select">
                    <option><?php echo $this->__('Choose an Option...') ?></option>
                </select>
            </div>
            <?php endif; ?>
            <?php  if ($_attribute->getSwatches() && $_product->getUseSmdColorswatch() && Mage::getModel('colorswatch/attribute_settings')->getConfig($_attribute->getAttributeId(), 'enable_colorswatch')) :  ?>
            <div class="color-swatch-wrapper">
                <ul id="color-swatch-attribute-<?php echo $_attribute->getAttributeId() ?>">
                    <?php foreach ($_attribute->getSwatches() as $swatch) :  if (0 == Mage::getStoreConfig('smdesign_colorswatch/general/swatch_load_type') || $swatch->getIsAssigned()) :?>
                    <li class="color-swatch-<?php echo $_attribute->getAttributeId() ?>-<?php echo $swatch->getOptionId(); ?> <?php echo ($swatch->getIsAssigned() ? '' : 'is-disabled-option');?>">
                        <?php $swatchImages = $this->helper('colorswatch/images')->init($swatch); ?>
                        <span class="swatch-title" style="width:<?php echo  Mage::getStoreConfig('smdesign_colorswatch/general/swatch_image_size_width'); ?>px; height:<?php echo Mage::getStoreConfig('smdesign_colorswatch/general/swatch_image_size_height'); ?>px; line-height:<?php echo Mage::getStoreConfig('smdesign_colorswatch/general/swatch_image_size_height'); ?>px;"><?php echo $swatch->getImageBase() ? '&nbsp;' : $swatch->getStoreLabel(); ?></span>

                        <?php if ($swatch->getImageBase()) : ?><img class="<?php echo $swatchImages->getClassName();?>" src="<?php echo $swatchImages->resize(); ?>" /><?php endif; ?>
                        <?php if ($swatch->getImageActive()) : $swatchImages->prepareImage(SMDesign_Colorswatch_Helper_Images::ACTIVE_IMAGE); ?><img class="<?php echo $swatchImages->getClassName();?>" src="<?php echo $swatchImages->resize(); ?>" /><?php endif; ?>
                        <?php if ($swatch->getImageHover()) : $swatchImages->prepareImage(SMDesign_Colorswatch_Helper_Images::HOVER_IMAGE); ?><img class="<?php echo $swatchImages->getClassName();?>" src="<?php echo $swatchImages->resize(); ?>" /><?php endif; ?>
                        <?php if ($swatch->getImageDisabled()) : $swatchImages->prepareImage(SMDesign_Colorswatch_Helper_Images::DISABLED_IMAGE); ?><img class="<?php echo $swatchImages->getClassName();?>" src="<?php echo $swatchImages->resize(); ?>" /><?php endif; ?>
                        <?php if (Mage::getStoreConfig('smdesign_colorswatch/popup_info/enabled')) : ?>
                        <div class="popup-info">
                            <?php echo $swatch->getSwatchDescription(); ?>
                        </div>
                        <?php endif; ?>
                    </li>

                    <?php endif; $i++; endforeach; ?>
                </ul>
                <input type="hidden" id="hidden-attribute-<?php echo $_attribute->getAttributeId() ?>" name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" class="required-entry hidden-super-attribute-select" />
            </div>
            <br class="clearfloat" />
            <?php endif; ?>
        </dd>
        <script type="text/javascript">

            document.observe("dom:loaded", function() {
                // initially hide all containers for tab content
                var attributeLabel = '<?php echo $_attribute->getProductAttribute()->getStoreLabel()  ?>';
                var id = 'attribute<?php echo $_attribute->getAttributeId() ?>';
                //alert(attributeLabel);
                if ($(id)) {
                    var arr =  $(id).childElements();
                    arr.each(function(node){
                        //alert(node.nodeName + ': ' + node.innerHTML);
                        if (node.innerHTML == 'Choose an Option...') {
                            node.innerHTML = 'Choose '+attributeLabel;
                        }
                    });
                }
            });

        </script>
    <?php endforeach; ?>
    </dl>
    <script type="text/javascript">
        var spConfig = new Product.Config(<?php echo $this->getJsonConfig() ?>);
        
        spConfig.setEnableToChangeLabel(true);
        spConfig.setEnableToResetValidationOnSelect(true);
        
        $$('.hidden-super-attribute-select').each( function(element, index) { element.callbackFunction = 'validateColorSwatch'; });
        function validateColorSwatch(elmId, result){
            var container = $(elmId).up('dd');
            if (result == 'failed') {
                container.removeClassName('validation-passed');
                container.addClassName('validation-failed');
            } else {
                container.removeClassName('validation-failed');
                container.addClassName('validation-passed');
            }
        }
        
        <?php if (Mage::getStoreConfig('smdesign_colorswatch/popup_info/enabled')) : ?>spConfig.initPopUpInfo();<?php endif; ?>
            
        spConfig.initAjaxRequest({
            url:'<?php echo $this->getUrl('colorswatchproductview/get/mainImage')?>',
            productId:'<?php echo $this->getProduct()->getId(); ?>',
            imageSelector:'.product-img-box .product-image img'
        });

        $$('.color-swatch-wrapper ul').each( function(element, index) {
            element.notAvailableCallback = function(config, option) {
                config.$prevSelectionInfo = '';

                config.settings.each(function(config, element, index) {
                    if (this.attributeId == element.attributeId) {
                        throw $break;
                    }
                    if (element.value) {
                        tmpOption = config.getOption(element.attributeId, element.value);
                        config.$prevSelectionInfo += element.config.label + ': '+tmpOption.label+"\r\n";
                    }
                }.bind(this, config));

                // here add custom code if need to do someting when is clicked swatch who not have for selected combinaction but that swatch is visible
                //console.log("Selected "+ elementUL.settings.config.label+" "+option.label+" is not available by previuse selection :\r\n" + config.$prevSelectionInfo);
            }
        } );    
        
        $$('.color-swatch-wrapper ul').each( function(element, index) {
            element.outOfStockCallback = function(config) {
                // this function will run when selected swatch not have his product in stock (when end product is "Out of stock")
            }
        } );

        document.observe("change", function(e,el){

            if (el = e.findElement('.select-clone')) {
                var attributeId=getAttributeId(el.id);
                triggerEvent(document.getElementById("attribute" + attributeId), "change");
                //triggerEvent($$('.super-attribute-select')[1],'change');
                setTimeout(function() {
                    var parentProductId = jQuery("#parent_product_id").val();
                    checkProductStatus(parentProductId,true);
                }, 600);
                if (el.up().up('dd').next('dd')) {
                    cloneSelectOption(attributeId);
                }
            }
        });

        // Custom prototype function to fire an event
        // http://stackoverflow.com/questions/460644/trigger-an-event-with-prototype
        function triggerEvent(element, eventName) {
            // safari, webkit, gecko
            if (document.createEvent)
            {
                var evt = document.createEvent('HTMLEvents');
                evt.initEvent(eventName, true, true);

                return element.dispatchEvent(evt);
            }

            // Internet Explorer
            if (element.fireEvent) {
                return element.fireEvent('on' + eventName);
            }
        }

        function getAttributeId(elementId) {
            var numberPattern = /[0-9]+/g;
            return elementId.match(numberPattern);
        }//function getAttributeId(elementId) {

        function cloneSelectOption(attributeId) {
            $sidebarSelects = jQuery('#sidebar').find('#product-options-wrapper').find('select.select-clone');
            if ($sidebarSelects.length > 1) {
                $sidebarSelects.each(function() {
                    var selectAttributeId = parseInt(getAttributeId(jQuery(this).attr('id')));
                    var selectedId = parseInt(attributeId);
                    if (selectedId != selectAttributeId) {
                        setTimeout(function() {
                            var originalValues = jQuery.map(jQuery('#attribute'+selectAttributeId+' option'), function(e) { return e.value; });
                            var cloneValues = jQuery.map(jQuery('#select-'+selectAttributeId+' option'), function(e) { return e.value; });
                            if(JSON.stringify(originalValues) != JSON.stringify(cloneValues)){
                                if (jQuery('#select-'+selectAttributeId).length > 0) {
                                    jQuery('#select-'+selectAttributeId).parent().html(jQuery('#attribute'+selectAttributeId).parent().html());
                                    jQuery('#sidebar').find('#product-options-wrapper').find('#attribute'+selectAttributeId).addClass('select-clone');
                                    jQuery('#sidebar').find('#product-options-wrapper').find('#attribute'+selectAttributeId).attr('onchange','cloneUpdateValues(this)');
                                    jQuery('#sidebar').find('#product-options-wrapper').find('#attribute'+selectAttributeId).attr('id','select-'+selectAttributeId);
                                    jQuery('#select-'+selectAttributeId).val('');
                                }
                            } else {
                                jQuery('#select-'+selectAttributeId).val('');
                            }
                        }, 500);
                    }
                });
            } //if ($sidebarSelects.length > 1) {
        }

        function cloneUpdateValues(ths){
            var attributeId = getAttributeId(jQuery(ths).attr('id'));
            if (jQuery.browser.msie && jQuery.browser.version == 7) {
                var selectedValue = jQuery("#select-"+attributeId+" option:selected").val();
            } else {
                var selectedValue = ths.value;
            }
            jQuery("#attribute-"+attributeId+" option").each(function(){
                if (jQuery(this).val() == selectedValue) {
                    jQuery(this).attr("selected",true);
                } else {
                    jQuery(this).removeAttr("selected");
                }
            });
            jQuery('#attribute'+attributeId).val(selectedValue);
            jQuery('#attribute'+attributeId).trigger("change");
            if (jQuery('.color-swatch-wrapper').length > 0) {
                var selectVal = selectedValue;
                var selectText = jQuery(ths).find("option:selected").text();
                selectText = selectText.split("+");
                var htmlLabel = jQuery('#attribute'+attributeId).parent('div').parent('dd').prev('dt').children('label').html();
                if (jQuery('#attribute'+attributeId).parent('div').parent('dd').prev('dt').children('label').children('span.option-name').length > 0) {
                    jQuery('#attribute'+attributeId).parent('div').parent('dd').prev('dt').children('label').children('span.option-name').html(selectText[0]);
                } else {
                    jQuery('#attribute'+attributeId).parent('div').parent('dd').prev('dt').children('label').html(htmlLabel+"<span class='option-name'>"+selectText[0]+"</span>");
                }
                jQuery('#color-swatch-attribute-'+attributeId).children('li').each(function() {
                    jQuery(this).removeClass('active');
                });
                jQuery('.color-swatch-'+attributeId+'-'+selectVal).addClass('active');
                jQuery('.color-swatch-'+attributeId+'-'+selectVal).children('img').trigger('click');
                jQuery('.color-swatch-'+attributeId+'-'+selectVal).children('span').trigger('click');
                jQuery('#hidden-attribute-'+attributeId).val(selectVal);
                jQuery('#hidden-'+attributeId).val(selectVal);
            }

        }//function cloneUpdateValues(ths){

        function proceedAddToCart(){
            jQuery( "#add-button" ).trigger( "click" );
        }

        function updateFormData(){
            if (jQuery('#sidebar').find('#product-options-wrapper').find('select').length == 1) {
                var attributeId = getAttributeId(jQuery('#sidebar').find('#product-options-wrapper').find('select').attr('id'));
                jQuery('#attribute'+attributeId).val(jQuery('#sidebar').find('#product-options-wrapper').find('select').val());
            } else {
                jQuery('#sidebar').find('#product-options-wrapper').find('select').each(function() {
                    var attributeId = getAttributeId(jQuery(this).attr('id'));
                    jQuery('#attribute'+attributeId).val(jQuery(this).val());
                });
            }
            if (productAddToCartForm.validator && productAddToCartForm.validator.validate()) {
                proceedAddToCart();
            } else {
                /*if (jQuery('#terms-and-agreements').length > 0) {
                    showTermsAndAgreements();
                    return false;
                }*/
                if (jQuery('#sidebar').find('#product-options-wrapper').find('select').length == 1) {
                    jQuery('#sidebar').find('#product-options-wrapper').find('select').addClass('validation-failed');
                    jQuery('#sidebar').find('#product-options-wrapper').find('select').parent().append('<div class="validation-advice" style="display:block">This is a required field.</div>');
                    jQuery('#sidebar').find('#product-options-wrapper').find('select').parent().parent('.input-box').addClass('validation-error');
                } else {
                    jQuery('#sidebar').find('#product-options-wrapper').find('select').each(function() {
                        if (jQuery(this).val() === "") {
                            jQuery(this).addClass('validation-failed');
                            jQuery(this).parent().append('<div class="validation-advice" style="">This is a required field.</div>');
                            jQuery(this).parent().parent('.input-box').addClass('validation-error');
                        } else {
                            jQuery(this).removeClass('validation-failed');
                            jQuery(this).siblings('div.validation-advice').remove();
                            jQuery(this).parent().parent('.input-box').removeClass('validation-error');
                        }
                    });
                }
            }
        }

        jQuery(function($){
            $(document).ready(function () {
                $("select.super-attribute-select").on("change", function() {
                    var attributeId = getAttributeId($(this).attr('id'));
                    var currentSelect = $(this);
                    setTimeout(function() {
                        $('#select-'+attributeId).val(currentSelect.val());
                        var parentProductId = jQuery("#parent_product_id").val();
                        checkProductStatus(parentProductId,true);
                    }, 600);
                    var isLast = $(this).parent('div').parent('dd').hasClass('last');
                    var hasNextSibling = $(this).parent('div').parent('dd').next('dd').length;

                    if (!isLast || hasNextSibling > 0) {
                        cloneSelectOption(attributeId);
                        $('#select-'+attributeId).val(currentSelect.val());
                    }
                }); // $("select.super-attribute-select" ).on("change", function() {
                if (jQuery.browser.msie && jQuery.browser.version == 7) {
                    $("select.select-clone").on("change", function() {
                        var ths = $(this);
                        setTimeout(function() {
                            cloneUpdateValues(ths);
                        }, 1000);
                    }); // $("select.super-attribute-select" ).on("change", function() {
                }

                $('.color-swatch-wrapper').find('img,span').on("click", function() {
                    var thsElement = $(this);
                    if ($(this).parent().hasClass('is-disabled-option')) {
                        var statusContainer = $$('span.black');
                        statusContainer.each(function(link){
                            if (jQuery('#parent_product_attribute_set_name').val() == 'Apparel') {
                                link.innerHTML = 'Out of Stock';
                            }

                        });
                    }
                    var listId = $(this).parent('li').attr('class').split(" ")[0];
                    var ulId = $(this).parent().parent('ul').attr('id');
                    var attributeId = getAttributeId(ulId);
                    var valueToReplace = 'color-swatch-'+attributeId+'-';
                    var selectedValue = listId.replace(valueToReplace, "");
                    $('#select-'+attributeId).val(selectedValue);
                    setTimeout(function() {
                        $('#select-'+attributeId).val(selectedValue);
                        var parentProductId = jQuery("#parent_product_id").val();
                        if (thsElement.parent().hasClass('is-disabled-option')) {
                        } else {
                            checkProductStatus(parentProductId,false);
                        }
                    }, 600);
                    var isLast = $(this).parent().parent('ul').parent('div').parent('dd').hasClass('last');
                    var hasNextSibling = $(this).parent().parent('ul').parent('div').parent('dd').next('dd').length;
                    if (!isLast || hasNextSibling > 0) {
                        cloneSelectOption(attributeId);
                        $('#select-'+attributeId).val(selectedValue);
                    }
                }); //$('.color-swatch-wrapper').find('img').on("click", function() {

                if ($('.color-swatch-wrapper').length > 0) {
                    $('.color-swatch-wrapper').siblings('.input-box').css('display', 'none');
                } else {
                    $('.options-container-big').find('dt').children('label').css('display', 'none');
                } //if ($('.color-swatch-wrapper').length > 0) {

            }); //$(document).ready(function () {
        }); //jQuery(function($){
    </script>
<?php
    if ($this->helper('colorswatch')->hasError()) {
        echo '<p class="error">' . $this->helper('colorswatch')->getError() . '</p>';
    }
?>
<?php endif;?>
