/**
 * Package: BinaryAnvil
 * Author: calabanzas
 * Date: 12/6/13
 * Time: 4:09 PM
 */

/*#sidebar .add_to_box, #sidebar_tab .to_top{
    display: none;
}*/

#sidebar .add_to_box.sticky, #sidebar #sidebar_tab.sticky
{
    position: fixed;
    top: 0;
}
#sidebar #sidebar_tab.sticky
{
    right:230px
}
#sidebar .product-options-bottom .price-box, #sidebar .options-container-big .buttons_wrap
{
    display: none;
}

#sidebar-container
{
    position: relative;
}

#sidebar-container #sidebar
{
    margin: 0;
    float: none;
    position: absolute;
    right: -45px;
    top: 0;
}

#sidebar
{
    *margin-left: -225px;
}

#zoomer-div { background: #fff!important; }