.add-to-cart-buttons
{
    width: 100%
}


#div_content
{
    margin-top: 25px;
    width: 100%;
}

#div_content_right
{
    margin-top: 50px;
    width: 100%;
}

#div_title_product_video
{
    color: #636363;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    background-color: #f6f6f6;
    border-bottom: 3px solid #e9e9e9;
    height: 50px;
    margin-bottom: .5em;
}

#header_inner
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}
#header_inner_right
{
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

#div_main_video
{
    
}

#div_video_frame
{
    width: 65%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    border-width: 0px;
}

#div_video_frame_right
{
    width: 70%;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.video_frame
{
    width: 100%;
    height: 100%;
    transition-duration: 1.5s;
    border-width: 0px !important;
}

.video_frame_right
{
    width: 100%;
    height: 100%;
    transition-duration: 1.5s;
    border-width: 0px !important;
}

#left_arrow
{
    position: absolute;
    width: 5%;
    height:65px;
    /* background-color: black; */
    background: url('images/prev.png') no-repeat;
    background-size: 100%;
    margin-top: 170px;
    margin-left: 5%;
}
#right_arrow
{
    position: absolute;
    width: 5%;
    height:65px;
    /*background-color: black;*/
    background: url('images/next.png') no-repeat;
    background-size: 100%;
    margin-top: 170px;
    margin-left: 82%;
}

#left_arrow_right
{
    position: absolute;
    width: 4%;
    height: 50px;
    /* background-color: black; */
    background: url('images/prev.png') no-repeat;
    background-size: 100%;
    margin-top: 125px;
    margin-left: 1%;
}
#right_arrow_right
{
    position: absolute;
    width: 4%;
    height: 50px;
    /* background-color: black; */
    background: url('images/next.png') no-repeat;
    background-size: 100%;
    margin-top: 125px;
    margin-left: 41%;
}

.add-to-cart-buttons
{
    width: 100%;
}