<?php
$widgetContent = $this->getData();
$items = Array();
for($count = 1; $count <= 6; $count++) {
    if(!isset($widgetContent['dealer_link_' . $count]) && !isset($widgetContent['dealer_image_' . $count])){
        continue;
    }
    if($count > 6){
        continue;
    }
    $urlStr = $widgetContent['dealer_link_' . $count];
    $parsed = parse_url($urlStr);
    if (empty($parsed['scheme'])) {
        $urlStr = 'http://' . ltrim($urlStr, '/');
    }
    $items[$count]['link'] = $urlStr;
    $items[$count]['image'] = $widgetContent['dealer_image_' . $count];
}
$total_items = count($items);
?>
<div class="featured-dealers <?php if($total_items == 4):?>set-of-four <?php endif; ?> <?php if($total_items == 5):?>set-of-five <?php endif; ?>">
    <div class="page-title">
        <h2><?php echo $this->__('Premier Retailers'); ?></h2>
    </div>
    <div class="dealers-list">
        <ul>
        <?php foreach($items as $key => $item): ?>
            <li>
                <a href="<?php echo $item['link'];?>" target="_blank">
                    <img src="<?php echo Mage::getBaseUrl('media') . $item['image'];?>"/>
                </a>
            </li>
            <?php if(($key == 2 && $total_items == 4) || ($key == 3 && $total_items >= 5)): ?>
        </ul>
        <ul>
            <?php endif; ?>
        <?php endforeach; ?>
        </ul>
    </div>
</div>
