<?php
$_product = $this->getProduct();
$_helper = $this->helper('catalog/output');
$zoomConfig = $this->getZoomConfig();
?>

<?php $attributeSetName = Mage::getModel('eav/entity_attribute_set')->load($_product->getAttributeSetId())->getAttributeSetName(); ?>


<script type="text/javascript">
    //<![CDATA[
    jQuery(function($){
        $(document).ready(function(){
            $('.images_thumbs li:first-child').addClass('active');
            $('.images_thumbs li').on('click',function(){
                $('.images_thumbs li').removeClass('active');
                $(this).addClass('active');
            });
        });
    });
    //]]>
</script>



<?php if ($attributeSetName == 'Complete Rifles' || $_product->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_SIMPLE) : ?>
    <a id="image-zoom" class="rifles_zoom" href="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(1740, 760);?>" onclick="return false;">
        <?php
        $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(870, 380).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
        ?>
    </a>
<?php else : ?>
    <a id="image-zoom" href="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize($zoomConfig['upscale_image_width'],$zoomConfig['upscale_image_height']);?>" onclick="return false;">
        <?php
        $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize($zoomConfig['image_width'],$zoomConfig['image_height']).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
        ?>
    </a>
<?php endif; ?>

    <script type="text/javascript">
        //<![CDATA[

        jQuery(function($){
            setInterval(function(){ $('.fancybox-inner').css('height', '420px') }, 500);
            $(".fancybox").fancybox({
                'width'				: '700px',
                'height'			: '400px',
                'autoScale'     	: true,
                'transitionIn'		: 'none',
                'transitionOut'		: 'none',
                'type'				: 'iframe'
            });
        });
        Event.observe(window, 'load', function() {
            SMDesignsmdzoomPreloader = new SMDesignsmdzoomPreload({showPreloader:<?php echo $zoomConfig['show_preloader']; ?>});
            SMDesignsmdzoomPreloader.setImage('/skin/frontend/enterprise/seekinsprecision/images/smdzoom/smdzoom_loading.gif');
            SMDesignsmdzoomPreloader.showPerload($('image'));
        });
        Event.observe(window, 'load', function() {
            new SMDZoom('image', {
                useParentNode: true,
                errorReport: <?php echo ($zoomConfig['show_info_error'] ? 'true' : 'false')?>,
                zoomRatio: <?php echo $zoomConfig['zoom_ratio'];?>,
                <?php if ($attributeSetName == 'Complete Rifles' || $_product->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_SIMPLE) : ?>
                width: 870,
                height: 380,
                <?php else : ?>
                width: <?php echo $zoomConfig['wrapper_width'];?>,
                height: <?php echo$zoomConfig['wrapper_height'];?>,
                <?php endif; ?>

                offsetLeft: <?php echo $zoomConfig['wrapper_offset_left'];?>,
                offsetTop: <?php echo $zoomConfig['wrapper_offset_top'];?>,
                onclick: function(zoomClass){},
                dblclick: function(zoomClass){},
                onInitializationComplete: function(){
                    SMDesignsmdzoomPreloader.removePerload($('image'));
                },
                <?php if($zoomConfig['show_zoom_effect'] != "none"): ?>
                startZoomEvent: function(zoomClass) {
                    if (!zoomClass.config.insideZoom) {
                        Element.setStyle(zoomClass.zoomWrapper, { display:'none' });
                        zoomClass.effect = new Effect.<?php echo $zoomConfig['show_zoom_effect']; ?>(zoomClass.zoomWrapper, { duration: 0.3, afterFinish:function() { zoomClass.effect = false; }.bind(zoomClass) });
                    } else {
                        Element.setStyle(zoomClass.zoomWrapper, { opacity:0});
                        zoomClass.effect = new Effect.Fade(zoomClass.zoomWrapper, { duration: 0.3, afterFinish:function() { zoomClass.effect = false; }.bind(zoomClass) });
                    }
                },
                <?php endif; ?>
                <?php if($zoomConfig['hide_zoom_effect'] != "none"): ?>
                stopZoomEvent: function(zoomClass){
                    zoomClass.effect = new Effect.<?php echo $zoomConfig['hide_zoom_effect']; ?>(zoomClass.zoomWrapper, {duration: 0.3 , afterFinish:function() {
                        if (zoomClass.zoomerDiv != zoomClass.zoomWrapper) { zoomClass.containerEl.parentNode.removeChild(zoomClass.zoomWrapper); }
                        zoomClass.containerEl.removeChild(zoomClass.zoomerDiv);
                        zoomClass.effect = false;
                    }.bind(zoomClass) });
                },
                <?php endif; ?>
                insideZoom: <?php echo ($zoomConfig['zoom_type'] != 0 ? 'true' : 'false')?>,
                insideZoomFull: <?php echo ($zoomConfig['zoom_type'] ==  2 ? 'true' : 'false')?>
            });
        });
        //]]>
    </script>
<?php if (count($this->getVideoGallery()) > 0 || count($this->getGalleryImages()) > 0): ?>
<div class="more-views">
    <?php if (count($this->getGalleryImages()) > 0): ?>
        <ul class="images_thumbs">
            <?php $images = array(); ?>
            <?php foreach ($this->getGalleryImages() as $key=>$_image): ?>
                <?php array_push($images, $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(580, 365)); ?>
                <li>
                    <?php if ($zoomConfig['more_view']) : ?>
                    <?php if ($attributeSetName == 'Complete Rifles' || $_product->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_SIMPLE) : ?>
                    <a onclick="SMDUpdateMainImage(this);return false;" href="<?php echo  $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(1740,760);?>" rel="<?php echo  $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(870,380);?>" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>">
                        <?php else: ?>
                        <a onclick="SMDUpdateMainImage(this);return false;" href="<?php echo  $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize($zoomConfig['upscale_image_width'],$zoomConfig['upscale_image_height']);?>" rel="<?php echo  $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize($zoomConfig['image_width'],$zoomConfig['image_height']);?>" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>">
                            <?php endif; ?>
                            <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($zoomConfig['thumbnail_width'],$zoomConfig['thumbnail_height']); ?>" width="<?php echo $zoomConfig['thumbnail_width']; ?>" height="<?php echo $zoomConfig['thumbnail_height']; ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" />
                        </a>
                        <?php else: ?>
                            <a href="#" onclick="gallery.show('<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(675, 400); ?>', 'image', '<?php echo $key; ?>');" title="<?php echo $this->escapeHtml($_image->getLabel()) ?>"><img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(71); ?>" width="71" height="71" alt="<?php echo $this->escapeHtml($_image->getLabel()) ?>" /></a>
                            <?php /*<a href="#" onclick="popWin('<?php echo $this->getGalleryUrl($_image) ?>', 'gallery', 'width=300,height=300,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>"><img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($zoomConfig['thumbnail_width'],$zoomConfig['thumbnail_height']); ?>" width="<?php echo $zoomConfig['thumbnail_width']; ?>" height="$zoomConfig['thumbnail_height']" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" /></a>*/ ?>
                        <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
    <?php if (count($this->getVideoGallery()) > 0): ?>
        <!--<h2><?php echo $this->__('Videos') ?></h2>-->
        <?php if (count($this->getVideoGallery()) > 0): ?>
            <?php $isMobile = $this->isMobile(); ?>
            <ul class="images_thumbs video-gallery-links" style="float:left;">
                <?php foreach ($this->getVideoGallery() as $_video): ?>
                    <li>
                        <?php if ($isMobile): ?>
                            <div class="m-video-thumb"><?php echo $this->getMobileEmbed($_video, 56, 56, false); ?></div>
                        <?php else: ?>
                            <a class="fancybox" href="<?php echo $this->getVideoGalleryUrl( $_video ); ?>"  title="<?php echo $this->htmlEscape($_video['label']) ?> " style="width:78px; height:56px">
                                <span></span>
                                <img width="56px" height="56px" src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_video['file'])->resize(78,78); ?>" width="78" height="78" alt="<?php echo $this->htmlEscape($_video['label']) ?>"  title="<?php echo $_video['label'] . ($_video['label'] && $_video['description']? ' - ' : '')  .$this->htmlEscape($_video['description']) ?>"/>
                            </a>
                        <?php endif; ?>
                    </li>
                <?php endforeach; ?>
            </ul>
        <?php endif;?>
    <?php endif; ?>
<?php else: ?>
    <?php if ($attributeSetName == 'Complete Rifles' || $_product->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_SIMPLE) : ?>
        <div class="more_views_empty_div">
    <?php endif; ?>
<?php endif;?>
</div><!--more_views_empty_div-->
<?php if ($zoomConfig['more_view']) : ?>
    <script type="text/javascript">
        //<![CDATA[
        function SMDUpdateMainImage(link){
            SMDesignsmdzoomPreloader.showPerload($('image'));
            $('image').src = link.rel;
            $('image-zoom').href = link.href;
        }
        //]]>
    </script>
<?php endif; ?>

    <section id="main_container" style="display: none;">
        <section class="gallery_wrap">
            <section class="gallery_top">
                &nbsp;
            </section><!--gallery_top-->

            <section class="gallery_content">
                <a class="close_me" href="#" onclick="gallery.hide();">Close</a>

                <section class="up_product_title">
                    <h2><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2>
                </section><!--up_product_title-->

                <section class="media_content">
                    <section class="gallery-thumbs">
                        <h2>Images</h2>

                        <?php if (count($this->getGalleryImages()) > 0): ?>
                            <ul>
                                <?php foreach ($this->getGalleryImages() as $key => $_image): ?>
                                    <li class="gallery-item gallery-image-<?php echo $key; ?>">
                                        <a href="#" onclick="gallery.preview('<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile())->resize(675, 400); ?>', 'image', '<?php echo $key; ?>');
                                            return false;" title="<?php echo $this->escapeHtml($_image->getLabel()) ?>"><img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(56); ?>" width="56" height="56" alt="<?php echo $this->escapeHtml($_image->getLabel()) ?>" /></a>
                                    </li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </section><!--gallery-thumbs-->

                    <section class="pop-up_main-image">
                        <img src="<?php echo $this->getSkinUrl(); ?>images/sample-gallery-image.jpg" alt="" />
                    </section><!--pop-up_main-image-->
                </section><!--media_content-->
            </section><!--gallery_content-->

            <section class="gallery_bottom">
                &nbsp;
            </section><!--gallery_bottom-->
        </section><!--gallery_wrap-->
    </section><!--main_container-->

<?php /*<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery.preloadGalleryImages = function () {
            for (var i = 0; i < arguments.length; i++) {
                jQuery("<img>").attr("src", arguments[i]);
            }
        };

        jQuery.preloadGalleryImages("<?php echo implode('","', $images); ?>");

        gallery = {
            show: function (src, type, key) {
                jQuery("body").append("<div class=\"gallery-overlay-wrap\" onclick=\"gallery.hide();\"></div>");
                jQuery("body").append("<div class=\"gallery-overlay-content\"></div>");
                jQuery(".gallery-overlay-wrap").css({
                    position: "fixed",
                    top: "0px",
                    left: "0px",
                    width: "100%",
                    height: "100%",
                    background: "#cacaca",
                    opacity: "0.85",
                    zIndex: "9",
                    display: "none"
                });

                jQuery(".gallery-overlay-content").css({
                    width: "931px",
                    height: "600px",
                    position: "fixed",
                    zIndex: "10",
                    display: "none"
                });

                jQuery(".gallery-overlay-content").css({
                    top: ((jQuery(window).height() - jQuery(".gallery-overlay-content").height()) / 2) + "px",
                    left: 50 + "%",
                    marginLeft: -(jQuery(".gallery-overlay-content").width() / 2) + "px"
                });

                jQuery(".gallery-overlay-content").append("<div class=\"gallery-main-content\"></div>");
                jQuery(".gallery-overlay-wrap").fadeIn("fast", function () {
                    jQuery(".gallery-overlay-content").fadeIn("fast", function () {
                        gallery.preview(src, type, key);
                    });
                });

                jQuery('body,html').animate({
                    scrollTop: 0
                });

                jQuery("li.gallery-item").removeClass('gallery-item-active');
                jQuery("li.gallery-" + type + '-' + key).addClass('active');

                gallery.setCurrentImage(".thumb_" + key);

            },
            hide: function () {
                jQuery(".gallery-overlay-content").fadeOut("fast", function () {
                    jQuery(".gallery-overlay-wrap").fadeOut("fast", function () {
                        jQuery(".gallery-overlay-wrap").remove();
                        jQuery(".gallery-overlay-content").remove();
                    });

                    jQuery("li.gallery-item").removeClass('active');
                });

                return false;
            },
            preview: function (src, type, key) {
                if (type === 'image') {
                    if (jQuery(".gallery-content-preview").length < 1) {
                        jQuery(".gallery-main-content").append('<div class="gallery-content-preview"></div>');
                        jQuery(".gallery-content-preview").html(jQuery("#main_container").html());
                    }

                    jQuery(".pop-up_main-image").html("<img src=\"" + src + "\" alt=\"\" />");
                }

                if (type === 'video') {
                    if (jQuery(".gallery-content-preview").length < 1) {
                        jQuery(".pop-up_main-image .video-object").css({position: 'relative', top: '10px'});
                        jQuery(".gallery-main-content").append('<div class="gallery-content-preview"></div>');
                        jQuery(".gallery-content-preview").html(jQuery("#main_container").html());
                    }
                    jQuery(".pop-up_main-image").load(src);
                }

                jQuery('body,html').animate({
                    scrollTop: 0
                });
                jQuery("li.gallery-item").removeClass('active');
                jQuery("li.gallery-" + type + '-' + key).addClass('active');
            },
            setCurrentImage: function (ths) {
                jQuery(".product-gallery-images li").each(function () {
                    jQuery(this).css({border: 'solid 1px #fff'});
                });

                if (ths === '.thumb_main') {
                    jQuery(".product-gallery-images li:first-child").css({border: 'solid 1px #000'});
                } else {
                    jQuery(ths).parent().css({border: 'solid 1px #000'});
                }
            }
        };
    });
</script> */ ?>