<script class="script-owl" type="text/javascript">
    //<![CDATA[
    var sectionList2 = new Array();
    //]]>
</script>
<?php $_productCollection=$this->getLoadedProductCollection() ?>
<?php if($_productCollection->count()): ?>

    <?php $_items = $_productCollection->getItems(); ?>
    <?php shuffle($_items); ?>
    <?php $_collectionSize = 4 ?>

        <?php $i=1; foreach ($_items as $_product): ?>
            <section id="product<?php echo $_product->getId() ?>" class="featured-product item" style="float: left;">
                <script type="text/javascript">
                    //<![CDATA[
                    sectionList2[<?php echo $i-1 ?>] = 'product<?php echo $_product->getId() ?>';
                    //]]>
                </script>
                <section class="product_image">
                    <a href="<?php echo $_product->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(202, 116); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" /></a>
                </section><!--product_image-->
                <div class="clear text-center">
                    <h2><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
                    <h3>&nbsp;</h3>
                    <p><a href="<?php echo $_product->getProductUrl() ?>" class="more_info">More Info</a></p>
                </div>

            </section>
        <?php $i++ ?>
        <?php endforeach ?>
<?php endif; ?>

<script class="script-owl" type="text/javascript">
    //<![CDATA[
    jQuery(function($){
        $(document).ready(function(){
            var showIndex = Math.floor((Math.random()*<?php echo $_productCollection->count() ?>));
            var sectionId = sectionList2[showIndex];
            $("#"+sectionId).show();
        });
    });
    //]]>
</script>
