<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 7/18/14
 * Time: 9:19 AM
 */
?>
<?php $mediaCollection = $this->getMediaList() ?>
<?php if(count($mediaCollection)): ?>
    <div class="media-page">
        <div class="page-title">
            <h2>Media Downloads</h2>
        </div>
        <table>
            <thead>
            <tr>
                <td>Name</td>
                 <td>File Description</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($mediaCollection as $media) : ?>
                <?php
                if (strpos($media->getFileName(), '.zip') !== FALSE):
                    ?>
                    <tr class="zip">
                        <td><a class="file-name" href="<?php echo Mage::helper('binaryanvil_media')->getPath($media->getFileName()) ?>"><?php echo $media->getFileHumanName() ?></a><div class="real-file-name">(<?php echo $media->getFileName(); ?>)</div></td>

                        <td><p class="file-description"><?php echo $media->getFileDescription(); ?></p></td>
                        <td><a class="download"
                               href="<?php echo Mage::helper('binaryanvil_media')->getPath($media->getFileName()) ?>">Download</a></td>
                    </tr>
                <?php
                else:
                    ?>
                    <tr class="pdf">
                        <td><a class="file-name" href="<?php echo Mage::helper('binaryanvil_media')->getPath($media->getFileName()) ?>"><?php echo $media->getFileHumanName() ?></a><div class="real-file-name">(<?php echo $media->getFileName(); ?>)</div></td>

                        <td><p class="file-description"><?php echo $media->getFileDescription(); ?></p></td>
                        <td><a class="download"
                               href="<?php echo Mage::helper('binaryanvil_media')->getPath($media->getFileName()) ?>">Download</a></td>
                    </tr>
                <?php endif; ?>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div><!--media-page-->
<?php else: ?>
    <div class="media-page">
        <div class="page-title">
            <h2>Media Downloads</h2>
        </div>
        <p class="note-msg"><?php echo $this->__('There are no media downloads.') ?></p>
    </div>
<?php endif; ?>