/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 Oct, 2014, 10:32:56 AM
    Author     : velocity-pc-1620
*/


.popup-sidebarMenu {
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #EFEFEF 100%);
    border-right: 2px solid #0D0F0F;
    font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
    height: 100%;
    right: -250px;
    position: absolute;
    box-shadow:1px 0 0 0 #FFFFFF inset, -8px 0 8px -5px rgba(0, 0, 0, 0.1) inset, 8px 0 8px -5px rgba(0, 0, 0, 0.1) inset;
    top: 216px;
    width: 250px;
    z-index: 89999;
    -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  transition:all 1.0s ease-in-out;
}
.popup-sidebarMenu .buttonsidebar {
   // background: url("../../../image/popup/leftArrow.png") no-repeat scroll center center #496CAD;
    border-radius: 4px;
    height: 30px;
    padding: 2px 0;
    position: absolute;
    left: -30px;
    top: 18px;
    width: 35px;
    z-index: 109999;
}
.popup-sidebarMenu .buttonsidebar a {
    display: block;
    height: 100%;
    width: 100%;
}
.popup-sidebarMenu ul {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 45px;
    width: 100%;
}
.popup-sidebarMenu div.submenu {
    position: relative;
}
.popup-sidebarMenu div.subbarMenu {
    position: absolute;
}
.popup-sidebarMenu h3 {
    color: #838383;
    display: block;
    font-size: 1em;
    font-weight: normal;
    left: 5px;
    position: absolute;
    top: 10px;
    width: 228px;
}
.popup-sidebarMenu .back {
    height: 32px;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 10px;
    width: 32px;
    z-index: 9000;
}
.popup-sidebarMenu .back a {
    background: url("images/back.svg") no-repeat scroll center center / 28px auto rgba(0, 0, 0, 0);
    display: block;
    height: 100%;
    width: 100%;
}
.popup-sidebarMenu ul li {
    display: block;
    float: left;
    list-style: none outside none;
    margin-top: 2px;
    overflow: visible;
    position: relative;
    width: 100%;
}
.popup-sidebarMenu ul li a {
    color: #F9F9F9;
    display: block;
    font-size: 0.9em;
    outline: medium none;
    padding: 10px 3px 10px 28px;
    text-shadow: 1px 1px #000000;
    width: 100%;
}
.popup-sidebarMenu .active {
    background-color: #12CADE !important;
    opacity: 1;
    text-decoration: none;
}
.popup-sidebarMenu ul li a:hover {
    text-decoration: none;
}
.popup-sidebarMenu .back:hover {
    opacity: 1;
}
.popup-sidebarMenu .subm {
    display: none;
}
.popup-sidebarMenu a.icon1 {
    background: url("icons/box.svg") no-repeat scroll 3px 8px / 20px auto rgba(0, 0, 0, 0);
}
.popup-sidebarMenu a.icon2 {
    background: url("icons/world.svg") no-repeat scroll 3px 7px / 20px auto rgba(0, 0, 0, 0);
}
.popup-sidebarMenu a.icon3 {
    background: url("icons/contact.svg") no-repeat scroll 7px 9px / 20px auto rgba(0, 0, 0, 0);
}
.popup-sidebar-font{
     color: #FFFFFF;
     
    display: none;
    font-size: 20px;
    line-height: 17px;    
    margin-left: 4px;
}
.popup-sidebar-font:hover{
    text-decoration:none;
    color: #FFFFFF;
}

.ms-parent button{
    background: none; 
}


.ms-parent button:hover{
    background: none; 
}
#cust_data_grid button{
    font-size:14px !important; 
    
}
 td.pager{ 
    text-align: left !important;
    padding-left : 10px !important;
   
}

#product_data_grid button{
    font-size:12px !important ; 
    margin-right: 5px;
    margin-left: 5px;
    text-align: left;
}
#product_data_grid {
    /*margin-top:10px  ;*/
    border: 1px solid #DDDDDD ;
    padding: 0px;
 border-top: none;   
 padding-top: 5px;
}
#product_data_grid > table.actions {
 margin-top: 0px !important;

}
#product_data_grid > .grid {
    padding-bottom: 0px !important;
}

#product_data_grid > .hor-scroll {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

#product_data_grid_table  {
    border-left:0 none;
    border-collapse: inherit;
}


#product2_data_grid button{
 font-size:12px !important ; 
    margin-right: 5px;
    margin-left: 5px;
    text-align: left;
    
}

#product2_data_grid_table  {
    border-left:0 none;
    border-collapse: inherit;
}

#product2_data_grid > .grid {
    padding-bottom: 0px !important;
}

#product2_data_grid > .hor-scroll {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

#product2_data_grid {
    border: 1px solid #DDDDDD ;
    /*padding: 5px;*/
    border-top: none;
    
    padding: 0px;
    padding-top: 5px;
}
#product2_data_grid > table.actions {
 margin-top: 0px !important;

}

#categorytoproduct_data_grid button{
  font-size:12px !important ; 
    margin-right: 5px;
    margin-left: 5px;
    text-align: left;
    
}
#categorytoproduct_data_grid > .grid {
    padding-bottom: 0px !important;
}

#categorytoproduct_data_grid > .hor-scroll {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

#categorytoproduct_data_grid {
    border: 1px solid #DDDDDD ;
    border-top: none;
    /*padding: 5px;*/
   
    padding: 0px;
    padding-top: 5px; 
}
#categorytoproduct_data_grid > table.actions {
 margin-top: 0px !important;

}
#categorytoproduct_data_grid_table  {
    border-left:0 none;
     border-collapse: inherit;
}

#customertoproduct_data_grid button{
     font-size:12px !important ; 
    margin-right: 5px;
    margin-left: 5px;
    text-align: left; 
    
}
#customertoproduct_data_grid > .grid {
    padding-bottom: 0px !important;
}

#customertoproduct_data_grid > .hor-scroll {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

#customertoproduct_data_grid {
    border: 1px solid #DDDDDD ;
    border-top: none;
    /*padding: 5px;*/
    padding: 0px;
    padding-top: 5px;
    
}
#customertoproduct_data_grid > table.actions {
 margin-top: 0px !important;

}
#customertoproduct_data_grid_table  {
    border-left:0 none;
     border-collapse: inherit;
}


#cust_data_grid button{
   font-size:12px !important ; 
    margin-right: 5px;
    margin-left: 5px;
    text-align: left;
    
}
#cust_data_grid > .grid {
    padding-bottom: 0px !important;
}

#cust_data_grid > .hor-scroll {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

#cust_data_grid {
    border: 1px solid #DDDDDD ;
    border-top: none;
    /*padding: 5px;*/
    padding: 0px;
    padding-top: 5px;
    
}
#cust_data_grid > table.actions {
 margin-top: 0px !important;

}
#cust_data_grid_table  {
    border-left:0 none;
     border-collapse: inherit;
}




.vss_block_body td{
    text-align: left !important;
}
input.datepicker {
    /*width : 55% !important;*/
    cursor:pointer;
}
.switchery{
    width: 50px !important;
}
.ms-choice >span
{
    top: 5px !important;
    
}

