html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
em { font-style: italic; }
html { min-width: 960px; }
body {
    background: #f4f4f4;
    color: #000;
    font-family: 'BoxedRegular',Arial;
    font-size: 12px;
    line-height: 1;
    word-wrap: break-word;
}

ol, ul { list-style: none outside none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
table { border-collapse: collapse; border-spacing: 0; width: 100%; }

hr { background: none repeat scroll 0 0 #4C4A4A;  border: 0 none; color: #4C4A4A; height: 1px; padding: 0; }
h1, h2, h3, h4, h5, h6 {font-weight: normal; }

a { color: #010101; outline: medium none; text-decoration: none; }
a:hover { color: #D53D3C; text-decoration: none;}

/*remove dotted outlines in every link*/
a:focus, *:focus {
    noFocusLine: expression(this.onFocus=this.blur());
}

* {
    _noFocusLine: expression(this.hideFocus=true);
}

img {  vertical-align: top; }

button { border: 0 none; cursor: pointer; }
button::-moz-focus-inner { border: 0 none; padding: 0; }

#main_wrap {  margin: 0 auto; width: 960px; }
#main_wrap #content_wrap { float: left; width: 100%; }

#header { float: left; width: 100%; background:url(../images/header-bg.png) no-repeat left bottom; padding-top: 50px; height: 140px; }
#header h1 { padding-left: 28px; }

#content_wrapper { float: left; width: 100%; background:url(../images/content-bg.png) repeat-y left top; }
#content_wrapper #content { display: block; padding: 50px 60px; text-transform: uppercase; font-family: 'BoxedRegular-Bold'; }
#content_wrapper #content h2 { color: #999; font-size: 40px; }
#content_wrapper #content h3 { color: #030303; font-size: 24px; }
#content_wrapper #content p a { margin-top: 10px; background: #000; color: #fff; display: inline-block; padding: 3px 5px; }
#content_wrapper #content p a:hover { background: #d2302b; }
#content_wrapper #content p.error_id a { margin-top: 40px; font-size: 14px; color: #d2302b; background: none; font-family: 'BoxedRegular-Bold';  }
#content_wrapper #bottom { float: left; width: 100%; height: 68px; background: #f4f4f4 url(../images/bottom-bg.png) no-repeat left bottom; }

#footer { float: left; width: 100%; padding-top: 20px; }
#footer .col { float: left; }
#footer .col h2 { text-transform: uppercase;  font-family: 'BoxedRegular-Bold'; font-size: 18px; }
#footer .col h3 { text-transform: uppercase;  font-family: 'BoxedRegular-Bold'; font-size: 14px; padding-top: 10px; }
#footer .col p { color: #999; font-size: 14px; font-family: 'BoxedLight'; margin-top: 10px; }
#footer .col.col1 { padding-left: 45px; width: 340px; }
#footer .col.col1 h2 { float: left; text-transform: uppercase; font-size: 30px; font-family: 'BoxedRegular-Bold'; border-bottom: solid 4px #e6e6e6; display: inline; padding-bottom: 20px; }
#footer .col.col1 p { float: left; margin-top: 20px; line-height: 32px; margin-top: 15px; font-size: 10px; font-family: 'BoxedLight'; text-transform: uppercase; }

#footer .col.col2 { padding-left: 40px; width: 220px; }
#footer .col.col2 a { background: #d2302b; color: #fff; display: inline-block; padding: 1px 3px; margin-top: 5px; }
#footer .col.col2 a:hover { background: #000; }
#footer .col.col2 p.bottom { font-size: 12px; }

#footer .col.col3 { padding-left: 40px; }
#footer .col.col3 a { display: inline-block; background: #3D57A3 url("../images/facebook-footer-button.png") no-repeat 7px center; color: #fff; font-family: 'BoxedRegular-Bold'; font-size: 11px; line-height: 15px; padding: 5px 8px 4px 27px; text-transform: uppercase; }
#footer .col.col3 a:hover { background: #000 url("../images/facebook-footer-button.png")  no-repeat 7px center; }
/*misc*/
.clear { clear:both; }
.red { color: #d32f2f; }
.text-center { text-align: center; }
.right { float: right; }
.left { float: left; }

/*IE 8, 7, 6 hack*/
@media \0screen\,screen\9  {
    #content_wrapper #content, #content_wrapper #content h2, #content_wrapper #content h3, #footer .col h2, #footer .col h3 { font-weight: bold; }


}

/*IE 10, 9 hack*/
@media screen and (min-width:0 \0) {
}

/*firefox hack*/
@-moz-document url-prefix() {

}

/*webkit hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select { -webkit-appearance: listbox; }
    body { -webkit-text-size-adjust: none; -webkit-font-smoothing: antialiased;  }
}

/*ipad only*/
@media only screen and (device-width: 768px) {
}

/* iPhone, Android rules here */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    h1, h2, h3, h4, h5, h6, p, ul.messages, ul.messages ul, ul.messages li { background-color: rgba(255, 255, 255, 0.01); }
}