<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 6/25/14
 * Time: 2:39 PM
 */?>
<?php /*
<?php $_item = $this->getItem() ?>
<?php //print_r($_item->getData()); ?>
<tr class="border">
    <td><?php echo $this->getColumnHtml($_item, 'name') ?></td>
    <td class="a-center last"><?php echo $_item->getQty()*1 ?></td>
    <td class="a-center last"><input id="ship_qty_<?php echo $_item->getProductId() ?>" class="input-text" type="text" value="<?php echo $_item->getQty()*1 ?>" name="ship_qty"></td>
</tr>
<input type="hidden" name="product_id" class="product_id" id="product_id_<?php echo $_item->getProductId() ?>" />
*/ ?>
<?php $_item = $this->getItem() ?>
<?php //print_r($_item->getData()); ?>
<tr class="border">
    <td><?php echo $this->getColumnHtml($_item, 'name') ?></td>
    <td class="a-center"><?php echo $_item->getQty()*1 ?></td>

    <td class="<?php if ($this->isShipmentRegular()): ?>last<?php endif; ?> a-center">
        <input class="input-text validate-shipment-item-qty" id="orig_shipment_qty_<?php echo $_item->getQty()*1 ?>" type="text" value="<?php echo $_item->getQty()*1 ?>" name="shipment[items][<?php echo $_item->getOrderItemId() ?>]" />
        <input type="hidden" class="input-text" id="orig_shipment_qty_<?php echo $_item->getOrderItemId() ?>" name="orig_shipment_qty_<?php echo $_item->getOrderItemId() ?>" value="<?php echo $_item->getQty()*1 ?>" />
        <input type="hidden" class="input-text" name="shipment_item_id_<?php echo $_item->getOrderItemId() ?>" value="<?php echo $_item->getEntityId() ?>" />
        <input type="hidden" class="input-text" name="item_sku_<?php echo $_item->getOrderItemId() ?>" value="<?php echo $_item->getSku() ?>" />
        <input type="hidden" class="input-text" name="item_name_<?php echo $_item->getOrderItemId() ?>" value="<?php echo $_item->getName() ?>" />
    </td>
</tr>