<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 7/11/14
 * Time: 7:24 PM
 */?>
<?php
$ffl = $this->getFfl();
$state ='';
$stateId = 0;
if ($ffl) {
    $state = $ffl->getFflHolderState();
    $stateId = $ffl->getFflHolderStateId();
    if ($stateId > 0) {
        $stateId = $ffl->getFflHolderStateId();
        $state ='';
    }
}
?>
<div class="input-box">
    <select id="state_id" name="ffl_holder_state_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
        <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
    </select>
    <script type="text/javascript">
        //<![CDATA[
        $('state_id').setAttribute('defaultValue',  "<?php echo $stateId; ?>");
        //]]>
    </script>
    <input type="text" id="state" name="ffl_holder_state" value="<?php echo $state ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
</div>
<script type="text/javascript">
    //<![CDATA[

        var countryRegions = <?php echo Mage::helper('directory')->getRegionJson()?>;
        var newRegionUpdater = new RegionUpdater('country', 'state', 'state_id',countryRegions);
        //new RegionUpdater('country', 'state', 'state_id', <?php echo Mage::helper('directory')->getRegionJson() ?>, undefined, 'zip');

    //]]>
</script>