<?php
 /**
 * GoMage Advanced Navigation Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2016 GoMage (https://www.gomage.com)
 * @author       GoMage
 * @license      https://www.gomage.com/license-agreement/  Single domain license
 * @terms of use https://www.gomage.com/terms-of-use
 * @version      Release: 4.9.1
 * @since        Class available since Release 2.1
 */
?>

<?php if($this->getCollection()->getSize()): ?>

    <?php if($this->getUseContainer()): ?>
    <div class="pager">
    <?php endif ?>

    <?php if($this->getShowAmounts()): ?>
    <p class="amount">
        <?php if($this->getLastPageNum()>1): ?>
            <?php echo $this->__('Items %s to %s of %s total', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
        <?php else: ?>
            <strong><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
        <?php endif; ?>
    </p>
    <?php endif ?>

    <?php if($this->getShowPerPage()): ?>
    <div class="limiter">
        <label><?php echo $this->__('Show') ?></label>
        <select onchange="setLocation(this.value)">
        <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
            <option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                <?php echo $_limit ?>
            </option>
        <?php endforeach; ?>
        </select> <?php echo $this->__('per page') ?>
    </div>
    <?php endif ?>

    <?php if($this->getLastPageNum()>1): ?>
    <div class="pages">
        <strong><?php echo $this->__('Page:') ?></strong>
        <ol>
        <?php if (!$this->isFirstPage()): ?>
            <li>
                <a data-ajax="<?php echo (Mage::helper('gomage_navigation')->isGomageNavigationAjax()) ? 1 : 0 ;?>" data-param="<?php echo $this->getPreviousPageUrlParams() ?>" data-url="<?php echo $this->getPreviousPageUrl(true) ?>" onclick="GomageNavigation.click(this);GomageNavigation.ganScrollToTop();return false;" class="previous<?php if(!$this->getAnchorTextForPrevious()): ?> i-previous<?php endif;?>" href="<?php echo $this->getPreviousPageUrl(true) . $this->getPreviousPageUrlParams(); ?>" title="<?php echo $this->__('Previous') ?>">
                    <?php if(!$this->getAnchorTextForPrevious()): ?>
                        <?php echo $this->__('Previous') ?>
                    <?php else: ?>
                        <?php echo $this->getAnchorTextForPrevious() ?>
                    <?php endif;?>
                </a>
            </li>
        <?php endif;?>

        <?php if ($this->canShowFirst()): ?>
            <li><a data-ajax="<?php echo (Mage::helper('gomage_navigation')->isGomageNavigationAjax()) ? 1 : 0 ;?>" data-param="<?php echo $this->getFirstPageUrlParams() ?>" data-url="<?php echo $this->getFirstPageUrl(true) ?>" onclick="GomageNavigation.click(this);GomageNavigation.ganScrollToTop();return false;" class="first" href="<?php echo $this->getFirstPageUrl(true) . $this->getFirstPageUrlParams(); ?>">1</a></li>
        <?php endif;?>

        <?php if ($this->canShowPreviousJump()): ?>
            <li><a data-ajax="<?php echo (Mage::helper('gomage_navigation')->isGomageNavigationAjax()) ? 1 : 0 ;?>" data-param="<?php echo $this->getPreviousJumpUrlParams() ?>" data-url="<?php echo $this->getPreviousJumpUrl(true) ?>" onclick="GomageNavigation.click(this);GomageNavigation.ganScrollToTop();return false;" class="previous_jump" title="" href="<?php echo $this->getPreviousJumpUrl(true) . $this->getPreviousJumpUrlParams(); ?>">...</a></li>
        <?php endif;?>

        <?php foreach ($this->getFramePages() as $_page): ?>
            <?php if ($this->isPageCurrent($_page)): ?>
                <li class="current"><?php echo $_page ?></li>
            <?php else: ?>
                <li><a data-ajax="<?php echo (Mage::helper('gomage_navigation')->isGomageNavigationAjax()) ? 1 : 0 ;?>" data-param="<?php echo $this->getPageUrlParams($_page) ?>" data-url="<?php echo $this->getPageUrl($_page, true) ?>" onclick="GomageNavigation.click(this);GomageNavigation.ganScrollToTop();return false;" href="<?php echo $this->getPageUrl($_page, true) . $this->getPageUrlParams($_page); ?>"><?php echo $_page ?></a></li>
            <?php endif;?>
        <?php endforeach;?>


        <?php if ($this->canShowNextJump()): ?>
            <li><a data-ajax="<?php echo (Mage::helper('gomage_navigation')->isGomageNavigationAjax()) ? 1 : 0 ;?>" data-param="<?php echo $this->getNextJumpUrlParams() ?>" data-url="<?php echo $this->getNextJumpUrl(true) ?>" onclick="GomageNavigation.click(this);GomageNavigation.ganScrollToTop();return false;" class="next_jump" title="" href="<?php echo $this->getNextJumpUrl(true) . $this->getNextJumpUrlParams(); ?>">...</a></li>
        <?php endif;?>

        <?php if ($this->canShowLast()): ?>
          <li><a data-ajax="<?php echo (Mage::helper('gomage_navigation')->isGomageNavigationAjax()) ? 1 : 0 ;?>" data-param="<?php echo $this->getLastPageUrlParams() ?>" data-url="<?php echo $this->getLastPageUrl(true) ?>" onclick="GomageNavigation.click(this);GomageNavigation.ganScrollToTop();return false;" class="last" href="<?php echo $this->getLastPageUrl(true) . $this->getLastPageUrlParams(); ?>"><?php echo $this->getLastPageNum() ?></a></li>
        <?php endif;?>

        <?php if (!$this->isLastPage()): ?>
            <li>
                <a data-ajax="<?php echo (Mage::helper('gomage_navigation')->isGomageNavigationAjax()) ? 1 : 0 ;?>" data-param="<?php echo $this->getNextPageUrlParams() ?>" data-url="<?php echo $this->getNextPageUrl(true) ?>" onclick="GomageNavigation.click(this);GomageNavigation.ganScrollToTop();return false;" class="next<?php if(!$this->getAnchorTextForNext()): ?> i-next<?php endif; ?>" href="<?php echo $this->getNextPageUrl(true) . $this->getNextPageUrlParams(); ?>" title="<?php echo $this->__('Next') ?>">
                    <?php if(!$this->getAnchorTextForNext()): ?>
                        <?php echo $this->__('Next') ?>
                    <?php else: ?>
                        <?php echo $this->getAnchorTextForNext() ?>
                    <?php endif;?>
                </a>
            </li>
        <?php endif;?>
        </ol>

    </div>
    <?php endif; ?>

    <?php if($this->getUseContainer()): ?>
    </div>
    <?php endif ?>

<?php endif ?>
