/*ffl tab on customer account dashboard css*/

.ffl-list                           { width:28em; padding-right:22px; }
.ffl-list address                   { width:100%; overflow:hidden; }
.ffl-list .btn-edit-ffl,
.ffl-list .btn-remove-ffl       { position:absolute; top:8px; }
.ffl-list .btn-edit-ffl         { right:8px; }
.ffl-list .btn-remove-ffl       { right:27px; }
.ffl-list li                        { position:relative; padding:12px 14px; cursor:pointer; border-top:1px solid #e6e6e6; background:url(images/ffl_list_li.gif) repeat; }
.ffl-list li.on                     { background:#e7efef; }
.ffl-list li.over                   { background-color:#fcf5dd; }
.ffl-list li table                  { width:100%; }
.delete-ffl                         { float:right; margin:0 0 10px 10px; }
.ffl-type .ffl-type-line        { display:block; margin:2px 0; }
.ffl-type .ffl-type-line input  { margin-right:3px; }
a.view-ffl  { float :right; }
.ffl-forms input.input-file {margin: 0 0 0 -8px; }