<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $posts = $this->getPosts() ?>
<?php if (count($posts) > 0): ?>
	<div class="post-list">
		<div id="post-list">
			<?php foreach($posts as $post): ?>
				<div class="item<?php if ($post->isSticky()): ?> featured<?php endif; ?>">
					<?php echo $this->getPostRenderer($post)->toHtml() ?>
				</div>
			<?php endforeach; ?>
		</div>
		<script type="text/javascript">decorateList($('post-list'));</script>
		<?php echo $this->getPagerHtml() ?>
	</div>
<?php endif; ?>