<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $post = $this->getPost() ?>
<?php if ($post): ?>
	<?php $helper = $this->helper('wordpress') ?>
	<?php $author = $post->getAuthor() ?>
<div class="post-holder">
	<div class="page-title post-title">
		<h1><?php echo $this->escapeHtml($post->getPostTitle()) ?></h1>
	</div>
	<div class="post-view">
		<?php //echo $this->__('This entry was posted on %s<span class=\"by-author\"> by %s</span>.', $post->getPostDate(), $post->getAuthor()->getDisplayName()) ?>
		<?php echo $this->__(' <span class="by-author">Posted by %s </span>', $post->getAuthor()->getDisplayName()) ?>
		<p class="post-date when"> | <?php echo $this->escapeHtml($post->getPostDate()) ?></p>

		<?php echo $this->getBeforePostContentHtml() ?>
		<div class="post-entry entry std<?php if ($post->getFeaturedImage): ?> post-entry-with-image<?php endif; ?>">

            <?php if ($post->isViewableForVisitor()): ?>
                <?php echo $post->getPostContent() ?>
				<?php if ($featuredImage = $post->getFeaturedImage()): ?>
					<div class="featured-image left"><img src="<?php //echo $featuredImage->getFullSizeImage() ?>" alt="<?php //echo $this->escapeHtml($post->getPostTitle()) ?>"/></div>
				<?php endif; ?>
				<?php //echo $post->getPostContent() ?>
			<?php else: ?>
				<?php echo $this->getPasswordProtectHtml() ?>
			<?php endif; ?>
		</div>

		<?php echo $this->getAfterPostContentHtml() ?>

	</div>
</div><!--post-holder-->
    <div class="rating-comment-share">
        <!-- AddThis Button BEGIN -->
        <a class="addthis_button share-this" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=ra-50c7ef0c7c0dd7a3" addthis:url="<?php echo $post->getPermalink() ?>" addthis:title="<?php echo $post->getPostTitle() ?>" addthisescription="<?php echo $post->getPostTitle() ?>">
   </a><span>Share</span>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50c7ef0c7c0dd7a3"></script>
        <!-- AddThis Button END -->
    </div>
    <?php echo $this->getCommentsHtml() ?>
<?php endif; ?>
