<?php
    // Loading the module helper to get the values from translate file.
    // $helper will be used insted of $this as $helper will have no ambiguity.
    $helper = Mage::helper("productvideo");
    
    // Getting the array from the block, containing the settings of the module.
    $savedSettings = $this->getSettings();
    
    $exists = $this->getFirstTimeChecker();
    
    $base_url = Mage::getBaseUrl();
    
?>

<form action="<?php echo Mage::getUrl('*/*/config') ?>" method="post" enctype="multipart/form-data" id="form_general">
    <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"  />
    
    
    <!-- Top Bar BEGINS -->
    <div class="navbar navbar-default">
        <h4 class="vss_page_title">Product Video&nbsp;&nbsp;v1.0.0</h4>
        
        <div class="topbuttons" style="width:400px;">
            <label for="store_switcher"><?php echo $helper->__('Current Configuration Scope') ?>:</label>
            <select id="store_switcher" class="vss_selector" name="store_switcher" class="system-config-store-switcher chosen-select">
                <?php foreach ($this->getStoreSelectOptions() as $_value => $_option): ?>
                    <?php if (isset($_option['is_group'])): ?>
                        <?php if ($_option['is_close']): ?>
                        <?php else: ?>
                            <optgroup label="<?php echo $this->escapeHtml($_option['label']) ?>" style="<?php echo $_option['style'] ?>">
                            </optgroup>
                            <?php endif; ?>
                            <?php continue ?>
                        <?php endif; ?>
                        <option value="<?php echo $this->escapeHtml($_value) ?>" <?php if(isset($savedSettings['store_switcher']) && $savedSettings['store_switcher'] == $this->escapeHtml($_value)) {echo "selected";} ?> style="<?php echo $_option['style'] ?>">
                            <?php echo $this->escapeHtml($_option['label']) ?>
                        </option>
                    <?php endforeach; ?>
            </select>
        </div>
    </div>
    <!-- Top Bar ENDS -->
    
    <!-- Sidebar BEGINS -->
    <div class="vss_sidebar sidebar">
        <div class="slim-scroll">
            <ul id="velsof-tabs" class="velsof-tabs nav nav-justified">
                <li class="tab active" id="div_left_general" onclick="general()">
                    <a>
                        <i id="i_general_settings" class="glyphicon glyphicon-cog"></i>
                        <span id="span_general_settings"><?php echo $helper->__('General Settings'); ?></span>
                    </a>
                </li>
                <li class="tab " id="div_left_youtube" onclick="youtubeSettings();">
                    <a>
                        <i id="i_youtube" class="glyphicon glyphicon-film"></i>
                        <span id="span_youtube"><?php echo $helper->__('YouTube Settings') ?></span>
                    </a>
                </li>
                <li class="tab " id="div_left_vimeo" onclick="vimeoSettings()">
                    <a>
                        <i id="i_vimeo" class="glyphicon glyphicon-film"></i>
                        <span id="span_vimeo"><?php echo $helper->__('Vimeo Settings') ?></span>
                    </a>
                </li>
                <li class="tab " id="div_left_dailymotion" onclick="dailymotionSettings()">
                    <a>
                        <i id="i_dailymotion" class="glyphicon glyphicon-film"></i>
                        <span id="span_dailymotion"><?php echo $helper->__('Dailymotion Settings') ?></span>
                    </a>
                </li>  
            </ul>

            <div class="clearfix"></div>
            <div class="separator bottom"></div>
        </div>
    </div>
    
    <!-- Block General BEGINS -->
    <div class="block" id="general">
        <div class="vss_block">
            <div class="page-header">
                <div style="float:left;"> <h1><?php echo $helper->__('General Settings'); ?></h1></div>
                <div style="float:right;">
                    <button onclick="submitForm();" name="saveAPIDetails" class="btn btn-default" type="button">
                        <span><?php echo $helper->__("Save"); ?></span>
                    </button>
                    <a class="btn btn-default" href="<?php echo $this->getUrl('*/*/index') ?>">
                        <span><?php echo $helper->__("Cancel"); ?></span>
                    </a>
                </div>        
            </div>
        </div>
        <div class="vss_head">
                <h3 class="heading"><?php echo $helper->__("Settings"); ?></h3>
        </div>
        <div class="vss_block_body">            
            <table class="table vss-chart-filter">
                <tbody>                    
                    <tr>
                        <td class="no_top_border" style="width: 200px;">
                                <label><?php echo $helper->__("Activate"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("Enable or Disable the Module."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                        </td>
                        <td class="no_top_border" colspan="3">
                                <?php if($exists == 1)
                                {
                                ?>
                                    <?php if (isset($savedSettings['enable'])) { ?>
                                            <input type="checkbox"  name="enable" class="js-switch" checked="checked" />
                                    <?php } else { ?>
                                            <input type="checkbox"  name="enable" class="js-switch" />
                                    <?php } ?>
                                <?php
                                }
                                else
                                {
                                ?>
                                    <input type="checkbox"  name="enable" class="js-switch" checked="checked" />
                                <?php
                                }
                                ?>
                        </td>                        
                    </tr>
                    
                    <tr>
                        <td class="no_top_border" style="width: 200px;">
                                <label><?php echo $helper->__("Show Video On"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("Select the position of the video on product page."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                        </td>
                        <td class="no_top_border" style="width: 300px;"colspan="3">
                            <select name="show_video_on" class="custom-select-box" id="show_video_on">
                                <?php
                                if (isset($savedSettings['show_video_on']) && $savedSettings['show_video_on'] == "Product Footer")
                                {
                                ?>
                                <option value="Product Right Column"><?php echo $helper->__("Product Right Column"); ?></option>
                                <option value="Product Footer" selected><?php echo $helper->__("Product Footer"); ?></option>
                                <?php
                                }
                                else
                                {
                                ?>
                                <option value="Product Right Column" selected><?php echo $helper->__("Product Right Column"); ?></option>
                                <option value="Product Footer"><?php echo $helper->__("Product Footer"); ?></option>
                                <?php
                                }
                                ?>
                            </select>
                        </td>                        
                    </tr>

                    <tr>
                        <td style="width: 200px;">
                                <label> <?php echo $helper->__("Product Video Box Title"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("The title of the video box on product page."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                        </td>
                        <td style="width:200px;">
                            <input type="text" name="video_box_title" id='video_box_title' class="custom-input-field input-width40px" value="<?php if(isset($savedSettings['video_box_title'])) { echo $savedSettings['video_box_title']; } else { echo "Product Videos"; } ?>">
                        </td>   
                    </tr>
                    
                    <tr>
                        <td class="no_top_border" style="width: 200px;">
                                <label><?php echo $helper->__("Include jQuery"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("Includs required jQuery files. If you are using magento version lower than 1.9 then turn it on."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                        </td>
                        <td class="no_top_border" colspan="3">
                                <?php if (isset($savedSettings['jquery'])) { ?>
                                        <input type="checkbox"  name="jquery" class="js-switch" checked="checked" />
                                <?php } else { ?>
                                        <input type="checkbox"  name="jquery" class="js-switch" />
                                <?php } ?>
                        </td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Block General Ends -->
    
    <!-- Block YouTube Settings BEGINS -->
    <div class="block" id="youtube">
        <div class="vss_block">
            <div class="page-header">
                <div style="float:left;"> <h1><?php echo $helper->__('YouTube Settings'); ?></h1></div>
                <div style="float:right;">
                    <button onclick="submitForm();" name="saveAPIDetails" class="btn btn-default" type="button">
                        <span><?php echo $helper->__("Save"); ?></span>
                    </button>
                    <a class="btn btn-default" href="<?php echo $this->getUrl('*/*/index') ?>">
                        <span><?php echo $helper->__("Cancel"); ?></span>
                    </a>
                </div>        
            </div>
        </div>
        <div class="vss_head">
                <h3 class="heading"><?php echo $helper->__("Settings"); ?></h3>
        </div>
        <div class="vss_block_body">            
            <table class="table vss-chart-filter">
                <tbody>                    
                    
                    <tr>
                        <td style="width: 400px; border-top: none;">
                                <label> <?php echo $helper->__("Autoplay Video(s)"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("If this field is enabled then the video automatically plays when the page loads."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                        </td>
                        <td class="no_top_border" colspan="3">
                                <?php if (isset($savedSettings['y_autoplay'])) { ?>
                                        <input type="checkbox"  name="y_autoplay" class="js-switch" checked="checked" />
                                <?php } else { ?>
                                        <input type="checkbox"  name="y_autoplay" class="js-switch" />
                                <?php } ?>
                        </td> 
                    </tr>

                    <tr>
                        <td style="width: 400px;">
                                <label> <?php echo $helper->__("Display Controls"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("This field will handle whether to display the video controls or not."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                        </td>
                        <td class="no_top_border" colspan="3">
                                <?php if (isset($savedSettings['y_display_controls'])) { ?>
                                        <input type="checkbox"  name="y_display_controls" class="js-switch" checked="checked" />
                                <?php } else { ?>
                                        <input type="checkbox"  name="y_display_controls" class="js-switch" />
                                <?php } ?>
                        </td>  
                    </tr>

                    <tr>
                        <td style="width: 400px;">
                                <label> <?php echo $helper->__("Display Video Frame Border"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("When this field is enabled the video is loaded and played in a bordered box."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                        </td>
                        <td class="no_top_border" colspan="3">
                                <?php if (isset($savedSettings['y_display_frame_border'])) { ?>
                                        <input type="checkbox"  name="y_display_frame_border" class="js-switch" checked="checked" />
                                <?php } else { ?>
                                        <input type="checkbox"  name="y_display_frame_border" class="js-switch" />
                                <?php } ?>
                        </td>  
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <!-- Block YouTube Settings Ends -->
    
    <!-- Block Viemo Settings BEGINS -->
    <div class="block" id="vimeo">
        <div class="vss_block">
            <div class="page-header">
                <div style="float:left;"> <h1><?php echo $helper->__('Vimeo Settings'); ?></h1></div>
                <div style="float:right;">
                    <button onclick="submitForm();" name="saveAPIDetails" class="btn btn-default" type="button">
                        <span><?php echo $helper->__("Save"); ?></span>
                    </button>
                    <a class="btn btn-default" href="<?php echo $this->getUrl('*/*/index') ?>">
                        <span><?php echo $helper->__("Cancel"); ?></span>
                    </a>
                </div>        
            </div>
        </div>
        <div class="vss_head">
                <h3 class="heading"><?php echo $helper->__("Settings"); ?></h3>
        </div>
        <div class="vss_block_body">            
            <table class="table vss-chart-filter">
                <tbody>                    
                    <tr>
                        <td style="width: 400px; border-top: none;">
                                <label> <?php echo $helper->__("Autoplay Video(s)"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("If this field is enabled then the video automatically plays when the page loads."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                        </td>
                        <td class="no_top_border" colspan="3">
                                <?php if (isset($savedSettings['v_autoplay'])) { ?>
                                        <input type="checkbox"  name="v_autoplay" class="js-switch" checked="checked" />
                                <?php } else { ?>
                                        <input type="checkbox"  name="v_autoplay" class="js-switch" />
                                <?php } ?>
                        </td> 
                    </tr>

                    <tr>
                        <td style="width: 400px;">
                                <label> <?php echo $helper->__("Display Video Frame Border"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("When this field is enabled the video is loaded and played in a bordered box."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                        </td>
                        <td class="no_top_border" colspan="3">
                                <?php if (isset($savedSettings['v_display_frame_border'])) { ?>
                                        <input type="checkbox"  name="v_display_frame_border" class="js-switch" checked="checked" />
                                <?php } else { ?>
                                        <input type="checkbox"  name="v_display_frame_border" class="js-switch" />
                                <?php } ?>
                        </td>  
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <!-- Block Vimeo Settings Ends -->
    
    <!-- Block Dailymotion Settings BEGINS -->
    <div class="block" id="dailymotion">
        <div class="vss_block">
            <div class="page-header">
                <div style="float:left;"> <h1><?php echo $helper->__('Dailymotion Settings'); ?></h1></div>
                <div style="float:right;">
                    <button onclick="submitForm();" name="saveAPIDetails" class="btn btn-default" type="button">
                        <span><?php echo $helper->__("Save"); ?></span>
                    </button>
                    <a class="btn btn-default" href="<?php echo $this->getUrl('*/*/index') ?>">
                        <span><?php echo $helper->__("Cancel"); ?></span>
                    </a>
                </div>        
            </div>
        </div>
        <div class="vss_head">
                <h3 class="heading"><?php echo $helper->__("Settings"); ?></h3>
        </div>
        <div class="vss_block_body">            
            <table class="table vss-chart-filter">
                <tbody>                    
                    <tr>
                        <td style="width: 400px; border-top: none;">
                                <label> <?php echo $helper->__("Autoplay Video(s)"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("If this field is enabled then the video automatically plays when the page loads."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                        </td>
                        <td class="no_top_border" colspan="3">
                                <?php if (isset($savedSettings['d_autoplay'])) { ?>
                                        <input type="checkbox"  name="d_autoplay" class="js-switch" checked="checked" />
                                <?php } else { ?>
                                        <input type="checkbox"  name="d_autoplay" class="js-switch" />
                                <?php } ?>
                        </td> 
                    </tr>

                    <tr>
                        <td style="width: 400px;">
                                <label> <?php echo $helper->__("Display Controls"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("This field will handle whether to display the video controls or not."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                        </td>
                        <td class="no_top_border" colspan="3">
                                <?php if (isset($savedSettings['d_display_controls'])) { ?>
                                        <input type="checkbox"  name="d_display_controls" class="js-switch" checked="checked" />
                                <?php } else { ?>
                                        <input type="checkbox"  name="d_display_controls" class="js-switch" />
                                <?php } ?>
                        </td>  
                    </tr>

                    <tr>
                        <td style="width: 400px;">
                                <label> <?php echo $helper->__("Display Video Frame Border"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("When this field is enabled the video is loaded and played in a bordered box."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                        </td>
                        <td class="no_top_border" colspan="3">
                                <?php if (isset($savedSettings['d_display_frame_border'])) { ?>
                                        <input type="checkbox"  name="d_display_frame_border" class="js-switch" checked="checked" />
                                <?php } else { ?>
                                        <input type="checkbox"  name="d_display_frame_border" class="js-switch" />
                                <?php } ?>
                        </td>  
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <!-- Block Dailymotion Settings Ends -->
    
    
</form>

<script>
    // Setting the global variables so that we can use them in script file
    window.formKey = '<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>';
</script>

<script type="text/javascript">
    
    document.observe('dom:loaded', function () { 
            $$('i[data-toggle="tooltip"]').each(function (element) {
                    $(element).setAttribute('title', $(element).readAttribute('data-original-title'));
                    new Tooltip(element, {backgroundColor: "#496CAD", borderColor: "#496CAD", textColor: "#fff", textShadowColor: "", mouseFollow: false, opacity: .90});
            });
    });            

    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

    elems.forEach(function (html) {
            var switchery = new Switchery(html, {color: '#496CAD'});
    });
</script>