<?php
    // Loading the module helper to get the values from translate file.
    // $helper will be used insted of $this as $helper will have no ambiguity.
    $helper = Mage::helper("productvideo");

    // Getting the video_id of the current video.
    $video_id = $this->getRequest()->getParam('video_id');
    // Getting all the data of video using video id
    $video = $this->getVideoDataById($video_id);
    
    $base_url = Mage::getBaseUrl();
    
?>
    
    <!-- Top Bar BEGINS -->
    <div class="navbar navbar-default">
        <h4 class="vss_page_title">Product Video&nbsp;&nbsp;v1.0.0</h4>       
    </div>
    <!-- Top Bar ENDS -->
    <!-- Edit Form BEGINS -->
    <form action="<?php echo Mage::getUrl('*/*/submitEditForm') ?>" method="post" enctype="multipart/form-data" id="form_edit">
        
        <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>"  />
        <input name="video_id" type="hidden" value="<?php echo $video['video_id']; ?>"  />
        <input name="product_id" type="hidden" value="<?php echo $video['product_id']; ?>"  />
    
        <div class="block_form" id="edit_form">
            <div class="vss_block">
                <div class="page-header">
                    <div class='text_header'> <h1><?php echo $helper->__('Edit Video'); ?></h1></div>
                    <div style="float:right;">
                        <button onclick="submitEditForm();" name="saveAPIDetails" class="btn btn-default" type="button">
                            <span><?php echo $helper->__("Save"); ?></span>
                        </button>
                    </div>        
                </div>
            </div>
            <div class="vss_head">
                <h3 class="heading"><?php echo $helper->__("Settings"); ?></h3>
            </div>
            <div class="vss_block_body">            
                <table class="table vss-chart-filter" id='table_edit_form'>
                    <tbody>                    

                        <tr>
                            <td width="200">
                                <label> <?php echo $helper->__("Video Name"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("Name of the video."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                            </td>
                            <td width="600">
                                <input type="text" name="video_name" id='video_name' class="custom-input-field input-width40px" value="<?php echo $video['video_name'] ?>">
                                <span class="validation_error_msg" id="error_video_name"></span>
                            </td>  
                        </tr>

                        <tr>
                            <td>
                                    <label> <?php echo $helper->__("Video Type"); ?></label>
                                    <span class="vss_info1">
                                            <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("Select the type pf the video."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                    </span>
                            </td>
                            <td>
                                <select onchange="changeHelpDiv();" id="video_type" name="video_type" class=" required-entry required-entry select custom-input-field input-width40px">
                                        <option value="YouTube"
                                            <?php if(isset($video['video_type'])){ if($video['video_type'] == "YouTube")
                                            {
                                                echo "selected";
                                            }}?>
                                            >YouTube</option>
                                        <option value="Vimeo"
                                            <?php if(isset($video['video_type'])){ if($video['video_type'] == "Vimeo")
                                            {
                                                echo "selected";
                                            }}?>
                                            >Vimeo</option>
                                        <option value="Dailymotion"
                                            <?php if(isset($video['video_type'])){ if($video['video_type'] == "Dailymotion")
                                            {
                                                echo "selected";
                                            }}?>
                                            >Dailymotion</option>
                                    </select>
                                <div class="div_help" id="help_youtube"><?php echo $helper->__('Example to get the code for YouTube videos.<br/>URL: "https://www.youtube.com/watch?v=nskWozw1nnS"<br/>CODE: "nskWozw1nnS"') ?></div>
                                <div class="div_help" id="help_vimeo"><?php echo $helper->__('Example to get the code for Vimeo videos.<br/>URL: "https://vimeo.com/1857177525990"<br/>CODE: "1857177525990"') ?></div>
                                <div class="div_help" id="help_dailymotion"><?php echo $helper->__('Example to get the code for Dailymotion videos.<br/>URL: "http://www.dailymotion.com/video/x3l0p64_the_last_hope"<br/>CODE: "video/x3l0p64_the_last_hope"') ?></div>
                            </td>  
                        </tr>

                        <tr>
                            <td>
                                <label> <?php echo $helper->__("Video Code/URL"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("Enter the code of the video. Full URL will also work."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                            </td>
                            <td>
                                <input type="text" name="video_path" id='video_path' class="custom-input-field input-width40px" value="<?php echo $video['video_path'] ?>">
                                <span class="validation_error_msg" id="error_video_path"></span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label> <?php echo $helper->__("Show Video"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("Activate or deactivate the video."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                            </td>
                            <td class="no_top_border" colspan="3">
                                <?php if(isset($video['video_status'])){ if($video['video_status'] == "Active") {?>
                                        <input type="checkbox"  name="video_status" class="js-switch" checked="checked" />
                                <?php } else { ?>
                                        <input type="checkbox"  name="video_status" class="js-switch" />
                                <?php }} ?>
                        </td> 
                        </tr>

                        <tr>
                            <td class="no_top_border">
                                <label><?php echo $helper->__("Default Video"); ?></label>
                                <span class="vss_info1">
                                        <i class="glyphicon glyphicon-question-sign" data-original-title="<?php echo $helper->__("Enable or Disable the Module."); ?>" data-placement="top" data-toggle="tooltip"></i>
                                </span>
                            </td>
                            <td class="no_top_border" colspan="3">
                                <?php if(isset($video['main_video'])){ if($video['main_video'] == "Yes") { ?>
                                        <input type="checkbox"  name="main_video" class="js-switch" checked="checked" />
                                <?php } else { ?>
                                        <input type="checkbox"  name="main_video" class="js-switch" />
                                <?php }} ?>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <!--Edit Form Ends -->
    
    <script>
        changeHelpDiv();
    </script>
    
    <script type="text/javascript">
    
    document.observe('dom:loaded', function () { 
            $$('i[data-toggle="tooltip"]').each(function (element) {
                    $(element).setAttribute('title', $(element).readAttribute('data-original-title'));
                    new Tooltip(element, {backgroundColor: "#496CAD", borderColor: "#496CAD", textColor: "#fff", textShadowColor: "", mouseFollow: false, opacity: .90});
            });
    });            

    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

    elems.forEach(function (html) {
            var switchery = new Switchery(html, {color: '#496CAD'});
    });
</script>