<?php
    // Loading the module helper to get the values from translate file.
    // $helper will be used insted of $this as $helper will have no ambiguity.
    $helper = Mage::helper("productvideo");
    $product_id = $this->getRequest()->getParam('product_id');
    // Getting the array from the block, containing the settings of the module.
    $videoData = $this->getAllVideoDataByProductId($product_id);
    
    $formKey = Mage::getSingleton('core/session')->getFormKey();
    
    $base_url = Mage::getBaseUrl();
    
?>

<script>
    // Setting the global variables so that we can use them in our script file
    window.url = "<?php echo $this->getUrl('*/*/massDelete'); ?>";
</script>

<div id="div_show_all_container">
    <div id="tost_clone"><?php echo $helper->__("No video selected. Please select video(s)."); ?></div>
    <div  id="div_header">
        <div id="div_header_text"><?php echo $helper->__("Product Videos"); ?></div>
        <div id="div_header_button">
            <a  onclick="canDelete();">
                <input type='button' id="btn_mass_delete" class="my_custom_button" value="<?php echo $helper->__("Delete Selected"); ?>" />
            </a>
            <a href="<?php echo $this->getUrl('*/*/add', array('product_id' => $product_id)); ?>">
                <input type='button' id="btn_add_video" class="my_custom_button" value="Add New" />
            </a>
        </div>
    </div>
    <div id="div_main_body">
        <table style="width: 100%;" cellspacing="0" class="data" id="table_videos">
            <thead id="table_head">
                <tr class="headings">
                    <th></th>
                    <th><?php echo $helper->__("ID"); ?></th>
                    <th><?php echo $helper->__("Video Name"); ?></th>
                    <th><?php echo $helper->__("Video Type"); ?></th>
                    <th><?php echo $helper->__("Video Code"); ?></th>
                    <th><?php echo $helper->__("Status"); ?></th>
                    <th><?php echo $helper->__("Product ID"); ?></th>
                    <th><?php echo $helper->__("Main Video"); ?></th>
                    <th><?php echo $helper->__("Date Added"); ?></th>
                    <th class=" no-link last">Action</th>
                </tr>
            </thead>
            <tbody>
                <?php
                $i = 0;
                foreach ($videoData as $video)
                {
                    $video_id = $video['video_id'];
                ?>
                <tr>
                    <td><input type="checkbox" name="mass_delete" value="<?php echo $video['video_id']; ?>" /></td>
                    <td><?php echo $video['video_id']; ?></td>
                    <td class="fixed_width" title="<?php echo $video['video_name']; ?>"><?php echo $video['video_name']; ?></td>
                    <td><?php echo $video['video_type']; ?></td>
                    <td class="fixed_width" title="<?php echo $video['video_path']; ?>"><?php echo $video['video_path']; ?></td>
                    <td><?php echo $video['video_status']; ?></td>
                    <td><?php echo $video['product_id']; ?></td>
                    <td><?php echo $video['main_video']; ?></td>
                    <td><?php echo $video['date_added']; ?></td>
                    <td>
                        <?php
                        echo "<a href=".$this->getUrl('*/*/edit', array('video_id' => $video_id)).">".$helper->__("Edit")."</a>";
                        echo " | ";
                        echo "<a onclick='return confirm(\"Are you sure to delete this video?\")' href=".$this->getUrl('*/*/delete', array('video_id' => $video_id)).">".$helper->__("Delete")."</a>";
                        ?>
                    </td>
                </tr>
                <?php
                $i++;
                }
                ?>
            </tbody>
        </table>
        <?php
        if($i == 0)
        {
        ?>
        <center>
            <br/>
            <?php echo $helper->__("No video assigned."); ?>
        </center>
        <?php
        }
        ?>
    </div>
</div>