<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 6/25/14
 * Time: 3:26 PM
 */?>
<?php //print_r($this->getShipment()->getData()) ?>
<form method="post" action="<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/shipment/edit',array('shipment_id' => $this->getShipment()->getEntityId())); ?>" id="edit_form">
    <?php echo $this->getBlockHtml('formkey')?>
    <input type="hidden" name="order_id" value="<?php echo $this->getShipment()->getOrderId() ?>" />
    <input type="hidden" name="store_id" value="<?php echo $this->getShipment()->getStoreId() ?>" />
    <input type="hidden" name="admin" value="<?php echo Mage::getSingleton('admin/session')->getUser()->getUsername() ?>" />
    <div class="grid np">
        <div class="hor-scroll">
            <table cellspacing="0" class="data order-tables">
                <col />
                <col width="1" />
                <thead>
                <tr class="headings">
                    <th><?php echo $this->helper('sales')->__('Product') ?></th>
                    <th class="a-center"><span class="nobr"><?php echo $this->helper('sales')->__('Qty Shipped') ?></span></th>
                    <th<?php if ($this->isShipmentRegular()): ?> class="a-center last"<?php endif; ?> style="width:10%"><span class="nobr"><?php echo $this->helper('sales')->__('Edit Qty to Ship') ?></span></th>
                </tr>
                </thead>
                <?php $totalItems= 0; ?>
                <?php $_items = $this->getShipment()->getAllItems() ?>
                <?php $_i=0;foreach ($_items as $_item): if ($_item->getOrderItem()->getIsVirtual() || $_item->getOrderItem()->getParentItem()): continue; endif; $_i++ ?>
                    <tbody class="<?php echo $_i%2?'odd':'even' ?>">
                    <?php echo $this->getItemHtml($_item) ?>
                    <?php echo $this->getItemExtraInfoHtml($_item->getOrderItem()) ?>
                    <?php $totalItems += $_item->getQty(); ?>
                    </tbody>
                <?php endforeach; ?>
            </table>
        </div>
    </div>
    <br />
    <?php if($totalItems > 0 ): ?>
    <div class="a-right">
        <button id="edit-shipment-qty"  class="scalable save submit-button" style="" onclick="submitEditShipment(this);" type="button" title="Edit Shipment Qty">
        <span>
            <span>
                <span>Edit Shipment Qty</span>
            </span>
        </span>
        </button>
    </div>
    <?php endif ?>
</form>

<script type="text/javascript">
    //<![CDATA[
    editForm = new varienForm('edit_form');

    Validation.add('validate-shipment-item-qty', 'Quantity is not valid.', function(v,elm) {
        var elementId = elm.readAttribute('id');
        var elementIdSplit = elementId.split('_');
        var origShipmentQty = elementIdSplit.pop();
        origShipmentQty = parseInt(origShipmentQty);
        v = parseInt(v);
        if (origShipmentQty || v == 0 ) {
            //var origShipmentQty = $('orig_shipment_qty_'+itemOrderId).getValue();

//              // Modified condition to allow 0 Qty values
//            if (Validation.get('IsEmpty').test(v)) {
//                return false;
//            } else {
//                /*console.log(v > 0 && v < origShipmentQty);
//                console.log(v<origShipmentQty);
//                console.log(v+"-"+origShipmentQty);*/
//                if (v <= origShipmentQty) {
//                    return true;
//                } else {
//                    return false;
//                }
//            }

            // Updated logic based on comment above to allow 0 qty
            if (v == 0 || v <= origShipmentQty ) {
                return true;
            } else if (Validation.get('IsEmpty').test(v)) {
                alert('test1');
                return false;
            } else {
                alert('test2');
                return false;
            }

        }

        //return false;
    });
    function submitEditShipment(btn){
        if(editForm.submit()) {
            disableElements('submit-button');
        }
    }
    //]]>
</script>


