<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 7/15/14
 * Time: 6:55 PM
 */?>
<script type="text/javascript">
    var added = false;
    function addProduct(closeAfter) {

        if(closeAfter)
        {
            closeWindow();
        }
    }

    function closeWindow()
    {
        if (window.opener) {
            window.opener.focus();
            window.opener.location.reload();
        }
        window.close();
    }

    addProduct(false);
    setTimeout(closeWindow, 3000);
</script>
<div class="a-center">
    <?php echo $this->getCloseButtonHtml() ?>
</div>
