<title>Security Question</title>
<div class="page-title">
</div>
<?php $customerSession = Mage::getModel('customer/session'); ?>
<?php $email = $customerSession->getEmail(); ?>
<?php $securityQuestion  = $customerSession->getQuestion(); ?>
<?php $SecurityAnswer  = $customerSession->getAnswer(); ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form id="form-validate"  method="post" enctype='multipart/form-data' action="<?php echo Mage::getUrl('accountsecurity/question/formpost'); ?>" >
    <div class="fieldset">
        <h2 class="legend" style="margin-bottom: 0.5em;"><?php echo $this->__('Please provide answer') ?></h2>
        <ul class="form-list">
            <li>
                <label style="float: left; width: auto;" for="email_address"><?php echo $this->__('Email Address') ?></label>
                <div class="input-box">
                    <input type="hidden" name="email" value="<?php echo $email; ?>">
                    <div style="float: left; vertical-align: top; width: 385px; font-size: 16px;" class="input-text" id="email-text"><?php echo $email ?></div>
                </div><br/>
            </li>
            <li>
                <label style="float: left; width: auto;" for="security_question"><?php echo $this->__('Security Question') ?></label>
                <div class="input-box">
                    <div style="float: left; vertical-align: top; width: 385px; font-size: 16px;" class="input-text" id="email-text"> <?php echo $securityQuestion ?></div>
                </div><br/>
            </li>
            <li>
                <label style="float: left; width: auto;" for="security_question_answer" class="required"><em>*</em><?php echo $this->__('Security Answer') ?></label>
                <div class="input-box">
                    <input type="text" name="security_question_answer" alt="security_question_answer" id="security_question_answer" class="input-text required-entry" value="<?php echo $this->escapeHtml($this->getAnswerValue()) ?>" />
                </div>
            </li>
        </ul>
    </div>
    <div class="buttons-set">
        <p style="float: left;" class="back-link"><a href="<?php echo Mage::getUrl('customer/account/forgotpassword'); ?>"><small>&laquo; </small><?php echo $this->__('send reset to email') ?></a></p>
        <div class="butsubmit">
            <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
            <p class="required"><em>*</em><?php echo $this->__('Required Fields') ?></p>
        </div>
    </div>
</form>
<script type="text/javascript">
    //<![CDATA[
    jQuery(document).ready(function(){
        jQuery( ".messages" ).prependTo( jQuery( ".page-title" ) );
    });
    var dataForm = new VarienForm('form-validate', true);
    //]]>
</script>