<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<form id="respond" method="post" action="<?php echo $this->getCommentFormAction() ?>">
	<div class="display-none">
		<input type="hidden" name="comment_post_ID" value="<?php echo $this->getPostId() ?>"/>
		<input type="hidden" name="comment_parent" id="comment_parent" value="<?php echo (int)$this->getRequest()->getParam('replytocom', 0) ?>"/>
	</div>
	<div class="fieldset">
		<div class="legend"><?php echo $this->__('Leave a Comment') ?></div>
		<?php if ($this->customerMustLogin()): ?>	
			<p><?php echo $this->__('Sorry, you must be logged in to post a comment.') ?></p>
			<p><button class="button btn-login" type="button" onclick="setLocation('<?php echo $this->getLoginLink() ?>');"><span><span><?php echo $this->__('Login') ?></span></span></button></p>
		<?php else: ?>
			<ul class="form-list">
				<?php if (!$this->isCustomerLoggedIn()): ?>
					<li class="fields">
						<div class="field">
							<div class="input-box">
								<input type="text" id="author" name="author" class="input-text required-entry" value="Name"  onclick="this.value=='Name'?this.value='':''" onblur="this.value==''?this.value='Name':''"/>
							</div>
						</div>
						<div class="field">
							<div class="input-box">
								<input type="text" id="email" name="email" class="input-text required-entry validate-email email-fld" value="Email"  onclick="this.value=='Email'?this.value='':''" onblur="this.value==''?this.value='Email':''"/>
							</div>
						</div>
                        <?php if (!$this->isCustomerLoggedIn()): ?>
                            <div class="field">
                                <div class="input-box">
                                    <input type="text" id="vaidate-email" name="email"
                                           class="input-text required-entry validate-email"
                                           value="<?php echo $this->__('Confirm Email') ?>"
                                           onblur="this.value==''?this.value='<?php echo $this->__('Confirm Email') ?>':''"
                                           onclick="this.value=='<?php echo $this->__('Confirm Email') ?>'?this.value='':''"/>
                                </div>
                            </div>
                        <?php endif; ?>
					</li>
				<?php endif; ?>
				<li>
					<div class="input-box">
						<input type="text" id="url" name="url" class="input-text"  value="Website"  onclick="this.value=='Website'?this.value='':''" onblur="this.value==''?this.value='Website':''"/>
					</div>
				</li>
				<li class="wide">
					<div class="input-box">
						<textarea id="comment" name="comment" rows="8" cols="45" class="required-entry" value="Your comment here"  onclick="this.value=='Your comment here'?this.value='':''" onblur="this.value==''?this.value='Your comment here':''"></textarea>
					</div>
				</li>
				<?php echo $this->getChildHtml('before_form_end') ?>
			</ul>
		<?php endif; ?>
	</div>
	<?php if (!$this->customerMustLogin()): ?>	
	<div class="buttons-set">
		<button type="submit" name="submit"  class="button" value="Post your comment" id="post-the-comment">
			<span><span><?php echo $this->__('Post comment') ?></span></span>
		</button>
		<span class="please-wait" id="respond-please-wait" style="display:none;">
			<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Please wait...') ?>" class="v-middle" /> <?php echo $this->__('Please wait...') ?>
		</span>
	</div>
	<script type="text/javascript">
	//<![CDATA[
		new fishpig.WP.Comments.Form('respond', '<?php echo $this->getPost()->getPermalink() ?>');

    Validation.add('required-entry', 'This is a required field', function (value) {
        if (value === "" || value === 'Name' || value === 'Comment') {
            return false;
        }

        return true;
    });

    jQuery(document).ready(function () {
        Validation.add('validate-email', 'Email addresses do not match.', function (value) {
            if (value == jQuery("#email").val()) {
                return true;
            }
            return false;
        });
    });
	//]]>
	</script>
	<?php endif; ?>
</form>