<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<div class="bottom-links right">
    <div class="comment-counter"><h5><?php echo $this->__('%s', $this->getCommentCount())?></h5> <span>Comment</span></div>

</div>


<?php $post = $this->getPost() ?>
<?php $comments = $this->getComments() ?>
<div id="comments" class="comments-wrapper">
	<?php if ($comments->count() > 0): ?>
		<?php if ($this->getCommentCount() == 1): ?>

			<?php //echo $this->__('One thought on &ldquo;%s&rdquo;', $this->escapeHtml($post->getPostTitle())) ?>
			<?php // echo $this->__('Comments', $this->escapeHtml($post->getPostTitle())) ?>
		<?php else: ?>

			<?php //echo $this->__('%s thoughts on &ldquo;%s&rdquo;', $this->getCommentCount(), $this->escapeHtml($post->getPostTitle())) ?>
			<?php // echo $this->__('Comments', $this->getCommentCount(), $this->escapeHtml($post->getPostTitle())) ?>
		<?php endif; ?>
        <?php echo $this->getCommentsHtml() ?>
		<?php echo $this->getPagerHtml() ?>
	<?php endif; ?>
    <?php echo $this->getFormHtml() ?>
</div>
