<?php
/**
 * Grow Development - Store Locations Pro
 *
 * @category   Growdevelopment
 * @package    Growdevelopment_StoreLocations
 * @copyright  Copyright (c) 2012 Grow Development (http://www.growdevelopment.com)
 * @license    http://www.growdevelopment.com/docs/eula.txt
 * @author     Daniel Espinoza <modules@growdevelopment.com>
 *
 */
?>
<?php
/**
 * Template for Growdevelompent_StoreLocations_Adminhtml_Block_Locations_Edit_Tab_Form
 */
?>
<div class="entry-edit">


<?php 
// Display the search form and the preview map. 
$data = Mage::registry('storelocation_data')->getData(); 
if (isset($data['google_latitude'])){
	$lat  = ($data['google_latitude'] == 0)   ? 40.7143528 : $data['google_latitude'];
} else {
	$lat  = 40.7143528;
}

if (isset($data['google_longitude'])){
	$long = ($data['google_longitude'] == 0)  ? -74.0059731 :  $data['google_longitude'];
} else {
	$long = -74.0059731;
}

if (isset($data['google_zoom_level'])){
	$zoom = ($data['google_zoom_level'] == 0) ? 6 : $data['google_zoom_level']; 
} else {
	$zoom = 6; 
}


?>

    <?php echo $this->getFormHtml();?>
    <table>
    	<tr>
    		<td colspan="2"><b>Search for the address to populate Latitude and Longitude</b></td>
    	</tr>
    	<tr>
    		<td width="200">Full Address To Map:</td>
    		<td><input class="address_input" type="text" size="40" value="" name="search_address" id="search_address"/>
    		<button id="get_lat_long" onclick="return false;">Get Latitude / Longitude</button>
    	</tr>
    </table>
    
    <div class="map_container" style=" width: 600px !important; height: 400px !important; position: relative; ">
        <div id="map_canvas" style="width: 600px; height: 400px;"></div>
	</div>

</div>

<?php echo $this->getChildHtml('form_after');?>
    <?php $isSecure = Mage::app()->getStore()->isCurrentlySecure(); ?>
    <?php if ($isSecure):?>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <?php else: ?>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <?php endif; ?>
    <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	
    <script type="text/javascript">
	    jQuery.noConflict(); 
	    
		jQuery(document).ready(function(){
			var map;
			var geocoder;
			var address;
			var location;
			var markersArray = [];
			
			function initialize() {
			  
			  // Create Map
			  location = new google.maps.LatLng(<?php echo $lat; ?>,<?php echo $long; ?>);
			  var myOptions = {
			  		center: location,
			  		zoom: <?php echo $zoom; ?>,
			  		mapTypeId: google.maps.MapTypeId.ROADMAP,
			  		streetViewControl: false
			  };
			  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
			        	  
	      	  // Event Listener - Standard Map Zoom Change
	      	  google.maps.event.addListener(map, 'zoom_changed', function(){
	      	  	var z = map.getZoom();        
	        	jQuery('#google_zoom_level option').attr('selected','');
	        	jQuery('#google_zoom_level option[value="'+z+'"]').attr('selected','selected');
	      	  });
	      	  
	      	  // Event Listener - Standard Map Click Event
	      	  geocoder = new google.maps.Geocoder();
	      	  google.maps.event.addListener(map, "click", getAddress);

			}
			
			// Adds the overlays to the map and keeps track of them in the markersArray
			function addMarker(location) {
	  			var marker = new google.maps.Marker({
	    			position: location,
	    			map: map
	  			});
	  			markersArray.push(marker);
			}
			
			// Deletes all markers
			function removeMarkers() {
			 	if (markersArray.length != 0 ) {
			    	for (i=0; i < markersArray.length; i++) {
			      		markersArray[i].setMap(null);
			    	}
			    	markersArray = new Array();
			  	}
			}
	
			// Sets initial marker on center point
			function setSavedAddress() {
				point = new google.maps.LatLng(<?php echo $lat; ?>,<?php echo $long; ?>);
			 	addMarker(point);
	  		}
			
			// Click event for address
			function getAddress(event) {
			  	if (event.latLng != null) {
					address = event.latLng;
					geocoder.geocode( { 'location': address}, showAddress);
			  	}
			}
			
			// Updates fields with address data
			function showAddress(results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
	        		removeMarkers();
	        		
	        		map.setCenter(results[0].geometry.location);
	        			
	        		addMarker(results[0].geometry.location);

	        		var point = results[0].geometry.location;
	        				
					jQuery('#google_latitude').attr('value',point.lat());
					jQuery('#google_longitude').attr('value',point.lng());
	        					
	        	} else {
	        		alert("Status Code:" + status);
	        		
	        	}
			}
			
			// mapAddress() add the given address to the map
			function mapAddress(results, status) {
			  
			  removeMarkers();
			  if (status != google.maps.GeocoderStatus.OK) {
				alert("Sorry, we were unable to geocode that address");
			  } else {
				var point = results[0].geometry.location;					
				
				map.setCenter(point, <?php echo $zoom; ?>);
				addMarker(point);
			  					
				jQuery('#google_latitude').attr('value',point.lat());
				jQuery('#google_longitude').attr('value',point.lng());
				
			  }
			}
			
			// search for the given address
			jQuery('#get_lat_long').click(function(){
				var address = jQuery('#search_address').attr('value');
				geocoder.geocode( { 'address': address}, mapAddress);
			})
		

			initialize();
			setSavedAddress();
			google.maps.event.trigger(map, "resize");
						
		});
    </script>