@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
em {
    font-style: italic;
}
html {
    min-width: 960px;
}

ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a:focus, *:focus {
}
* {
}
button {
    border: 0 none;
    cursor: pointer;
}

a{text-decoration:none;}
p{ line-height:19px;}



/*Maintenance page*/
#maintenance_wrap {
    left: 50%;
    margin-left: -267px;
    margin-top: -295px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 535px;
} 
#maintenance_wrap h2{ font-family: 'BoxedRegular-Bold'; text-transform: uppercase; font-size: 35px; color: #000; }
.maintenance { padding: 30px 0 20px 0;}
.maintenance p { font-family:'BoxedLight'; font-size: 14px; color: #000; line-height:  23px; padding-top: 10px;}
#maintenance_background { background:url(images/background_image2.png) no-repeat;}



 
}