<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 7/12/14
 * Time: 3:20 PM
 */
?>
<form id="co-ffl-form" enctype="multipart/form-data" action="">
    <fieldset>
        <ul class="form-list">
            <?php $fflListCount = count($this->getFflList()); ?>
            <li id="checkout-ffl-load" style="display:none"></li>
            <input id="new_ffl_id" name="new_ffl_id" value="" type="text" style="display:none"/>
            <input id="associate" name="associate" value="" type="text" style="display:none"/>
            <?php if ($fflListCount > 0): ?>
                <li class="form-alt">
                    <label for="shipping-address-select"><?php echo $this->__('Select a ffl from your ffl book or enter a new ffl.') ?></label>
                    <div class="input-box"><?php echo $this->getFflSelectHtml() ?></div>
                </li>
            <?php endif ?>
            <li id="ffl-form"<?php if ($fflListCount > 0): ?> style="display:none;"<?php endif ?>>
                <div class="fieldset">
                    <input type="hidden" name="ffl_id" value="<?php echo $this->getFfl()->getId() ?>" id="shipping:address_id" />
                    <ul class="">
                        <li class="fields">
                            <div class="field">
                                <label class="required"><em>*</em>Holder Name</label>
                                <div class="input-box">
                                    <?php $holderName = $this->getFfl()->getFflHolderName()?$this->getFfl()->getFflHolderName():''; ?>
                                    <input type="text" id="holder_name" name="ffl_holder_name" value="<?php //echo isset($holderName)?$holderName:''; ?>" title="<?php echo $this->__( 'FFL Holder Name' ) ?>" maxlength="255" class="input-text required-entry" <?php /*onclick="this.value=='FFL Holder Name'?this.value='':''" onblur="this.value==''?this.value='FFL Holder Name':''"*/ ?> />
                                </div>
                            </div>
                            <div class="field">
                                <label class="required"><em>*</em>Holder Business Name</label>
                                <div class="input-box">
                                    <?php $businessName = $this->getFfl()->getFflHolderBusinessName(); ?>
                                    <input type="text" id="business_name" name="ffl_holder_business_name" value="<?php //echo isset($businessName)?$businessName:'' ?>" title="<?php echo $this->__( 'FFL Holder Business Name' ) ?>" maxlength="255" class="input-text required-entry" <?php /*onclick="this.value=='FFL Holder Business Name'?this.value='':''" onblur="this.value==''?this.value='FFL Holder Business Name':''"*/ ?> />
                                </div>
                            </div>
                        </li>
                        <li>
                            <label class="required"><em>*</em>Holder Address Line</label>
                            <div class="input-box">
                                <?php $addressLine = $this->getFfl()->getFflHolderAddressLine(); ?>
                                <input type="text" name="ffl_holder_address_line" id="ffl_holder_address_line" value="<?php //echo isset($addressLine)?$addressLine:'' ?>" title="<?php echo $this->__( 'FFL Holder Address Line 1' ) ?>" class="input-text required-entry" <?php /*onclick="this.value=='FFL Holder Address Line 1'?this.value='':''" onblur="this.value==''?this.value='FFL Holder Address Line 1':''"*/ ?> />
                            </div>
                        </li>
                        <li class="add-field">
                            <!--<label class="">Holder Address Line 2</label>-->
                            <div class="input-box">
                                <?php $addressLine2 = $this->getFfl()->getFflHolderAddressLine2(); ?>
                                <input type="text" name="ffl_holder_address_line2" id="ffl_holder_address_line2" value="<?php //echo isset($addressLine2)?$addressLine2:'' ?>" title="<?php echo $this->__( 'FFL Holder Address Line 2' ) ?>" class="input-text" <?php /*onclick="this.value=='FFL Holder Address Line 2'?this.value='':''" onblur="this.value==''?this.value='FFL Holder Address Line 2':''"*/ ?> />
                            </div>
                        </li>
                        <li class="fields">
                            <div class="field">
                                <label class="required"><em>*</em>Holder Phone Number</label>
                                <div class="input-box">
                                    <?php $phoneNumber = $this->getFfl()->getFflHolderPhoneNumber(); ?>
                                    <input type="text" name="ffl_holder_phone_number" id="ffl_holder_phone_number" value="<?php //echo isset($phoneNumber)?$phoneNumber:'' ?>" title="<?php echo $this->__( 'Telephone' ) ?>" class="input-text required-entry" <?php /*onclick="this.value=='Telephone'?this.value='':''" onblur="this.value==''?this.value='Telephone':''"*/ ?> />
                                </div>
                            </div>
                            <div class="field">
                                <label class="required"><em>*</em>FFL Number</label>
                                <div class="input-box">
                                    <?php $number = $this->getFfl()->getFflNumber(); ?>
                                    <input class="input-text required-entry validate-ffl-number-format" type="text" name="ffl_number" value="<?php //echo isset($number)?$number:'' ?>" <?php /*onclick="this.value=='FFL Number'?this.value='':''" onblur="this.value==''?this.value='FFL Number':''"*/ ?> />
                                </div><!--input-box field-->
                            </div>
                        </li>
                        <li class="fields">
                            <div class="field">
                                <label class="required"><em>*</em>Expiration Date</label>
                                <div class="input-box">
                                    <?php $date = $this->getFfl()->getFflExpirationDate()?$this->getFfl()->getFflExpirationDate():'' ?>
                                    <?php $date = $date?Mage::helper('core')->formatDate($date, 'short', false): ''; ?>
                                    <input type="text" id="_dob" name="ffl_expiration_date" class="input-text required-entry validate-date validate-past-date" value="<?php //echo $date ?>" />
                                    <img title="Select date" id="_dob_trig" src="<?php echo $this->getSkinUrl('images/calendar.gif');?>" class="v-middle" style="padding:14px 5px">
                                </div>
                                <script type="text/javascript">
                                    //<![CDATA[
                                    Calendar.setup({
                                        inputField : '_dob',
                                        ifFormat : '%m/%e/%y',
                                        button : '_dob_trig',
                                        align : 'Bl',
                                        singleClick : true,
                                        disableFunc: function(date) {
                                            var now= new Date();
                                            if(date.getFullYear()<now.getFullYear())
                                            {
                                                return true;
                                            }
                                            if(date.getFullYear()==now.getFullYear())
                                            {
                                                if(date.getMonth()<now.getMonth())
                                                {
                                                    return true;
                                                }
                                            }
                                            if(date.getMonth()==now.getMonth())
                                            {
                                                if(date.getDate()<now.getDate())
                                                {
                                                    return true;
                                                }
                                            }
                                        }
                                    });
                                    //]]>
                                </script>
                            </div>
                        </li>
                        <li class="">
                            <div class="field">
                                <label class="required"><em>*</em>State/Province</label>
                                <div class="input-box">
                                    <select id="region_id" name="ffl_holder_state_id" title="<?php echo $this->__('State/Province') ?>" style="display:none;">
                                        <option value=""><?php echo $this->__('State/Province') ?></option>
                                    </select>
                                    <script type="text/javascript">
                                        //<![CDATA[
                                        $('region_id').setAttribute('defaultValue',  "<?php //echo $this->getFfl()->getFflHolderStateId() ?>");
                                        //]]>
                                    </script>
                                    <?php $region = $this->getFfl()->getFflHolderState(); ?>
                                    <input type="text" id="region" name="ffl_holder_state" value="<?php //echo isset($region)?$region:'' ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
                                </div><!--input-box-->
                            </div>
                        </li>
                        <li class="fields">
                            <label class="required"><em>*</em>Zip Code</label>
                            <div class="input-box">
                                <?php $zip = $this->getFfl()->getFflHolderZipCode(); ?>
                                <input class="input-text validate-postcode" type="text" name="ffl_holder_zip_code" id="zip_code" value="<?php //echo isset($zip)?$zip:'' ?>"  />
                            </div><!--input-box-->
                        </li>
                        <li style="display:none !important">
                            <label class="required"><em>*</em>Country</label>
                            <div class="input-box">
                                <?php $country = $this->getFfl()->getCountryId() ?>
                                <?php $country = isset($country)?$country: 'US'; ?>
                                <?php echo Mage::getBlockSingleton('directory/data')->getCountryHtmlSelect($country) ?>
                            </div><!--input-box-->
                        </li>
                        <li class="fields">
                            <label class="required"><em>*</em>FFL Image</label>
                            <?php $image = $this->getFfl()->getFflImage() ?>
                            <div class="input-box">
                                <input id="file_upload" type="file" name="file_upload" />
                            </div>
                            <input id="file_upload_path" type="hidden" value="" name="ffl_image" class='required-entry'  />
                            <input type="hidden" value='billing_file' name="ffl_image_type" class='required-entry'  />
                            <?php $url = Mage::app()->getStore(1)->getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK)."upload.php"; ?>
                            <?php if(!Mage::app()->getStore()->isCurrentlySecure()): ?>
                                <?php $url = preg_replace( '#^https://#','http://', $url ); ?>
                            <?php endif; ?>
                            <!--<script type="text/javascript">
                                // <![CDATA[
                                jQuery(document).ready(function() {
                                    jQuery('#file_upload').uploadify({
                                        'uploader'  : '<?php /*echo $this->getSkinUrl('uploadify/uploadify.swf') */?>',
                                        'cancelImg' : '<?php /*echo $this->getSkinUrl('uploadify/cancel.png') */?>',
                                        'script'    : '<?php /*echo Mage::app()->getStore(1)->getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK)."checkout/onepage/upload" */?>',
                                        'auto'       : true,
                                        'fileDataName' : 'file',
                                        'fileExt'     : '*.jpg;*.gif;*.png;*.pdf',
                                        'fileDesc'    : 'All Files',
                                        'removeCompleted':false,
                                        'onProgress'   : function(file, e) {
                                            jQuery('#ffl-submit').prop("disabled",true);
                                        },
                                        'onComplete' : function(event, ID, fileObj, response, data){
                                            jQuery('#file_upload_path').val(response);
                                            jQuery('#ffl-submit').prop("disabled",false);
                                            //jQuery('#file_upload_text').html('File Uploaded: '+fileObj.name);
                                        }

                                    });
                                });
                                // ]]>
                            </script>-->
                            <script type="text/javascript">
                                // <![CDATA[
                                jQuery(document).ready(function() {
                                    jQuery('#file_upload').uploadify({
                                        'uploader'          : '<?php echo $url; ?>',
                                        'swf'               : '<?php echo $this->getSkinUrl('uploadify/uploadify.swf') ?>',
                                        'auto'              : true,
                                        'fileDataName'      : 'file',
                                        'fileTypeExts'      : '*.jpg;*.gif;*.png;*.pdf',
                                        'fileTypeDesc'      : 'All Files',
                                        'simUploadLimit'    : 1,
                                        'multi'             : false,
                                        'removeCompleted'   : false,
                                        'onUploadSuccess' : function(file, response, data){
                                            jQuery('#file_upload_path').val(response);
                                        }
                                    });
                                });
                                // ]]>
                            </script>
                            <!--<a onclick="imagePreview('photo_image'); return false;" href="<?php /*echo $this->getImageUrl($image) */?>">
                                <img id="photo_image" class="small-image-preview v-middle" width="22" height="22" alt="" title="" src="<?php /*echo $this->getImageUrl($image) */?>">
                            </a>
                            <div>
                                <input type="file" title="File" name="ffl_image" <?php /*if(!$image): */?>class="required-entry validate-file-ext"<?php /*endif; */?> value="<?php /*echo $image */?>" />
                            </div>-->
                        </li>
                        <li class="control">
                            <label class="required">Default FFL</label>
                            <div class="input-box">
                                <input type="checkbox" id="primary_default" name="is_default" value="1" class="checkbox" />
                            </div>
                        </li>
                        <li class="control">
                            <label>I do not have an FFL to ship to at this time, and I understand it is my responsibility to get one.</label>
                            <div class="input-box">
                                <input type="checkbox" id="no_ffl" name="no_ffl" value="" class="checkbox" onclick="noFfl()" />
                            </div>
                        </li>
                    </ul>
                </div>
            </li><!--ffl-form-->
            <p class="note" id="ffl-note" style="display:none; color:red">*This will put the order on hold until a valid FFL is associated with it.</p>
        </ul>
    </fieldset>
    <div class="buttons-set" id="ffl-buttons-container">
        <button type="button" id="ffl-submit" title="<?php echo $this->__('Continue') ?>" class="button" onclick="binaryanvil.save()"><span><span><?php echo $this->__('Continue') ?></span></span></button>
        <span class="please-wait" id="ffl-please-wait" style="display:none;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
        </span>
    </div>
    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
</form>
<script type="text/javascript">
    //<![CDATA[
    var binaryanvil = new BinaryAnvilMethod('co-ffl-form','<?php echo $this->getUrl('checkout/onepage/saveFfl') ?>');
    var binaryanvilForm = new VarienForm('co-ffl-form');
    new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
    Validation.add('validate-file', 'Attachment should be jpeg, or pdf', function(v) {
        if(v.split('.')[1] != 'pdf' && v.split('.')[1] != 'jpeg' && v.split('.')[1] != 'jpg'){
            return false;
        }else{
            return true;
        }

    });
    Validation.add('validate-file-ext', 'Attachment should be jpeg, or pdf', function(v) {
        if(v.split('.')[1] != 'pdf' && v.split('.')[1] != 'jpeg' && v.split('.')[1] != 'jpg'){
            return false;
        }else{
            return true;
        }

    });
    Validation.add('validate-ffl-number-format', 'Please enter a valid FFL number. For example 1-12-123-12-12-12345.', function(v) {
        return Validation.get('IsEmpty').test(v) || /^[a-zA-Z0-9]{1}?(-|\s)?[a-zA-Z0-9]{2}(-|\s)[a-zA-Z0-9]{3}?(-|\s)?[a-zA-Z0-9]{2}?(-|\s)?[a-zA-Z0-9]{2}?(-|\s)?[a-zA-Z0-9]{5}$/.test(v);

    });
    Validation.add('validate-past-date', 'Please enter a valid date. Do not enter past date.', function(v) {
        v = v.split(/[.\/]/);
        var now= new Date();

        var currentYear = new Date().getFullYear() + '';
        if (v[2] && v[2].length < 4) {
            v[2] = currentYear.substr(0, v[2].length) + v[2];
        }
        var inputtedDate = new Date(v.join('/'));
        //var currentDate = now.getMonth() + '/'+ now.getDate() + '/' + now.getFullYear();
        if (inputtedDate.getFullYear()==now.getFullYear() && inputtedDate.getMonth()==now.getMonth() && inputtedDate.getDate()==now.getDate()) {

            return true;
        } else if (now > inputtedDate) {
            return false;
        } else
        {
            return true;
        }

        return false;

    });
    function noFfl()
    {
        if (jQuery('#no_ffl').prop('checked')) {
            jQuery('#ffl-note').show()
            jQuery('#no_ffl').val(1);
        } else {
            jQuery('#ffl-note').hide();
            jQuery('#no_ffl').val('');
        }
    }
    //]]>
</script>
