<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 7/14/14
 * Time: 3:29 PM
 */?>
<div class="block block-progress opc-block-progress">
    <div class="block-title">
        <strong><span><?php echo $this->__('Checkout Progress') ?></span></strong>
    </div>
    <div class="block-content">
        <dl>
            <!--select ffl checkout step-->
            <?php if ($this->getCheckout()->getStepData('ffl', 'is_show')): ?>
                <div id="ffl-progress-opcheckout">
                    <?php echo $this->getChildHtml('ffl.progress') ?>
                </div>
            <?php endif; ?>
            <!--select ffl checkout step-->
            <?php if ($this->getCheckout()->getStepData('billing', 'is_show')): ?>
                <div id="billing-progress-opcheckout">
                    <?php echo $this->getChildHtml('billing.progress') ?>
                </div>
            <?php endif; ?>

            <?php if ($this->getCheckout()->getStepData('shipping', 'is_show')): ?>
                <div id="shipping-progress-opcheckout">
                    <?php echo $this->getChildHtml('shipping.progress') ?>
                </div>
            <?php endif; ?>
            <?php if ($this->getCheckout()->getStepData('shipping_method', 'is_show')): ?>
                <div id="shipping_method-progress-opcheckout">
                    <?php echo $this->getChildHtml('shippingmethod.progress') ?>
                </div>
            <?php endif; ?>

            <?php if ($this->getCheckout()->getStepData('payment', 'is_show')): ?>
                <div id="payment-progress-opcheckout">
                    <?php echo $this->getChildHtml('payment.progress') ?>
                </div>
            <?php endif; ?>
        </dl>
    </div>
</div>
