<div class="slideshow-container">
    <?php $bannersContent = $this->getBannersContent() ?>
    <div class="slideshow owl-carousel">
        <?php foreach ($bannersContent as $bannerId => $content): ?>
            <div id="banner-<?php echo $bannerId; ?>"><?php echo
                $content?></div>
        <?php endforeach; ?>
    </div>
    <div class="slideshow-pager">&nbsp;</div>
    <span class="slideshow-prev">&nbsp;</span> <span class="slideshow-next">&nbsp;</span>
</div>