<?php
$session = Mage::getSingleton('core/session');
$email = $session->getSubscriberEmail();
?>
<div class="newletter-form-wrap">
    <h2 class="newsletter-header-b2b">Want a Headstart on our<br>latest deals and promos?</h2>
    <form id="newsletter-validate-detail" method="post" action="https://go.reachmail.net/libraries/form_wizard/process_subscribe.asp">
        <p class="newsletter-instruction">Fill up the form below and after you hit <strong>Submit</strong>, check your email for the confirmation link.</p>
        <div class="subc-left">
            <ul class="newsletter-form-fields">
                <li>
                    <input type="text" class="required-entry validate-newsletter-entry input-text" onblur="this.value == '' ? this.value = 'First Name' : ''" onclick="this.value == 'First Name' ? this.value = '' : ''" value="First Name" id="fname" name="rm_first_name" />
                </li>
                <li>
                    <input type="text" class="required-entry validate-newsletter-entry input-text" onblur="this.value == '' ? this.value = 'Last Name' : ''" onclick="this.value == 'Last Name' ? this.value = '' : ''" value="Last Name" id="lname" name="rm_last_name" />
                </li>
                <li>
                    <input type="text" class="input-text required-entry validate-newsletter-entry validate-email" onblur="this.value == '' ? this.value = 'Enter your email address' : ''" onclick="this.value == 'Enter your email address' ? this.value = '' : ''" value="<?php echo $email ? $email : 'Enter your email address'; ?>" id="newsletter-email" name="rm_email" />
                </li>
                <li>
                    <input type="text" class="input-text required-entry validate-newsletter-entry validate-cemail" onblur="this.value == '' ? this.value = 'Please confirm your email' : ''" onclick="this.value == 'Please confirm your email' ? this.value = '' : ''" value="Please confirm your email" id="confirm-email" />
                </li>
            </ul>
        </div>
        <div class="crystal"></div>
        <div class="newsletter-sub-button">
            <button title="Subscribe" class="button submit-newsletter" type="submit"><span>&nbsp;</span></button>
        </div>
        <div class="newsletter-message_note">
            *Make sure to look for our email in your <strong>Spam</strong> folder if you can't find it in your Inbox.
        </div><!--message_note-->
    <!--        <input type="hidden" name="apikey" value="19c85d3da3dc6311a5c45c4d3cf228ef-us1" />-->
    <!--        <input type="hidden" name="listID" value="a55ca99e74" />-->
        <div class="crystal"></div>

        <input type="hidden" value="3" name="my_type" />

        <input type="hidden" name="form_id" value="2618" />
        <input type="hidden" name="list_name" value="XLIST_EB25DEF31B2B4029B41909F0BC4AF3AA" />
        <input type="hidden" name="list_id" value="339359" />
        <input type="hidden" value="email,first_name,last_name" name="el_list" />
        <input type="hidden" name="list_uname" value="" />
        <input type="hidden" name="list_umsg" value="" />
        <input type="hidden" name="page_confirm" value="<?php echo Mage::getBaseUrl(); ?>mail-confirmation-page" />
        <input type="hidden" name="list_fromname" value="" />
        <input type="hidden" name="list_fromemail" value="" />
        <input type="hidden" name="list_subject" value="" />
    </form>

    <script type="text/javascript">
                        jQuery(document).ready(function() {
                            var noError = true;
                            jQuery("#newsletter-validate-detail").on('submit', function() {
                                newsletter.validate();
                                return noError;
                            });

                            jQuery(".newsletter-form-fields li input").each(function(){
                                jQuery(this).blur(function(){
                                    newsletter.validate();
                                });
                            });

                            newsletter = {
                                validate: function() {
                                    if (jQuery("#fname").val() === 'First Name') {
                                        if (jQuery("#fname").parent().children(".validation-advice-b2b").length < 1) {
                                            jQuery("#fname").parent().append('<div class="validation-advice validation-advice-b2b">This is a required field.</div>');
                                        }

                                        jQuery("#fname").css({
                                            color: '#FF0000'
                                        });

                                        noError = false;
                                    } else if (jQuery("#fname").val() !== 'First Name') {
                                        jQuery("#fname").parent().children('.validation-advice-b2b').remove();

                                        jQuery("#fname").css({
                                            color: '#7A7A7A'
                                        });

                                        noError = true;
                                    }

                                    if (jQuery("#lname").val() === 'Last Name') {
                                        if (jQuery("#lname").parent().children(".validation-advice-b2b").length < 1) {
                                            jQuery("#lname").parent().append('<div class="validation-advice validation-advice-b2b">This is a required field.</div>');
                                        }

                                        jQuery("#lname").css({
                                            color: '#FF0000'
                                        });

                                        noError = false;
                                    } else if (jQuery("#lname").val() !== 'Last Name') {
                                        jQuery("#lname").parent().children('.validation-advice-b2b').remove();

                                        jQuery("#lname").css({
                                            color: '#7A7A7A'
                                        });

                                        noError = true;
                                    }

                                    if (jQuery("#newsletter-email").val() === 'Enter your email address') {
                                        if (jQuery("#newsletter-email").parent().children(".validation-advice-b2b").length < 1) {
                                            jQuery("#newsletter-email").parent().append('<div class="validation-advice validation-advice-b2b">This is a required field.</div>');
                                        }

                                        jQuery("#newsletter-email").css({
                                            color: '#FF0000'
                                        });

                                        noError = false;
                                    } else if (jQuery("#newsletter-email").val() !== 'Enter your email address') {
                                        jQuery("#newsletter-email").parent().children('.validation-advice-b2b').remove();

                                        jQuery("#newsletter-email").css({
                                            color: '#7A7A7A'
                                        });

                                        noError = true;
                                    }

                                    if (jQuery("#confirm-email").val() === 'Please confirm your email') {
                                        if (jQuery("#confirm-email").parent().children(".validation-advice-b2b").length < 1) {
                                            jQuery("#confirm-email").parent().append('<div class="validation-advice validation-advice-b2b">This is a required field.</div>');
                                        }

                                        jQuery("#confirm-email").css({
                                            color: '#FF0000'
                                        });

                                        noError = false;
                                    } else if (jQuery("#confirm-email").val() !== 'Please confirm your email') {
                                        jQuery("#confirm-email").parent().children('.validation-advice-b2b').remove();

                                        jQuery("#confirm-email").css({
                                            color: '#7A7A7A'
                                        });

                                        noError = true;
                                    }

                                     if (jQuery("#confirm-email").val() !== jQuery("#newsletter-email").val()) {
                                        if (jQuery("#confirm-email").parent().children(".validation-advice-b2b").length < 1) {
                                            jQuery("#confirm-email").parent().append('<div class="validation-advice validation-advice-b2b">Email validation failed.</div>');
                                        }

                                        jQuery("#confirm-email").css({
                                            color: '#FF0000'
                                        });

                                        noError = false;
                                    }
                                }
                            }
                        });
    </script>
</div>