<!--@subject {{var store.getFrontendName()}}: Shipment # {{var shipment.increment_id}} for Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var shipment.increment_id":"Shipment Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var comment":"Shipment Comment"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background-color:#f4f4f4; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="left" valign="top" style="padding:20px 0 20px 0;">
                <!-- [ header starts here] -->
                <table bgcolor="f4f4f4" cellspacing="0" cellpadding="20" border="0" width="650" style="border:8px solid #e5e5e5;" align="center">
                    <tr>
                        <td valign="middle" style="border:none; padding:20px;">
                            <table width="100%" style="border:0">
                                <tr>
                                    <td style="width:40%;">{{customVar code=sp_store_logo}}</td>
                                    {{if shipment.void_shipment}}
                                    <td style="width:60%; text-align:right; font-family:Arial, Helvetica, sans-serif; color:#000; font-size:20px; font-weight:bold;">Voided Shipment</td>
                                    {{else}}
                                    <td style="width:60%; text-align:right; font-family:Arial, Helvetica, sans-serif; color:#000; font-size:20px; font-weight:bold;">New Shipment</td>
                                    {{/if}}
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top" style="border:none; padding:20px;">
                            <h1 style="font-size:18px; font-weight:normal; line-height:22px; margin:0 0 11px 0; color:#000;">Hello, {{htmlescape var=$order.getCustomerName()}}</h1>
                            <p style="font-size:12px; line-height:20px; margin:0 0 8px 0; color:#646464;">There were some changes made to your shipment. Please refer below.</p>
                            <p style="font-size:12px; line-height:20px; margin:0 0 8px 0; color:#646464;">You can check the status of your order by <a href="{{store url="customer/account/"}}" style="color:#d53c3c; text-decoration:none; font-weight:bold;" target="_blank">logging into your account</a>.</p>
                            <p style="font-size:12px; line-height:20px; margin:0; color:#646464;">If you have any questions about your order please contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#d53c3c;">{{config path='trans_email/ident_support/email'}}</a> or call us at <strong style="color:#000;"><span class="nobr">{{config path='general/store_information/phone'}}</span> Monday - Friday, 8am - 5pm PST.</strong></p>
                            <p style="font-size:12px; line-height:20px; margin:0; color:#646464;">Your shipping confirmation is below. Thank you again for your business.</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:0 20px;">
                            {{if shipment.void_shipment}}
                            <h2 style="font-size:14px; font-weight:bold; margin:0; color:#9f9f9f;">This Shipment Invoice <small style="color:#000; font-weight:bold; font-size:16px;">#{{var shipment.increment_id}}</small> for Order<small style="color:#000; font-weight:bold; font-size:16px;"> #{{var order.increment_id}}</small> is voided</h2>
                            {{else}}
                            <h2 style="font-size:14px; font-weight:bold; margin:0; color:#9f9f9f;">Your Shipment <small style="color:#000; font-weight:bold; font-size:16px;">#{{var shipment.increment_id}}</small> for Order<small style="color:#000; font-weight:bold; font-size:16px;"> #{{var order.increment_id}}</small></h2>
                            {{/if}}
                        </td>
                    </tr>
                    {{if shipment.void_shipment}}
                    <tr><td></td></tr>
                    {{else}}
                    <tr>
                        <td style="padding:20px;">
                            <table cellspacing="0" cellpadding="0" border="0" width="650">
                                <thead>
                                <tr>
                                    <th align="left" width="325" bgcolor="#f4f4f4" style="font-size:14px; padding: 10px 14px 11px 11px; font-weight:bold; text-transform:uppercase; color:#9f9f9f; line-height:1em; border-top: 5px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;">Billing Information</th>

                                    <th align="left" width="325" bgcolor="#f4f4f4" style="font-size:14px; padding: 10px 14px 11px 11px; font-weight:bold; text-transform:uppercase; color:#9f9f9f; line-height:1em; border-top: 5px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;">Payment Method</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td valign="top" style="font-size:12px; padding:10px; border-bottom:1px solid #e5e5e5; color:#646464;">
                                        {{var order.billing_address.format('html')}}
                                    </td>

                                    <td valign="top" style="font-size:12px; padding:10px; border-bottom:1px solid #e5e5e5; color:#646464;">
                                        {{var payment_html}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>
                            {{depend order.getIsNotVirtual()}}
                            <table cellspacing="0" cellpadding="0" border="0" width="650">
                                <thead>
                                <tr>
                                    <th align="left" width="325" bgcolor="#f4f4f4" style="font-size:14px; padding: 10px 14px 11px 11px; font-weight:bold; text-transform:uppercase; color:#9f9f9f; line-height:1em; border-top: 5px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;">Shipping Information</th>


                                    <th align="left" width="325" bgcolor="#f4f4f4" style="font-size:14px; padding: 10px 14px 11px 11px; font-weight:bold; text-transform:uppercase; color:#9f9f9f; line-height:1em; border-top: 5px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;">Shipping Method</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td valign="top" style="font-size:12px; padding:10px; border-bottom:1px solid #e5e5e5; color:#646464;">
                                        {{var order.shipping_address.format('html')}}

                                    </td>

                                    <td valign="top" style="font-size:12px; padding:10px; border-bottom:1px solid #e5e5e5; color:#646464;">
                                        {{var order.shipping_description}}
                                        &nbsp;
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>
                            {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}
                            {{block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order}}
                            <p style="font-size:12px; margin:20px; color:#444; font-style:italic;">{{var comment}}</p>
                        </td>
                    </tr>
                    {{/if}}
                </table>

                <table cellspacing="0" cellpadding="10" border="0" width="700" align="center">
                    <tr>
                        <td style="text-align:left; vertical-align:middle; color:#a8a8a8">© Seekins Precision 2013. All Rights Reserved.</td>
                        <td style="font-weight:bold; vertical-align:middle; text-align:right;">
                            <a style="text-decoration:none; color:#a8a8a8;" href="{{customVar code=sp_about_page}}" target="_blank">About Us</a> | <a style="text-decoration:none; color:#a8a8a8;"  href="{{customVar code=sp_contact}}" target="_blank">Contact Us</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>