<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 7/16/14
 * Time: 7:54 PM
 */?>
<?php echo $this->getChildHtml('binaryanvil.ffl.customer.edit.tab.ffl.ffl'); ?>
<input type="hidden" id="binaryanvil_customer_id" value="<?php echo $this->getRequest()->getParam('id') ?>" />
<?php $fflId = $this->getRequest()->getParam('ffl_id'); ?>
<?php if($fflId > 0): ?>
<script type="text/javascript">
    //<![CDATA[
    Event.observe(window, 'load', function() {
        function showFflTab() {
            $('customer_info_tabs_customer_edit_tab_view_content').hide();
            $('customer_info_tabs_binaryanvil_ffl_customer_edit_tab_ffl_content').show();
            $('customer_info_tabs_customer_edit_tab_view').removeClassName('active');
            $('customer_info_tabs_binaryanvil_ffl_customer_edit_tab_ffl').addClassName('active');
        }
        showFflTab.delay(0.1);
    });
    //]]>
</script>
<?php endif; ?>
<script type="text/javascript">

    Validation.add('validate-ffl-associate-number', 'FFL is already associated to your account', function(v,elm) {
        var elementName = elm.name;
        var matches = elementName.match(/\d+/);
        var fflId = parseInt(matches);

        var url = '<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/ffl/validateFfl'); ?>';
        var customerId = $('binaryanvil_customer_id').value;
        url = url+'customerId/'+customerId+'/fflNumber/'+v+'/fflId/'+fflId;
            var ok = false;
            new Ajax.Request(url, {
                method: 'get',
                asynchronous: false,
                onSuccess: function(transport) {
                    //var obj = response = eval('(' + transport.responseText + ')');
                    var response = transport.responseText;
                    //alert(response);
                    //validateTrueEmailMsg = obj.status_desc;
                    if (response == '') {
                        //Validation.get('validate-email').error = validateTrueEmailMsg;
                        ok = true;
                    } else {
                        ok = false; /* return true or false */
                    }
                },
                onComplete: function() {
                }
            });
        return ok;
    });

    Validation.add('validate-ffl-number', 'FFL Number already exist', function(v,elm) {
        var elementName = elm.name;
        var matches = elementName.match(/\d+/);
        var fflId = parseInt(matches);

        var url = '<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/ffl/validateFfl'); ?>';
        var customerId = $('binaryanvil_customer_id').value;
        url = url+'customerId/'+customerId+'/fflNumber/'+v+'/fflId/'+fflId;
        var ok = false;
        new Ajax.Request(url, {
            method: 'get',
            asynchronous: false,
            onSuccess: function(transport) {
                //var obj = response = eval('(' + transport.responseText + ')');
                var response = transport.responseText;
                //alert(response);
                //validateTrueEmailMsg = obj.status_desc;
                if (response == '') {
                    //Validation.get('validate-email').error = validateTrueEmailMsg;
                    ok = true;
                } else {
                    ok = false; /* return true or false */
                }
            },
            onComplete: function() {
            }
        });
        return ok;
    });

    Validation.add('validate-ffl-number-format', 'Please enter a valid FFL number. For example 1-12-123-12-12-12345.', function(v) {
        return Validation.get('IsEmpty').test(v) || /^[a-zA-Z0-9]{1}?(-|\s)?[a-zA-Z0-9]{2}(-|\s)[a-zA-Z0-9]{3}?(-|\s)?[a-zA-Z0-9]{2}?(-|\s)?[a-zA-Z0-9]{2}?(-|\s)?[a-zA-Z0-9]{5}$/.test(v);

    });

</script>