<?php
 /**
 * GoMage Advanced Navigation Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2016 GoMage (https://www.gomage.com)
 * @author       GoMage
 * @license      https://www.gomage.com/license-agreement/  Single domain license
 * @terms of use https://www.gomage.com/terms-of-use
 * @version      Release: 4.9.1
 * @since        Class available since Release 2.2
 */
?>

<?php if($this->getCollection()->getSize()): ?>
<div class="toolbar">
    <?php if( $this->isExpanded() ): ?>
    <div class="sorter">
        <?php if( $this->isEnabledViewSwitcher() ): ?>
        <p class="view-mode">
            <?php $_modes = $this->getModes(); ?>
            <?php if($_modes && count($_modes)>1): ?>
            <label><?php echo $this->__('View as') ?>:</label>
            <?php $_i=1; $_fix=''; foreach ($this->getModes() as $_code=>$_label): ?>
                <?php if ($_i==1 && strtolower($_code)=='list') $_fix='-fix'; ?>
                <?php if($this->isModeActive($_code)): ?>
                    <strong class="<?php echo strtolower($_code); echo $_fix; ?>" title="<?php echo $_label ?>"><?php echo $_label ?></strong>
                <?php else: ?>
                    <a data-ajax="<?php echo (Mage::helper('gomage_navigation')->isGomageNavigationAjax()) ? 1 : 0 ;?>" data-param="<?php echo $this->getModeUrlParams($_code) ?>" data-url="<?php echo $this->getModeUrl($_code, true) ?>" onclick="GomageNavigation.click(this);return false;" href="<?php echo $this->getModeUrl($_code, true) . $this->getModeUrlParams($_code) ?>" class="<?php echo strtolower($_code); echo $_fix; ?>" title="<?php echo $_label ?>" ><?php echo $_label ?></a>
                <?php endif; ?>
            <?php $_i++; endforeach; ?>
            <?php endif; ?>
        </p>    
        <?php endif; ?>
    
        <div class="sort-by">
            <label><?php echo $this->__('Sort By') ?></label>
            <select onchange="GomageNavigation.setNavigationUrl(this.value, false, true)">
            <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
                <option value="<?php echo $this->getOrderUrl($_key, 'asc') ?>"<?php if($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
                    <?php echo $this->__($_order) ?>
                </option>
            <?php endforeach; ?>
            </select>
            <?php if($this->getCurrentDirection() == 'desc'): ?>
                <a class="sort-by-switcher sort-by-switcher--desc" data-ajax="<?php echo (Mage::helper('gomage_navigation')->isGomageNavigationAjax()) ? 1 : 0 ;?>" data-param="<?php echo $this->getOrderUrlParams(null, 'asc') ?>" data-url="<?php echo $this->getOrderUrl(null, 'asc', true) ?>" onclick="GomageNavigation.click(this);return false;" href="<?php echo $this->getOrderUrl(null, 'asc', true) . $this->getOrderUrlParams(null, 'asc') ?>"><?php echo $this->__('Set Ascending Direction') ?></a>
            <?php else: ?>
                <a class="sort-by-switcher sort-by-switcher--asc" data-ajax="<?php echo (Mage::helper('gomage_navigation')->isGomageNavigationAjax()) ? 1 : 0 ;?>" data-param="<?php echo $this->getOrderUrlParams(null, 'desc') ?>" data-url="<?php echo $this->getOrderUrl(null, 'desc', true) ?>" onclick="GomageNavigation.click(this);return false;" href="<?php echo $this->getOrderUrl(null, 'desc', true) . $this->getOrderUrlParams(null, 'desc') ?>"><?php echo $this->__('Set Descending Direction') ?></a>
            <?php endif; ?>
        </div>
    </div>
    <?php endif; ?>
    
    <?php if (Mage::getStoreConfigFlag('gomage_navigation/general/showpager')): ?>
    <div class="pager">
        <p class="amount">
            <?php if($this->getLastPageNum()>1): ?>
                <?php echo $this->__('Items %s-%s of %s', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
            <?php else: ?>
                <?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?>
            <?php endif; ?>
        </p>
    
        <div class="limiter">
            <label><?php echo $this->__('Show') ?></label>
            <select onchange="GomageNavigation.setNavigationUrl(this.value, false, true)">
            <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
                <option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                    <?php echo $_limit ?>
                </option>
            <?php endforeach; ?>
            </select> <?php echo $this->__('per page') ?>
        </div>

        <?php echo $this->getPagerHtml() ?>

    </div>
    <?php endif; ?>
</div>
<?php endif ?>
