.home-banner { padding:0; margin:0}
.home-mini-banner ul li { float:left; margin-right:9px}
.home-mini-banner ul li.last { margin-right:0}

.widget.widget-banner-inline{ margin-top: 0; padding-top: 0; display: inline;}
.widget.widget-banner-inline ul{ margin-bottom: 0}
.widget-banner-inline li h2{ text-align: left;     margin-bottom: 20px;}
.widget-banner-inline li img {
    vertical-align: middle;
    max-width: 38%;
    padding: 10px;
}