@charset "utf-8";
/* CSS Document */

/*nav-override*/
/* All Levels */
#nav li.over { z-index:990 !important; }
#nav li.parent { position:relative; }
#nav li a span { cursor:pointer; }

#nav { display:block; border:3px solid #000; border-left:none;border-right:none; width:940px}
/* 1st Level (Top Level) */
#nav li.level-top {float:left;position:relative; z-index:1; background:#f4f4f4}
#nav a.level-top {float:left;font-size:15px;padding:9px 20px 8px; border-right:3px solid #000; text-decoration:none;font-family: 'BoxedRegular-Bold';}
#nav a.level-top span { float:left;padding:0 0; white-space:nowrap; }

#nav li.over a.level-top,
#nav li.active a.level-top {color:#fff; background:#000}
#nav li.over a.level-top {position:relative; z-index:2; }

#nav li.over a.level-top span,
#nav li.active a.level-top span {padding:0; margin:0}

/* 2nd Level */
#nav ul,
#nav div { position:absolute; width:13.5em; top:40px; left:-10000px; background:#fbfbfb; padding:5px 11px 10px; border:1px solid #000; border-top:0; }
#nav div ul { position:static; width:auto; background:none; padding:0; border:0 !important; }

#nav ul li { float:none; height:auto; display:block;}
#nav ul li.last { border-bottom:0; }
#nav ul li.parent { background:url(../images/bkg_parent.gif) 100% 50% no-repeat; }
#nav ul li a { display:block; font-size:12px; line-height:1.2; padding:5px 4px; text-decoration:none !important; color:#000; font-family: 'BoxedRegular-Bold';}
#nav ul li.last > a { padding-bottom:0; }
#nav ul li a:hover { color:#d02600; }
#nav ul li a span {}
#nav ul li.over a.over { color:#d02600; }
#nav ul li.active > a { color:#d02600; }

/* 3rd+ Level */
#nav ul ul,
#nav ul div { top:7px; border-top:1px solid #aeaeae; }

/* Show Menu */
#nav li .shown-sub { left:-1px; z-index:991; }
#nav li .shown-sub .shown-sub { left:100px; }
/********** Navigation > */
/* ======================================================================================= */


