@charset "utf-8";
/* CSS Document */

/*media pop-up box*/
#fancybox-outer { background:transparent!important; }
#fancybox-content { /*width:865px!important; height:610px!important;*/ border-width:0!important; }

.catalog-product-view #fancybox-wrap .gallery_wrap { background:#fff; padding:10px; float:left; }
.productGalleryImages #fancybox-content .gallery_wrap .image-label { position:absolute; !!position:static; !!float:left; !!margin-top:-500px; top:45px; text-align:center; width:865px; }
.productGalleryImages #fancybox-content .gallery_wrap .image-label small { border: solid 1px #bbb; padding:0 5px; font-family:'geogrotesque_smbdsemibold'; text-transform:uppercase; color:#222; font-size:18px; }

.productGalleryImages #fancybox-content .gallery_wrap h1 { float:left; margin:-25px 0 0 -10px; position:relative; z-index:2; }

.productGalleryImages #fancybox-content .gallery_wrap h1 span { background:url(../images/subpage/overlay-title-left.jpg) no-repeat; padding-left:38px; float:left;}
.productGalleryImages #fancybox-content .gallery_wrap h1 span span { background:url(../images/subpage/overlay-title-right.png) no-repeat right top!important; padding-right:38px; padding-left:0!important; }
.productGalleryImages #fancybox-content .gallery_wrap h1 span span span { background:url(../images/subpage/overlay-title-bg.jpg) repeat-x!important; color:#fff; font-family:'elektra_light_probold'; font-size:19px; padding:16px 0!important; }
.productGalleryImages #fancybox-content, .productGalleryImages #fancybox-content div { overflow:visible!important; }
.productGalleryImages #fancybox-content, .productGalleryImages #fancybox-content #main-image { position:absolute; left:0; width:100%; }
.productGalleryImages #fancybox-content .img-contain { background:transparent!important; margin-top:90px; width:100%!important; }
.productGalleryImages #fancybox-close { background:url(../images/subpage/fancy-close.jpg) no-repeat!important; width:52px!important;; height:12px!important; top:10px!important; right:20px!important; }
.gallery_bg { background:url(../images/subpage/fancy-box-bg.jpg) no-repeat; margin-top:-10px; float:left; width:865px; height:507px; }
.productGalleryImages #fancybox-content .product-image-thumbnail { float:left; min-width:800px; }
.productGalleryImages #fancybox-content .product-image-thumbnail ul li { float:left; width:81px; display:inline; margin-top:5px; }
.productGalleryImages #fancybox-content .product-image-thumbnail ul li a { display:block; border:solid 1px #bbb; margin-right:3px; padding:1px }
.productGalleryImages #fancybox-content .product-image-thumbnail ul li a:hover { border:solid 2px #6b8c14; padding:0 }
.productGalleryImages #fancybox-content .wheel { float:right; width:295px; height:108px; z-index:2; margin-top:-102px; margin-right:-5px; background:url(../images/subpage/fancy-box-wheel.png) no-repeat; position:relative; }
.productGalleryImages .product-image-popup .nav .next { background:none; right:0; }
.productGalleryImages .product-image-popup .nav .prev { background:none; left:10px;  }
.productGalleryImages .product-image-popup .nav .next:hover { background:url(../images/subpage/fancy-box-next.jpg) no-repeat right center; }
.productGalleryImages .product-image-popup .nav .prev:hover { background:url(../images/subpage/fancy-box-prev.jpg) no-repeat left center; }

/*newsletter*/


.newsletterResult, .productAddResult, .newsletterForm { border-width:0!important; }
.newsletterResult #fancybox-content, .productAddResult #fancybox-content, .newsletterForm #fancybox-content { overflow:visible!important; }
.newsletterResult #fancybox-content  div, .productAddResult #fancybox-content div { overflow:visible!important; }
#newsletter-popup { background:url(../images/subpage/newsletter-top-bg.png) no-repeat; width:357px; padding:96px 15px 0 337px; text-align:left; margin:0 auto;  }
#newsletter-popup h2 { font-size:22px; text-transform:uppercase; font-family:'elektra_light_probold'; line-height:25px; }
#newsletter-popup p { font-size:15px; padding-top:5px; line-height:15px; }
#newsletter-popup .subc-left { padding-top:10px; }
#newsletter-popup .subc-left ul li { padding-top:5px; }
#newsletter-popup .input-text { background:transparent!important; border:solid 1px #9d9d9d; color:#7a7a7a; font-size:17px; width:280px; padding:10px; }
#newsletter-popup .validation-failed { border:solid 1px #9d9d9d!important; color:#f00!important; }
#newsletter-popup .button { float:left; background:url(../images/subpage/submit.jpg) no-repeat left top; width:97px; height:48px; box-shadow:none; }
#newsletter-popup .button:hover { background:url(../images/subpage/submit.jpg) no-repeat left bottom!important; display:block; }
#newsletter-popup .button span { display:none; }
#newsletter-popup .sub-button { float:left; padding-right:5px; padding-top:11px; }
#newsletter-popup .message_note { float:left; width:198px; padding-top:12px; font-size:12px; }
#newsletter-popup .close_this { background:url(../images/subpage/close.png) no-repeat; border:0; cursor:pointer; position:absolute; text-indent:-99999px; width:53px; height:10px; right:25px; top:60px; }
#newsletter-popup .the_img { position:absolute; top:0; left:0; !!left:auto!important; !!margin-left:-330px; }
#newsletter-popup .newsletter_popup_bottom { float:left; background:url(../images/subpage/newsletter-bottom.png) no-repeat; width:700px; height:89px; margin-left:-337px; }

.cms-newsletter .newsletter_container { margin-top:100px; }
.cms-newsletter .messages { margin-top:30px; }
.cms-newsletter .breadcrumbs { display:none; }
.cms-newsletter .newsletter_container .newsletter-form { position:absolute; left:340px; top:95px; width:330px; }
.newsletter_container { width:357px; padding:96px 15px 0 337px; text-align:left; margin:0 auto; position:relative; }
.newsletter_container h2 { font-size:22px; text-transform:uppercase; font-family:'elektra_light_probold'; line-height:25px; }
.newsletter_container p { font-size:15px; padding-top:5px; line-height:15px; }
.newsletter_container .subc-left { padding-top:10px; }
.newsletter_container .subc-left ul li { padding-top:5px; }
.newsletter_container .input-text { background:transparent!important; border:solid 1px #9d9d9d; color:#7a7a7a; font-size:17px; width:280px; padding:10px; }
.newsletter_container .validation-failed { border:solid 1px #9d9d9d!important; color:#f00!important; }
.newsletter_container .button { float:left; background:url(../images/subpage/submit.jpg) no-repeat left top; width:97px; height:48px; box-shadow:none; }
.newsletter_container .button span { display:none; }
.newsletter_container .sub-button { float:left; padding-right:5px; padding-top:11px; }
.newsletter_container .message_note { float:left; width:198px; padding-top:12px; font-size:12px; }
.newsletter_container .message_note strong { font-weight:normal; font-family:'geogrotesque_smbdsemibold'; } 
.newsletter_container .the_img { position:relative; top:-100px; left:-340px; }
.newsletter_popup_bottom { float:left; background:url(../images/subpage/newsletter-bottom.png) no-repeat; width:700px; height:89px; margin-left:115px; }

#result-container, #product-view-result, .mc_message { background:url(../images/subpage/result-container.png) no-repeat; text-align:center; width:622px; height:178px; }
#result-container .close_this { background:url(../images/subpage/close.png) no-repeat; border:0; cursor:pointer; position:relative; text-indent:-99999px;  width:52px; height:12px; float:right; margin:12px 15px 0 0; }
.productAddResult #fancybox-close { background:url('../images/subpage/close.png') no-repeat; border:0; cursor:pointer; position:absolute; text-indent:-99999px;  width:52px; height:12px; top:10px; right:-27px; }
.newsletterForm #fancybox-close { background:url(../images/subpage/close.png) no-repeat; border:0; cursor:pointer; position:absolute; text-indent:-99999px;  width:52px; height:12px; top:10px; right:35px; }
#result-container #newsletter_result h1 { background:url(../images/subpage/result-h1-bg.png) no-repeat 140px 5px; font-size:16px; text-transform:none; margin-top:10px; padding-left:70px; }
#product-view-result h1, .newsletterForm .mc_errmsg { font-size:16px; text-transform:none; margin-top:10px; padding:0 30px 0 60px; position:relative; top:30px; }


/*header*/
ul.links li .log-me-in { margin-right:-10px!important; }

/*right sooial network*/
#right_social_wrap { position:fixed; right:-15px; top:50%; margin-top:-92px; width:85px; height:184px; background:url(../images/subpage/social-network-right-wrap-bg.png) no-repeat; text-align:left; z-index:1000; }
#right_social_wrap ul { padding-top:8px; float:left; }
#right_social_wrap ul li { margin:3px 0 0 32px; overflow:hidden; }
#right_social_wrap ul li a { float:left; width:49px; height:31px; text-indent:-99999px; }

#right_social_wrap ul .fb { background:url(../images/subpage/right-facebook.png) no-repeat 0 0; }
#right_social_wrap ul .fb:hover { background:url(../images/subpage/right-facebook.png) no-repeat left bottom; }

#right_social_wrap ul .twitter { background:url(../images/subpage/right-twitter.png) no-repeat 0 0; }
#right_social_wrap ul .twitter:hover { background:url(../images/subpage/right-twitter.png) no-repeat left bottom; }

#right_social_wrap ul .youtube { background:url(../images/subpage/right-youtube.png) no-repeat 0 0; }
#right_social_wrap ul .youtube:hover { background:url(../images/subpage/right-youtube.png) no-repeat left bottom; }

#right_social_wrap ul .flickr { background:url(../images/subpage/right-flickr.png) no-repeat 0 0; }
#right_social_wrap ul .flickr:hover { background:url(../images/subpage/right-flickr.png) no-repeat left bottom; }

#right_social_wrap ul .gplus { background:url(../images/subpage/right-google.png) no-repeat 0 0; }
#right_social_wrap ul .gplus:hover { background:url(../images/subpage/right-google.png) no-repeat left bottom; }

.foot-social ul { padding-right:10px; }
.foot-social ul, .foot-social li { float:left;  }
.foot-social li a { float:left; width:31px; height:31px; text-indent:-99999px; margin-left:7px; }

.foot-social ul .fb { background:url(../images/subpage/right-facebook-footer.png) no-repeat 0 0; }
.fb:hover, .foot-social ul .fb:hover { background:url(../images/subpage/right-facebook-footer.png) no-repeat left bottom; }

.foot-social ul .twitter { background:url(../images/subpage/right-twitter-footer.png) no-repeat 0 0; }
.foot-social ul .twitter:hover { background:url(../images/subpage/right-twitter-footer.png) no-repeat left bottom; }

.foot-social ul .youtube { background:url(../images/subpage/right-youtube-footer.png) no-repeat 0 0; }
.foot-social ul .youtube:hover { background:url(../images/subpage/right-youtube-footer.png) no-repeat left bottom; }

.foot-social ul .flickr { background:url(../images/subpage/right-flickr-footer.png) no-repeat 0 0; }
.foot-social ul .flickr:hover { background:url(../images/subpage/right-flickr-footer.png) no-repeat left bottom; }

.gplus, .foot-social ul .gplus { background:url(../images/subpage/right-google-footer.png) no-repeat 0 0; }
.foot-social ul .gplus:hover { background:url(../images/subpage/right-google-footer.png) no-repeat left bottom; }

/*cart page*/
.cart .discount .input-text,  .cart .giftcard .input-text { width:190px; }
.cart .shipping { margin-left: 0; width: 230px; border: 1px solid #BFBFBF; padding: 10px; } 

.cart .shipping .input-text { font-family: 'geogrotesque_mdmedium'; font-size: 21px; padding: 5px 5px 4px; width:190px; background:#E6E6E6; margin-top:5px; }
.cart .shipping select { font-family: 'geogrotesque_mdmedium';  padding: 5px 5px 4px; width:202px; background:#E6E6E6; margin-top:5px; }
.cart .shipping .larger { float:left; margin-left:0; }

/*customer review*/
.review-customer-view .ratings .rating-box { float:left; }
.review-customer-view .ratings .rating-links { float:left; margin-top:5px;  }
.review-customer-view .ratings .rating-links a { text-decoration:none; }
.review-customer-view .ratings .rating-links .based-on { padding-right:5px; color:#555555; }

.catalog-product-view .bottom  .data-table.review-summary-table { border:0; }
.catalog-product-view .bottom  .review-summary-table th.label, .catalog-product-view .bottom .review-summary-table td.label, .catalog-product-view .bottom .review-summary-table tr td { border:0; }

.catalog-product-view .bottom .rev-own-it { width:260px; padding-right:20px; }
.catalog-product-view .bottom  { background:url(../images/subpage/product-bottom-bg.png) no-repeat right 45px; }
.product-gift-card .bottom { background:none!important; }

.catalog-product-view .bottom .write-me .buttons-set { !!overflow:hidden; !!height:40px; }
.catalog-product-view .bottom .write-me .required { padding-top:5px!important; clear:both; }

.catalog-product-view .bottom  .rate-me .input-box { !!width:200px;  }
.catalog-product-view .bottom  .rate-me .review-summary-table thead th { !!background:#6B8C14; }

.catalog-product-view .bottom .no-rating { font-size:11px; margin-top:5px; }
.catalog-product-view .bottom .no-rating a { color:#555555; text-decoration:none; }
.catalog-product-view .bottom .no-rating a:hover { text-decoration:none; }

.catalog-product-view .bottom .rating-links .based-on { color:#555555; text-decoration:none; font-size:11px; }
.catalog-product-view .bottom .rating-links .based-on:hover { text-decoration:none;}

.catalog-product-view .product-shop .no-rating a, .catalog-product-view .product-shop .rating-links a { color:#555555; text-decoration:none; font-size:11px; }
.catalog-product-view .product-shop .no-rating a:hover, .catalog-product-view .product-shop .rating-links a:hover { text-decoration:none; }

.catalog-product-view .bottom  #product-reviews-list .detailed { display:none; }

.catalog-product-view .bottom .collateral-tabs .tab-bg { width:675px; }

/*product page price*/
.catalog-product-view .product-shop .old-price, .catalog-product-view .product-shop .special-price { float:left; position:relative; }
.catalog-product-view .product-shop .old-price span { font-size:24px!important; font-family: 'geogrotesque_rgregular'; color:#eb0000;  }
.catalog-product-view .product-shop .old-price .price-label { display:none; }
.catalog-product-view .product-shop .special-price span { color: #111!important; font-family: 'geogrotesque_smbdsemibold'; font-size: 35px!important; }
.catalog-product-view .product-shop .special-price .price-label { display:none; } 
.catalog-product-view .product-shop .price-box { overflow:hidden; }
.catalog-product-view .product-shop .old-price { left:140px; top:7px; text-decoration:none!important; }
.catalog-product-view .product-shop .special-price { left:-70px; }
.catalog-product-view .product-shop .over-all-label { font-family:'geogrotesque_smbdsemibold'; padding-top:15px; }
.catalog-product-view .product-shop .emailto-link { overflow:hidden; clear:both; }
.catalog-product-view .product-shop .emailto-link a { float:left; }

/*product page price bottom*/
.catalog-product-view .bottom .jcarousel-skin-tango .price-box { overflow:hidden; }
.catalog-product-view .bottom .jcarousel-skin-tango .price-box .price-label { display:none; }
.catalog-product-view .bottom .jcarousel-skin-tango .price-box .special-price, .catalog-product-view .bottom .jcarousel-skin-tango .price-box .old-price { position:relative; float:left;  }
.catalog-product-view .bottom .jcarousel-skin-tango .price-box .special-price span, .catalog-product-view .bottom .jcarousel-skin-tango .price-box .minimal-price span { font-family:'geogrotesque_smbdsemibold'; color:#111; font-size:15px; }
.catalog-product-view .bottom .jcarousel-skin-tango .price-box .old-price span  { color: #EB0000; font-family: 'geogrotesque_rgregular'; font-size: 12px;}
.catalog-product-view .bottom .jcarousel-skin-tango .price-box .special-price { left:-34px; }
.catalog-product-view .bottom .jcarousel-skin-tango .price-box .old-price { left:62px; top:1px; }
.catalog-product-view .bottom .tab-container { !!top:60px; } 

/*wishlist*/
.wishlist-index-index .my-wishlist .link-edit { background:none!important; padding-left:0!important; }
.wishlist-index-configure .product-shop .add-to-box { width:344px!important; float:left!important; }
.wishlist-index-configure .product-shop .add-to-box .add-to-cart { padding-right:0!important; }
.wishlist-index-configure .product-shop .add-to-box .add-to-links  { width:90px; padding-left:10px!important; }
.wishlist-index-configure .product-shop .add-to-box .add-to-links li:nth-child(2) { display:none; }
.wishlist-index-configure .product-shop .add-to-box .add-to-links li:first-child + li a { display:none; }
.wishlist-index-configure .product-shop .add-to-box .add-to-links a { color:#201F1F; font-family:'geogrotesque_smbdsemibold'; }

/*catalog view price*/
.catalog-category-view .price-box .price-label { display:none; }
.catalog-category-view .price-box .old-price .price { color:#C73615!important; }
.catalog-category-view .price-box .special-price .price { font-family:'elektra_light_probold'; font-size:14px!important; color:#201F1F!important; }

/*account index*/
.customer-account-index #my_recent_reviews { padding-top:20px; }

/*breadcrumbs*/
.breadcrumbs { !!border:0; !!margin-left:-5px; }
.breadcrumbs ul { !!border:1px solid #BFBFBF; !!float:left; !!padding:0 5px;}
.breadcrumbs ul li strong { font-weight:normal; font-family:'geogrotesque_smbdsemibold'; }

/*misc*/
.clear { clear:both; }

.ajaxcart_control {    
    margin-top: 30px;
    margin-left: 60px;
}

.continue_shopping {
    background: url("../images/subpage/continue_shopping.jpg") no-repeat;
    border: none;
    cursor: pointer;
    height: 47px;
    width: 200px;
}

.proceed_checkout {
    background: url("../images/subpage/proceed_checkout.jpg") no-repeat;
    border: none;
    height: 47px;
    margin-left: 5px;
    width: 200px;
    cursor: pointer;
}

.proceed_checkout span,
.continue_shopping span{
    visibility: hidden;
}

.addToText {
    display: inline-block;
    margin-top: 20px;
    width: 430px;
    text-align: left;
    padding-left:7px;
}

#product-view-result h1{
    height: 90px;
}

#product-view-result h1.error-h1 {    
    text-align: center;
    top: 59px;
    vertical-align: middle;
}