@charset "utf-8";
/* CSS Document */

hr { border: 0; width: 100%; color: #BFBFBF; background-color: #BFBFBF; height: 1px; }

.col2-right-layout { margin-top:10px; border-top:solid 1px #bfbfbf; margin-bottom:0px; background:url(../images/subpage/sidebar.png) repeat-y right center; }
.col2-right-layout .col-main { border:0; width:654px; padding:15px 25px 15px 15px; }
.col1-layout .col-main h1, .col2-right-layout .col-main h1 { font-size:37px; color:#2e2e2e; font-family:'elektra_light_probold'; padding-bottom:20px; } 
.col2-right-layout .col-main h2 { font-family:'elektra_light_probold'; font-size:18px; padding-bottom:15px; }
.col2-right-layout .col-main h3 { font-family:'geogrotesque_smbdsemibold'; font-size:15px; }
.col2-right-layout .col-main h4 { font-family:'geogrotesque_smbdsemibold'; font-size:13px; }
.cms-page-view .col2-right-layout .col-main ul li { list-style-type:disc; list-style-position:outside; padding-top:5px; margin-left:15px; }
.cms-page-view .col2-right-layout .col-main .messages, .cms-page-view .col2-right-layout .col-main .messages .notice-msg, .cms-page-view .col2-right-layout .col-main .messages ul,  .col2-right-layout .col-main .messages ul li { list-style-type:none; } 
.col2-right-layou.col2-right-layout .col-main h4 { font-family:'geogrotesque_smbdsemibold'; font-size:13px; }
t .col-main p { font-size:14px; }
.col2-right-layout .col-main p a { text-transform:none; }
.col2-right-layout .col-main p img { max-width:654px; }
.col2-right-layout .col-main .dd { padding-left:20px; }
.col2-right-layout .col-main strong { font-weight:normal; font-family:'geogrotesque_smbdsemibold'; }
.col2-right-layout .subpage-sidebar { float:left; width:244px; margin-left:2px; }
.col2-right-layout .subpage-sidebar p { margin-top:10px; }
.subpage_bottom { float:left; width:940px; height:10px; /*border-top:solid 1px #bfbfbf;*/ margin-bottom:50px; }

.page .pages a { text-decoration:none; }
.page .pages a img { margin-top:-4px; }

/*sidebar*/
.subpage-sidebar .block-blog { padding:15px 0; }
.subpage-sidebar .block-blog .block-title span { font-family:'geogrotesque_smbdsemibold'; font-size:18px;  text-transform:uppercase; }

.subpage-sidebar .block-blog ul { padding-top:15px; }
.subpage-sidebar .block-blog ul li { border-bottom:solid 1px #b3b3b3; padding:5px 0; font-family:'geogrotesque_mdmedium'; }
.subpage-sidebar .block-blog ul li a { text-decoration:none; color:#232121; }
.subpage-sidebar .block-recent-posts ul li { text-transform:uppercase; }
.subpage-sidebar .block-recent-posts ul li a { color:#201f1f; font-size:13px; }
.subpage-sidebar .block-recent-posts ul li a:hover { color:#a0bd48; text-decoration:none; }
 
/*contact us*/
.contacts-index-index .col2-right-layout { margin:30px 0; border-bottom:0; border-left:0; border-right:0; background:none; }
.contacts-index-index .left_cont { float:left; width:664px; }
.contacts-index-index .left_cont .input-text { background:transparent!important; border:solid 1px #9d9d9d; color:#7a7a7a; font-size:17px; width:385px; padding:10px!important; }
.contacts-index-index .left_cont textarea { background:transparent!important; border:solid 1px #9d9d9d; color:#7a7a7a; font-size:17px; width:530px!important; height:100px!important; padding:10px!important; resize:none; }
.contacts-index-index .left_cont .input-box, .validation-error  { background-position: 100% 15px!important; }
.contacts-index-index .left_cont .field .input-box .validation-failed, .validation-error .validation-failed { background:transparent!important; border:solid 1px #9d9d9d!important; color:#f00!important; }
.contacts-index-index .buttons-set, .contacts-index-index .required { width:550px; }

.contacts-index-index .right_cont { float:right; width:245px; padding-top:20px; }
.contacts-index-index .right_cont .info { float:left; width:222px; border:solid 1px #bebebe; background:#fff; padding:25px 10px; }
.contacts-index-index .right_cont h2 { font-size:25px; font-family:'elektra_light_probold'; text-transform:uppercase; }
.contacts-index-index .right_cont p { text-transform:uppercase; color:#79981a; padding-top:5px; font-size:15px; }
.contacts-index-index .info ul { margin-top:15px; }
.contacts-index-index .right_cont ul li { margin-top:5px;  }
.contacts-index-index .right_cont ul .mail { background:url(../images/subpage/mail.jpg) no-repeat 2px 3px; padding-left:30px; }
.contacts-index-index .right_cont ul .phone { background:url(../images/subpage/phone.jpg) no-repeat left 3px; padding-left:30px; }
.contacts-index-index .right_cont ul .address { background:url(../images/subpage/address.jpg) no-repeat 1px 3px; padding-left:30px; }

/*sitemap*/
.catalog-seo-sitemap-product .col-main, .catalog-seo-sitemap-category .col-main, .catalog-seo-sitemap-category .col1-layout { margin:30px 0 0 0; border-right:0; border-left:0; border-bottom:0; }

/*404*/
.cms-no-route, .cms-service-unavailable { background:url(../images/subpage/404-bg.jpg) no-repeat center top; }
.no-route-container { text-align:center; padding-top:560px; padding-bottom:100px; }
.no-route-container p { padding-top:15px; font-size:24px; }
.cms-no-route .background-wide .widget-banner  { display:none; }

/*misc*/
.img_left { float:left; margin:0 20px 20px 0; }
.img_right { float:right; margin:0 0 20px 20px; }
.clear { clear:both; }

/*Frequently asked question*/
.cms-faqs-html .std strong{ font-weight: bold; }
.cms-faqs-html .std ul { list-style: square; margin: 20px 0 5px;}
.cms-faqs-html .std .widget-static-block p {margin-top: -3px;}
.cms-faqs-html .std ol li { padding-bottom: 15px;}
