<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 12/26/13
 * Time: 11:05 AM
 */?>
<?php $_product = $this->getProduct(); ?>
<h2 class="tab_title" id="highlights"><span><?php echo $this->__('Highlights') ?></span></h2>
<div class="tab-content">
    <?php if($_product->getSpRifleOverallLength() || $_product->getSpRifleBarrelLength2() || $_product->getSpRifleRailLength() || $_product->getWeight() || $_product->getSpWeight()) : ?>
        <ul class="highlights_specs">
            <?php if($_product->getSpRifleOverallLength()):?>
                <li><?php echo $_product->getResource()->getAttribute('sp_rifle_overall_length')->getFrontend()->getValue($_product); ?><span>Overall<br />Length</span></li>
            <?php endif; ?>

            <?php if($_product->getSpRifleBarrelLength2()):?>
                <li><?php echo $_product->getResource()->getAttribute('sp_rifle_barrel_length2')->getFrontend()->getValue($_product); ?><span>Barrel<br />Length</span></li>
            <?php endif; ?>

            <?php if($_product->getSpRifleRailLength()):?>
                <li><?php echo $_product->getResource()->getAttribute('sp_rifle_rail_length')->getFrontend()->getValue($_product); ?><span>Handguard<br />Length</span></li>
            <?php endif; ?>

            <?php if($_product->getSpWeight()):?>
            <li>
                <script type="text/javascript">
                    //<![CDATA[
                    jQuery(function($){
                        $(document).ready(function(){
                            var amount = <?php echo $_product->getResource()->getAttribute('sp_weight')->getFrontend()->getValue($_product); ?>;
                            $('.weight_value').text(amount.toFixed(2));
                        });
                    });
                    //]]>
                </script>

                <p class="weight_value"></p>
                <span>Weight</span>
            </li>

            <?php elseif($_product->getWeight()):?>
                <li>
                    <script type="text/javascript">
                        //<![CDATA[
                        jQuery(function($){
                            $(document).ready(function(){
                                var amount = <?php echo $_product->getResource()->getAttribute('weight')->getFrontend()->getValue($_product); ?>;
                                $('.weight_value').text(amount.toFixed(2));
                            });
                        });
                        //]]>
                    </script>

                    <p class="weight_value"></p>
                    <span>Weight</span>
                </li>
            <?php endif; ?>
        </ul>
    <?php endif; ?>

    <script type="text/javascript">
        //<![CDATA[
        jQuery(function($){
            $(document).ready(function(){
                $("ul.highlights_feature .widget-static-block li:last-child").addClass('last');
            });
        });
        //]]>
    </script>

    <?php if($this->getChildHtml('highlights-melonite-coated')|| $this->getChildHtml('highlights-factory-tuned') || $this->getChildHtml('highlights-feature-3') || $this->getChildHtml('highlights-feature-4')) : ?>
        <ul class="highlights_feature">
            <?php if($this->getChildHtml('highlights-melonite-coated')) : ?>
                <li><?php echo $this->getChildHtml('highlights-melonite-coated') ?></li>
            <?php endif; ?>

            <?php if($this->getChildHtml('highlights-factory-tuned')) : ?>
                <li><?php echo $this->getChildHtml('highlights-factory-tuned') ?></li>
            <?php endif; ?>

            <?php if($this->getChildHtml('highlights-feature-3')) : ?>
                <li><?php echo $this->getChildHtml('highlights-feature-3') ?></li>
            <?php endif; ?>

            <?php if($this->getChildHtml('highlights-feature-4')) : ?>
                <li><?php echo $this->getChildHtml('highlights-feature-4') ?></li>
            <?php endif; ?>
        </ul>
    <?php endif; ?>
</div><!--tab-content-->
<section class="back_to_top"><a href="#top" class="scroll">Back to top</a></section>
