<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 12/6/13
 * Time: 6:45 PM
 */?>
<?php $_product = $this->getProduct(); ?>
<?php
$storeId    = Mage::app()->getStore()->getId();
$summaryData = Mage::getModel('review/review_summary')
    ->setStoreId($storeId)
    ->load($_product->getId());
$reviews = Mage::getModel('review/review')->getCollection()
    ->addStoreFilter(Mage::app()->getStore()->getId())
    ->addStatusFilter(Mage_Review_Model_Review::STATUS_APPROVED)
    ->addEntityFilter('product', $this->getProduct()->getId());
?>

<dt class="tab review-tab" id="prodReviewTab">
    <span><?php echo $this->__('Reviews') ?></span>
</dt><!--prodReviewTab-->
<dd class="tab-container review_tab_container review-tab">
    <h2 class="tab_title" id="reviewheader">
        <span><?php echo $this->__('Reviews') ?></span>

        <?php /*<small class="write_review">
            <a class="scroll" href="#review_form">Write Your Review</a>
        </small><!--write_review-->*/ ?>
    </h2>

    <div class="tab-content">
        <div class="tab-bg">
            <div class="detailed-rating">
                <div class="detailed <?php if(count($reviews) <= 0){ echo "no-product-reviews";}?>" >
                    <?php echo $this->getChildHtml('detailedRating') ?>
                </div><!--detailed-->

            </div><!--detailed-rating-->
            <div class="clear"></div>
            <?php echo $this->getChildHtml('product_review'); ?>
        </div><!--tab-bg-->
    </div><!--tab-content-->
</dd><!--review-tab-->
<script type="text/javascript">
    //<![CDATA[

    //]]>
</script>