<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 12/26/13
 * Time: 11:20 AM
 */?>

<script type="text/javascript">
    //<![CDATA[
    jQuery(function($){
        $(document).ready(function(){
            $('.specifications_list').each(function(){
                var highestBox = 0;
                $('li', this).each(function(){

                    if($(this).height() > highestBox)
                        highestBox = $(this).height();
                });
                $('li',this).height(highestBox);
            });
        });
    });
    //]]>
</script>

<?php $_product = $this->getProduct(); ?>
<h2 class="tab_title" id="specs"><span><?php echo $this->__('Specifications') ?></span></h2>
<div class="tab-content">
    <?php if( !is_null($_product->getSpRifleHighlightImage()) && $_product->getSpRifleHighlightImage() != 'no_selection'):?>
        <section class="specs_image_wrap">
            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'sp_rifle_highlight_image')->resize(690, 257); ?>" alt="" />
        </section><!--specs_image_wrap-->
    <?php  endif; ?>

    <?php if ($_product->getSpRifleStocks() || $_product->getSpRifleChargingHandle() || $_product->getSpRifleFeedRamp() || $_product->getSpRifleGrip() || $_product->getSpRifleTriggers() || $_product->getSpRifleAmbiSelector() || $_product->getSpRifleBoltCarrierGroup() || $_product->getSpRifleLower() || $_product->getSpRifleUpper() || $_product->getSpRifleRail() || $_product->getSpRifleGasBlock() || $_product->getSpRifleGasTube() || $_product->getSpRifleBarrel() || $_product->getSpRifleFlashHider()) : ?>
        <ul class="specifications_list">
            <?php if($_product->getSpRifleStocks()):?>
                <li><span>Stock</span> <?php echo $_product->getResource()->getAttribute('sp_rifle_stocks')->getFrontend()->getValue($_product); ?></li>
            <?php endif; ?>

            <?php if($_product->getSpRifleChargingHandle()):?>
                <li><span>Charging Handle</span> <?php echo $_product->getResource()->getAttribute('sp_rifle_charging_handle')->getFrontend()->getValue($_product); ?></li>
            <?php endif; ?>

            <?php if($_product->getSpRifleFeedRamp()):?>
                <li><span>Feed Ramp</span> <?php echo $_product->getResource()->getAttribute('sp_rifle_feed_ramp')->getFrontend()->getValue($_product); ?></li>
            <?php endif; ?>

            <?php if($_product->getSpRifleGrip()):?>
                <li><span>Grip</span> <?php echo $_product->getResource()->getAttribute('sp_rifle_grip')->getFrontend()->getValue($_product); ?></li>
            <?php endif; ?>

            <?php if($_product->getSpRifleTriggers()):?>
                <li><span>Trigger</span> <?php echo $_product->getResource()->getAttribute('sp_rifle_triggers')->getFrontend()->getValue($_product); ?></li>
            <?php endif; ?>

            <?php if($_product->getSpRifleAmbiSelector()):?>
                <li><span>Selector</span> <?php echo $_product->getResource()->getAttribute('sp_rifle_ambi_selector')->getFrontend()->getValue($_product); ?></li>
            <?php endif; ?>

            <?php if($_product->getSpRifleBoltCarrierGroup()):?>
                <li><span>BCG</span> <?php echo $_product->getResource()->getAttribute('sp_rifle_bolt_carrier_group')->getFrontend()->getValue($_product); ?></li>
            <?php endif; ?>

            <?php if($_product->getSpRifleLower()):?>
                <li><span>Lower</span> <?php echo $_product->getResource()->getAttribute('sp_rifle_lower')->getFrontend()->getValue($_product); ?></li>
            <?php endif; ?>

            <?php if($_product->getSpRifleUpper()):?>
                <li><span>Upper</span> <?php echo $_product->getResource()->getAttribute('sp_rifle_upper')->getFrontend()->getValue($_product); ?></li>
            <?php endif; ?>

            <?php if($_product->getSpRifleRail()):?>
                <li><span>Handguard</span> <?php echo $_product->getResource()->getAttribute('sp_rifle_rail')->getFrontend()->getValue($_product); ?></li>
            <?php endif; ?>

            <?php if($_product->getSpRifleGasBlock()):?>
                <li><span>Gas Block</span> <?php echo $_product->getResource()->getAttribute('sp_rifle_gas_block')->getFrontend()->getValue($_product); ?></li>
            <?php endif; ?>

            <?php if($_product->getSpRifleGasTube()):?>
                <li><span>Gas Tube</span> <?php echo $_product->getResource()->getAttribute('sp_rifle_gas_tube')->getFrontend()->getValue($_product); ?></li>
            <?php endif; ?>

            <?php if($_product->getSpRifleBarrel()):?>
                <li><span>Barrel</span> <?php echo $_product->getResource()->getAttribute('sp_rifle_barrel')->getFrontend()->getValue($_product); ?></li>
            <?php endif; ?>

            <?php if($_product->getSpRifleFlashHider()):?>
                <li><span>Muzzle Device</span> <?php echo $_product->getResource()->getAttribute('sp_rifle_flash_hider')->getFrontend()->getValue($_product); ?></li>
            <?php endif; ?>
        </ul>
    <?php endif; ?>
</div><!--tab-content-->