#BA_QC_Form {text-align:left}

#BA_QC_Form .page-title h1{ font-family: 'geogrotesque_mdmedium'; font-size:23px; float:none; border-bottom:1px solid #e6e6e6; padding-bottom:13px; width:auto; text-align:left}

#BA_QC_Form .page-title span {color:#777777}



#BA_QC_Form .products-grid li.item { background:none; border:none; width:250px; text-align:left}

#BA_QC_Form .item-image { float:left; width:85px}

#BA_QC_Form .products-grid .product-image {width:auto}

#BA_QC_Form .products-grid .product-name {padding:0; margin:0; text-align:left; line-height:13px}

#BA_QC_Form .products-grid .product-name span {background:#85a819; font-size:10px;font-family: 'elektra_light_probold'; float:left; display:block; padding:2px 5px 1px; color:#FFF; text-align:center; margin-right:5px}



#BA_QC_Form a.button.button-shopping-cart {}



#BA_QC_Form .price, #BA_QC_Form .cart-price, #BA_QC_Form .uprice { font-family: 'geogrotesque_mdmedium'; font-size:12px; color:#787878}



#BA_QC_Form .subtotal span {font-family: 'geogrotesque_mdmedium'; font-size:24px; color:#3a3a3a}



#BA_QC_Form .qty-center { float:left; width:47%; color:#787878}

#BA_QC_Form .qty-right { float:left; color:#787878}

#BA_QC_Form .a-right { line-height:28px}



#BA_QC_Form {line-height:12px}

#BA_QC_Form .qty-right .price {line-height:28px; color:#000; padding:0px 0px 0px 2px}



#BA_QC_Form .product-name a { font-size:14px}

#BA_QC_Form .a-right, #BA_QC_Form .a-center { text-align:left !important; padding:1px 0 0}

#BA_QC_Form #shopping-cart-table.data-table tfoot tr td { border:none}



#BA_QC_Form .item-details .btn-act {padding-top:6px; clear:both}

#BA_QC_Form .item-details {float:left; width:160px}

#BA_QC_Form a.button { background:url(../../images/buttons/remove-qc.gif) top left no-repeat; width:62px; height:18px;}
#BA_QC_Form a.button.btn-remove span { display:none}


#BA_QC_Form .cart-table .btn-update { width:99px; height:17px;

-moz-box-shadow:0px 0px 0px 0 #929292;

-webkit-box-shadow: 0px 0px 0px 0 #929292;

box-shadow:0px 0px 0px 0 #929292;

}

#BA_QC_Form .cart-table .btn-update span { background:url(../../images/buttons/update-qty.png); height:17px; width:89px}

#BA_QC_Form .cart-table .btn-update span span { display:none}



#BA_QC_Form a.button.button-shopping-cart { background:url(../../images/buttons/view-arsenal.png) left top no-repeat; width:233px; height:43px}
#BA_QC_Form a.button.button-shopping-cart span { display:none}


#BA_QC_Form div.btn-act { float:left}

#BA_QC_Form p.subtotal{ float:right; padding-right:43px}

#BA_QC_Form .view-arsenal { float:right}



/*its so fancy box quickcart*/

.popCart #fancybox-content {border:none!important}

.popCart #fancybox-outer {background:none !important}

.popCart #fancybox-close { cursor: pointer;width:50px; height:50px; background:#222222 url(../../images/header/close-cart.png) center 7px no-repeat; text-decoration:none; display:block; padding:10px; left:804px}
.popCart #fancybox-close { text-decoration:none}
.popCart #fancybox-close span {color: #9A9A9A; font-family: 'geogrotesque_smbdsemibold'; font-size:11px; padding-top:37px; display:block}
.cart-note {clear:both; float:right; padding-right:50px}
.cart-note em {color:#6A8B1A}


#ba_quickcartcontent .top-cart { right:25px}

#ba_quickcartcontent { width:875px}

#ba_quickcartcontent #ba_quickcart {top:45px; padding:0; cursor:auto}

#ba_quickcartcontent .products-grid { padding:0; margin:0}

#ba_quickcartcontent .line-lang {width:800px; height:1px; background:#e6e6e6; margin-bottom:15px}

.top-trans { background:url(../../images/fancy-box/bg-trans.png); border:1px solid #6f6f6f; padding:75px 20px 20px;
	-moz-box-shadow:    1px 2px 2px 0 #929292;
  	-webkit-box-shadow: 1px 2px 2px 0 #929292;
  	box-shadow:         1px 2px 2px 0 #929292;
}

.your-arsenal { position:absolute; top:15px;left:20px}
.your-arsenal h1 {font-family:'geogrotesque_mdmedium';font-size:30px;padding-bottom:13px;text-transform:uppercase}
.your-arsenal h1 span {color:#777777}

/*
.top-trans {background: url(../../images/fancy-box/top-bg-qc.png) left top no-repeat; height:17px}
.side-trans { background:url(../../images/fancy-box/mid-bg-qc.png) left top repeat-y; padding:0 25px}
.bottom-trans { background:url(../../images/fancy-box/bot-bg-qc.png) left bottom no-repeat; padding:0 25px 25px}
*/