<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 6/3/14
 * Time: 2:26 PM
 */?>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $formData = $this->getFormData(); ?>
<div class="page-title">
    <h1><?php echo $this->getTitle() ?></h1>
</div>
<form action="<?php echo $this->getSaveUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data">
    <input type="hidden" value="<?php echo $formData->getId() ?>" name="id" />
    <input type="hidden" value="<?php echo $this->getRequest()->getParam('id') ?>" name="param_id" />
    <div class="fieldset">
        <ul class="form-list">
            <li>
                <label class="required"><em>*</em>Holder Name</label>
                <div class="input-box">

                    <?php $holderName = $formData->getFflHolderName()?$formData->getFflHolderName():''; ?>
                    <input type="text" id="holder_name" name="ffl_holder_name" value="<?php echo isset($holderName)?$holderName:''; ?>" title="<?php echo $this->__( 'FFL Holder Name' ) ?>" maxlength="255" class="input-text required-entry" <?php /*onclick="this.value=='FFL Holder Name'?this.value='':''" onblur="this.value==''?this.value='FFL Holder Name':''"*/ ?> />
                </div>
            </li>
            <li>
                <label class="required"><em>*</em>Holder Business Name</label>
                <div class="input-box">
                    <?php $businessName = $formData->getFflHolderBusinessName(); ?>
                    <input type="text" id="business_name" name="ffl_holder_business_name" value="<?php echo isset($businessName)?$businessName:'' ?>" title="<?php echo $this->__( 'FFL Holder Business Name' ) ?>" maxlength="255" class="input-text required-entry" <?php /*onclick="this.value=='FFL Holder Business Name'?this.value='':''" onblur="this.value==''?this.value='FFL Holder Business Name':''"*/ ?> />
                </div>
            </li>
            <li>
                <label class="required"><em>*</em>Holder Address Line 1</label>
                <div class="input-box">
                    <?php $addressLine = $formData->getFflHolderAddressLine(); ?>
                    <input type="text" name="ffl_holder_address_line" id="ffl_holder_address_line" value="<?php echo isset($addressLine)?$addressLine:'' ?>" title="<?php echo $this->__( 'FFL Holder Address Line 1' ) ?>" class="input-text" <?php /*onclick="this.value=='FFL Holder Address Line 1'?this.value='':''" onblur="this.value==''?this.value='FFL Holder Address Line 1':''"*/ ?> />
                </div>
            </li>
            <li>
                <label class="">Holder Address Line 2</label>
                <div class="input-box">
                    <?php $addressLine2 = $formData->getFflHolderAddressLine2(); ?>
                    <input type="text" name="ffl_holder_address_line2" id="ffl_holder_address_line2" value="<?php echo isset($addressLine2)?$addressLine2:'' ?>" title="<?php echo $this->__( 'FFL Holder Address Line 2' ) ?>" class="input-text" <?php /*onclick="this.value=='FFL Holder Address Line 2'?this.value='':''" onblur="this.value==''?this.value='FFL Holder Address Line 2':''"*/ ?> />
                </div>
            </li>
            <li>
                <label class="required"><em>*</em>Holder Phone Number</label>
                <div class="input-box">
                    <?php $phoneNumber = $formData->getFflHolderPhoneNumber(); ?>
                    <input type="text" name="ffl_holder_phone_number" id="ffl_holder_phone_number" value="<?php echo isset($phoneNumber)?$phoneNumber:'' ?>" title="<?php echo $this->__( 'Telephone' ) ?>" class="input-text required-entry" <?php /*onclick="this.value=='Telephone'?this.value='':''" onblur="this.value==''?this.value='Telephone':''"*/ ?> />
                </div>
            </li>
            <li>
                <label class="required"><em>*</em>FFL Number</label>
                <div class="input-box field">
                    <?php $number = $formData->getFflNumber(); ?>
                    <input class="input-text required-entry validate-form-entry no-transform" type="text" name="ffl_number" value="<?php echo isset($number)?$number:'' ?>" <?php /*onclick="this.value=='FFL Number'?this.value='':''" onblur="this.value==''?this.value='FFL Number':''"*/ ?> />
                </div><!--field-->
            </li>
            <li>
                <label class="required"><em>*</em>Expiration Date</label>
                <div class="input-box">
                    <?php $date = $formData->getFflExpirationDate()?$formData->getFflExpirationDate():'' ?>
                    <?php $date = $date?Mage::helper('core')->formatDate($date, 'short', false): ''; ?>
                    <input type="text" id="_dob" name="ffl_expiration_date" class="input-text required-entry" value="<?php echo $date ?>" />
                    <img title="Select date" id="_dob_trig" src="<?php echo $this->getSkinUrl('images/calendar.gif');?>" class="v-middle" style="padding:14px 5px">
                </div>
                <script type="text/javascript">
                    //<![CDATA[
                    Calendar.setup({
                        inputField : '_dob',
                        ifFormat : '%m/%e/%y',
                        button : '_dob_trig',
                        align : 'Bl',
                        singleClick : true
                    });
                    //]]>
                </script>
                <?php /*<div class="input-box field">
                    <?php $expirationDate = $formData->getExpirationDate(); ?>
                    <input class="input-text no-transform" type="text" name="expiration_date" value="<?php echo isset($expirationDate)?$expirationDate:'' ?>" onclick="this.value=='Expiration Date'?this.value='':''" onblur="this.value==''?this.value='Expiration Date':''" />
                </div>*/ ?><!--field-->
            </li>
            <!--<li>
                <label class="required"><em>*</em>FFL Class</label>
                <div class="input-box">
                    <?php /*$class = $formData->getFflClass(); */?>
                    <?php /*$class = is_array($class)?$class:explode(",",$class); */?>
                    <?php /*$classes = Mage::getSingleton('binaryanvil_ffl/adminhtml_system_config_source_class')->toOptionArray(); */?>
                    <select name="ffl_class[]" multiple="multiple" class="required-entry">
                        <?php /*foreach($classes as $_class) : */?>
                            <option value="<?php /*echo $_class['value'] */?>" <?php /*echo !empty($class)?(in_array($_class['value'],$class)?'selected=selected':''):''; */?> ><?php /*echo $_class['label'] */?></option>
                        <?php /*endforeach; */?>
                    </select>
                </div>
            </li>-->
            <li>
                <label class="required"><em>*</em>State/Province</label>
                <div class="input-box">
                    <select id="region_id" name="ffl_holder_state_id" title="<?php echo $this->__('State/Province') ?>" style="display:none;">
                        <option value=""><?php echo $this->__('State/Province') ?></option>
                    </select>
                    <script type="text/javascript">
                        //<![CDATA[
                        $('region_id').setAttribute('defaultValue',  "<?php echo $formData->getFflHolderStateId() ?>");
                        //]]>
                    </script>
                    <?php $region = $formData->getFflHolderState(); ?>
                    <input type="text" id="region" name="ffl_holder_state" value="<?php echo isset($region)?$region:'' ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
                </div><!--input-box-->
            </li>
            <li>
                <label class="required"><em>*</em>Zip Code</label>
                <div class="right_wrap">
                    <div class="input-box">
                        <?php $zip = $formData->getFflHolderZipCode(); ?>
                        <input class="input-text validate-postcode" type="text" name="ffl_holder_zip_code" id="zip_code" value="<?php echo isset($zip)?$zip:'' ?>"  />
                    </div><!--input-box-->
                </div><!--right_wrap-->
            </li>
            <li style="display:none !important">
                <label class="required"><em>*</em>Country</label>
                <div class="input-box">
                    <?php $country = $formData->getCountryId() ?>
                    <?php $country = isset($country)?$country: 'US'; ?>
                    <?php echo Mage::getBlockSingleton('directory/data')->getCountryHtmlSelect($country) ?>
                </div><!--input-box-->
            </li>
            <li>
                <label class="required"><em>*</em>FFL Image</label>
                <?php $image = $formData->getFflImage() ?>
                <a onclick="imagePreview('photo_image'); return false;" href="<?php echo $this->getImageUrl($image) ?>">
                    <img id="photo_image" class="small-image-preview v-middle" width="22" height="22" alt="" title="" src="<?php echo $this->getImageUrl($image) ?>">
                </a>
                <div>
                    <input type="file" title="File" name="ffl_image" <?php if(!$image): ?>class="required-entry validate-file-ext"<?php endif; ?> value="<?php echo $image ?>" />
                </div>
            </li>
            <li class="control">
                <label class="required">Default FFL</label>
                <div class="input-box">
                    <input type="checkbox" id="primary_default" name="is_default" value="1" class="checkbox" />
                </div>
            </li>
        </ul>
    </div>
    <div class="buttons-set">
        <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>" class="back-link"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
        <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
    </div>
    <p class="required"><em>*</em><?php echo $this->__('Required Fields') ?></p>
</form>
<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
    Validation.add('validate-file', 'Attachment should be jpeg, or pdf', function(v) {
        if(v.split('.')[1] != 'pdf' && v.split('.')[1] != 'jpeg' && v.split('.')[1] != 'jpg'){
            return false;
        }else{
            return true;
        }

    });
    Validation.add('validate-file-ext', 'Attachment should be jpeg, or pdf', function(v) {
        console.log(v);
        if(v.split('.')[1] != 'pdf' && v.split('.')[1] != 'jpeg' && v.split('.')[1] != 'jpg'){
            return false;
        }else{
            return true;
        }

    });
    //]]>
</script>