<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 7/12/14
 * Time: 3:20 PM
 */
?>

<?php
    $fflSelect = $this->getFflSelectHtml()
?>
<?php if ($fflSelect): ?>
        <label for="shipping-address-select"><?php echo $this->__('Select a ffl from your ffl book or upload a new ffl.') ?></label>
        <div class="input-box"><?php echo $fflSelect ?></div>
<?php else: ?>
    <em>*</em><input type="checkbox" value="1" name="no_ffl" id="no_ffl" />
    <label>I do not have an FFL to ship to at this time, and I understand it is my responsibility to get one.</label>
    <p class="note">*This will put the order on hold until a valid FFL is associated with it.</p>
<?php endif; ?>