<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 6/3/14
 * Time: 1:51 PM
 */?>

<?php $helper = $this->helper('binaryanvil_ffl') ?>
<div class="page-title">
    <h1><?php echo $this->__('Ffl Book') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="col2-set addresses-list">
    <div class="col-1 addresses-primary">
        <h2 class="sub-title"><?php echo $this->__('Default FFL') ?></h2>
        <?php $defaultFfl = $this->getDefaultFfl(); ?>
        <ol>
            <?php if($defaultFfl): ?>
                <li class="info-box">
                    <address class="box-content">
                        <?php echo $helper->getFflHtml($defaultFfl) ?>
                    </address>
                    <?php $status = $defaultFfl->getFflStatus(); ?>
                    <p><span>Status</span><input type="checkbox" value="1" <?php if($status==BinaryAnvil_Ffl_Helper_Data::VALIDATE) : ?>checked="checked"<?php endif; ?> class="checkbox" /></p>
                    <p class="actions">
                        <a class="edit_address" href="<?php echo Mage::helper('binaryanvil_ffl')->getPath($defaultFfl->getFflImage()) ?>" target="_blank">View FFL</a>
                        <?php if ($defaultFfl->getIsDefault() == 0): ?>
                            <a class="edit_address" href="<?php echo $this->getDefaultUrl()."id/".$defaultFfl->getId() ?>"><?php echo $this->__('Set as Default Ffl') ?></a>
                        <?php endif; ?>
                        <a class="delete_address" href="#" onclick="return deleteFfl('<?php echo $defaultFfl->getId() ?>');"><?php echo $this->__('Unassign') ?></a>
                    </p>
                </li>
            <?php else: ?>
                <li class="info-box">
                    <p class="box-content"><?php echo $this->__('You have no default ffl.') ?></p>
                </li>
            <?php endif ?>
        </ol>
    </div>
    <div class="col-2 addresses-additional">
        <h2 class="sub-title"><?php echo $this->__('Additional FFL Entries') ?></h2>
        <ol>
            <?php if($customerFfls = $this->getFflList()): ?>
                <?php foreach($customerFfls as $customerFfl): ?>
                    <li class="item">
                        <address>
                            <?php echo $helper->getFflHtml($customerFfl) ?>
                        </address>
                        <?php $status = $customerFfl->getFflStatus(); ?>
                        <p><span>Status</span><input type="checkbox" value="1" <?php if($status==BinaryAnvil_Ffl_Helper_Data::VALIDATE) : ?>checked="checked"<?php endif; ?> class="checkbox" /></p>
                        <p class="actions">
                            <a class="edit_address" href="<?php echo Mage::helper('binaryanvil_ffl')->getPath($defaultFfl->getFflImage()) ?>" target="_blank">View FFL</a>
                            <?php if ($customerFfl->getIsDefault() == 0): ?>
                                <a class="edit_address" href="<?php echo $this->getDefaultUrl()."id/".$customerFfl->getId() ?>".><?php echo $this->__('Set as Default Ffl') ?></a>
                            <?php endif; ?>
                            <a class="delete_address" href="#" onclick="return deleteFfl('<?php echo $customerFfl->getId() ?>');"><?php echo $this->__('Unassign') ?></a>
                        </p>
                    </li>
                <?php endforeach; ?>
            <?php else: ?>
                <li class="item empty">
                    <p><?php echo $this->__('You have no additional ffl entries in your ffl book.') ?></p>
                </li>
            <?php endif ?>
        </ol>
    </div>
</div>
<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
    <button type="button" title="<?php echo $this->__('Add New FFL') ?>" class="button" onclick="window.location='<?php echo $this->getAddNewUrl() ?>';"><span><span><?php echo $this->__('Add New FFL') ?></span></span></button>
</div>
<script type="text/javascript">
    //<![CDATA[
    function deleteFfl(ffl_id) {
        if(confirm('<?php echo $this->__('Are you sure you want to Unassign this FFL?') ?>')) {
            window.location='<?php echo $this->getDeleteUrl() ?>id/'+ffl_id;
        }
        return false;
    }
    //]]>
</script>
