<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 7/29/14
 * Time: 10:08 AM
 */?>
<?php echo $this->getChildHtml('binaryanvil_ffl_search_form'); ?>
<?php $result = $this->getResult() ?>
<?php
$queryText = $this->getQueryText();
$searchBy = $this->getQueryBy();
$ffl = $this->getCustomerFfl();
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php if ($searchBy && $queryText) : ?>
    <?php if (count($result) > 0): ?>
        <?php $_collectionSize = $result->count() ?>
        <?php $_columnCount = 3 ?>
        <?php $helper = $this->helper('binaryanvil_ffl') ?>
        <?php $i=0; foreach ($result as $_result): ?>
            <?php if ($i++%$_columnCount==0): ?>
                <ul class="ffl-grid">
            <?php endif ?>
                <li class="info-box <?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                    <address>
                        <?php echo $helper->getFflHtml($_result) ?>
                    </address>
                    <p class="actions">
                        <?php $id = $_result->getId(); ?>
                        <?php if(is_array($ffl) && !in_array($id, $ffl)) { ?>
                            <a class="delete_address" href="#" onclick="return assignFfl('<?php echo $_result->getId() ?>');"><?php echo $this->__('Assign') ?></a>
                        <?php } else { ?>
                            <a class="delete_address" href="#" onclick="return deleteFfl('<?php echo $_result->getId() ?>');"><?php echo $this->__('Unassign') ?></a>
                        <?php } ?>
                    </p>
                </li>
            <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
                </ul>
            <?php endif ?>
        <?php endforeach; ?>

    <script type="text/javascript">
        //<![CDATA[
        function assignFfl(ffl_id) {
            if(confirm('<?php echo $this->__('Are you sure you want to assign this FFL to your account?') ?>')) {
                window.location='<?php echo $this->getAssignedUrl() ?>id/'+ffl_id+'/q/<?php echo $queryText ?>/by/<?php echo $searchBy ?>';
            }
            return false;
        }

        function deleteFfl(ffl_id) {
            if(confirm('<?php echo $this->__('Are you sure you want to unassign this FFL?') ?>')) {
                window.location='<?php echo $this->getUnAssignedUrl() ?>id/'+ffl_id+'/q/<?php echo $queryText ?>/by/<?php echo $searchBy ?>';
            }
            return false;
        }
        //]]>
    </script>
    <?php else: ?>
        <p class="note-msg"><?php echo $this->__('There are no FFLs matching the selection.') ?></p>
    <?php endif; ?>
<?php endif; ?>
<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>
