<?php
/**
 * Productattachments extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   FME
 * @package    Productattachments
 * @author     Kamran Rafiq Malik <kamran.malik@unitedsol.net>
 * @copyright  Copyright 2010 © free-magentoextensions.com All right reserved
 */
?>
<?php 
//Get Javascript folder base path
$jspath =  Mage::getBaseUrl('js');

?> 
<?php 
	$collection = $this->getCmsPageRelatedAttachments(); 
?>
<?php if ( count($collection) != 0 ) : ?>
<div class="box-collateral" style="margin-top:25px;">
    <h2><?php echo $this->__(Mage::helper('productattachments')->getCMSPageAttachmentHeading()) ?></h2> 
    <ul>	
		<?php foreach ($collection as $item): ?>
    		 <li>
             	<?php
                	echo $item['file_icon'] . '  ' .  '<a href="'.Mage::getUrl('productattachments').'index/download?id='.$item['productattachments_id'].'" target="_blank"><b>'. $item['title']. '</b></a>  Size: ('.$item['file_size'].')';
				?>
                <?php
                	if(Mage::getStoreConfig('productattachments/cmspagesattachments/showcontent')) {
				?>
                	<div><?php echo $item['content']; ?></div>
                <?php 
					} 
				?>
             </li>
            
        <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>