@charset "utf-8";
/* CSS Document */
li.ext-link a {background:#D53C3C;color:#FFFFFF;display: block; border:none;font-size: 13px;padding: 7px 10px 9px; margin:0;}
li.ext-link.business-create a {margin:-6px 0 0;padding: 7px 10px 9px}
li.ext-link a.over {background:#000; color:#fff}

address.copyright {
    color: #767676;
    font-family: 'BoxedLight';
    font-size: 11px;
    margin: 17px 0 0;
    white-space: nowrap; text-transform:uppercase}