@charset "utf-8";
/* CSS Document */

form .jqtransformdone .rowElem {
    clear:both;
    padding:4px 0;
}
/* -------------
 * Buttons
 * ------------- */
button.jqTransformButton {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    overflow: visible;
    font-family: Arial;
}

*:first-child+html button.jqTransformButton[type]{width: 1;} /* IE7 */

button.jqTransformButton span { }

button.jqTransformButton span span { }

/*hover*/
button.jqTransformButton_hover span span { background-position: left -33px ; }
button.jqTransformButton_hover span { background-position: right -33px ; }

/*clicked*/
button.jqTransformButton_click span span { background-position: left -66px ; }
button.jqTransformButton_click span { background-position: right -66px ; }

/* IE 6 */
* html button.jqTransformButton { height:33px; }
* button.jqTransformButton span span { height: 25px; }
/* IE 7 */
*+ html button.jqTransformButton { height:33px; }
*+ button.jqTransformButton span span { height: 25px; }


/* -------------
 * Inputs
 * ------------- */
.jqTransformInputWrapper {

}

/*  IE6 */
* html .jqTransformInputInner div input {
    padding: 6px 0 0 0;
    margin: 0 0 0 -8px;
    height:24px;
}
/* Ie7 */
*+ html .jqTransformInputInner div input {
    padding: 6px 0 0 0;
    margin-left:-10px;
    height:24px;
}

/* -------------
 * Textarea
 * ------------- */
table.jqTransformTextarea td#jqTransformTextarea-mm textarea{
    font-size: 12px;
    line-height: 16px;
}

table.jqTransformTextarea td{
    font-size: 1px;
    line-height: 1px;
    width: 5px;
    height: 5px;
    margin: 0;
    padding: 0;
}
table.jqTransformTextarea{}
table.jqTransformTextarea tr{
    /*border: 1px solid red;*/

}
table.jqTransformTextarea textarea{
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}
table.jqTransformTextarea td#jqTransformTextarea-tl{ /*background: url(img/textarea/textarea_tl.gif) no-repeat top left;*/ }
table.jqTransformTextarea td#jqTransformTextarea-tm{ /*background: url(img/textarea/textarea_tm.gif) repeat-x top left;*/ }
table.jqTransformTextarea td#jqTransformTextarea-tr{ /*background: url(img/textarea/textarea_tr.gif) no-repeat top left;*/ }

table.jqTransformTextarea td#jqTransformTextarea-ml{ /*background: url(img/textarea/textarea_ml.gif) repeat-y top left;*/ }
table.jqTransformTextarea td#jqTransformTextarea-mm{ /*background: url(img/textarea/textarea-mm.gif) repeat;*/ }
table.jqTransformTextarea td#jqTransformTextarea-mr{ /*background: url(img/textarea/textarea_mr.gif) repeat-y top left;*/ }

table.jqTransformTextarea td#jqTransformTextarea-bl{ /*background: url(img/textarea/textarea_bl.gif) no-repeat top left;*/ }
table.jqTransformTextarea td#jqTransformTextarea-bm{ /*background: url(img/textarea/textarea_bm.gif) repeat-x top left;*/ }
table.jqTransformTextarea td#jqTransformTextarea-br{ /*background: url(img/textarea/textarea_br.gif) no-repeat top left;*/ }

/*hover*/
table.jqTransformTextarea-hover td#jqTransformTextarea-tl{background-position:0 -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-tm{background-position:0 -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-tr{background-position:0 -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-ml{background-position:-5px 0;}
table.jqTransformTextarea-hover td#jqTransformTextarea-mm{ /*background-image: url(img/textarea/textarea-mm-hover.gif);*/ }
table.jqTransformTextarea-hover td#jqTransformTextarea-mr{background-position:-5px 0;}
table.jqTransformTextarea-hover td#jqTransformTextarea-bl{background-position:0 -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-bm{background-position:0 -5px;}
table.jqTransformTextarea-hover td#jqTransformTextarea-br{background-position:0 -5px;}

/*focus*/
table.jqTransformTextarea-focus td#jqTransformTextarea-tl{background-position:0 -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-tm{background-position:0 -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-tr{background-position:0 -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-ml{background-position:-10px 0;}
table.jqTransformTextarea-focus td#jqTransformTextarea-mm{ /*background-image: url(img/textarea/textarea-mm-focus.gif);*/ }
table.jqTransformTextarea-focus td#jqTransformTextarea-mr{background-position: -10px 0;}
table.jqTransformTextarea-focus td#jqTransformTextarea-bl{background-position:0 -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-bm{background-position:0 -10px;}
table.jqTransformTextarea-focus td#jqTransformTextarea-br{background-position:0 -10px;}


table.jqTransformTextarea .jqTransformSafariTextarea div {
    position: relative;
    overflow: hidden;
    border: 0 solid red;
}
table.jqTransformTextarea .jqTransformSafariTextarea textarea{
    background: none;
    position: absolute;
    top:-10px;
    left:-10px;
    padding: 10px 10px 10px 10px;
    resize: none;
}


/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {float: left;display:block;margin:0 4px;	}
.jqTransformRadio {
   background: url(../images/icon-radio-button.png) no-repeat left bottom;
   vertical-align: middle;
   height: 25px;
   width: 26px;
   display:block;/*display: -moz-inline-block;*/
}


/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
    display:block;
    float:left;
    padding-top:2px;
    padding-right:5px;
}
a.jqTransformCheckbox {
   background: #f4f4f4 url(../images/icon-checkbox.png) no-repeat left top;
   vertical-align: middle;
   height: 24px;
   width: 24px;
   display:block;/*display: -moz-inline-block;*/
}

a.jqTransformCheckbox:hover {
    background-position: left -24px;

}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked:hover { background-position: left top;}
a.jqTransformCheckbox.jqTransformChecked { background-position: left bottom;}
a.jqTransformRadio.jqTransformChecked, a.jqTransformRadio.jqTransformChecked:hover { background-position: left top;}


/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
    width: 45px;
    position:relative;
    height: 25px;
    float:left;
}

.jqTransformSelectWrapper div span {
    float: none;
    position: absolute;
    white-space: nowrap;
    line-height: 20px;
    padding: 10px 0 10px 10px;
    overflow: hidden;
    cursor:pointer;
    color:#fff;
    text-transform:none;
    font-size:12px;
}

.jqTransformSelectWrapper div span:hover, .jqTransformSelectWrapper:hover div span {
    color: #e8e8e8;
}

.jqTransformSelectWrapper a.jqTransformSelectOpen {
    display: block;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 11px;
    height: 24px;
    /*background: url(../images/select_right.png) no-repeat right 0;*/
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen:hover, .jqTransformSelectWrapper:hover a.jqTransformSelectOpen {
    background-position:right -34px;
}

.jqTransformSelectWrapper ul {
    position: absolute;
    width: 43px;
    top: 41px;
    left: 1px;
    list-style: none;
    background-color: #FFF;
    border: solid 1px #CCC;
    border-top: 0;
    display: none;
    margin: 0;
    padding: 0;
    height: 150px;
    overflow: auto;
    overflow-y: auto;
    z-index:10;
}

.jqTransformSelectWrapper ul li {
    padding:0!important;
}

.jqTransformSelectWrapper ul a {
    display: block;
    padding: 9px 5px;
    text-decoration: none;
    color:#5C5C5C;
    background-color: #FFF;
    font-size: 11px;
    text-transform:none!important;
}

.jqTransformSelectWrapper ul a.selected {
    background: #C8C9CB;
    color: #000;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
    background:#b22025;
    color: #fff;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}