.wordpress-index-index .content_main_bg .the_wrapper { background:url(../images/content-left-bg-3.jpg) no-repeat; }
.wordpress-index-index .blog-home { float: left; width: 880px;  min-height: 500px; }
.wordpress-index-index .post-tags ,.wordpress-archive-view .post-tags{display: none; }

.post-list .pager .pages .current {color: #D32F2F;background: none; font-family: 'BoxedRegular-Bold'; }
.post-list .pager .pages li a{font-size: 14px; color: #b6b6b6; font-family: 'BoxedRegular-Bold'; vertical-align: top;}
.post-list .pager .pages li {font-size: 14px;}
.post-list .v-middle { padding: 0 6px 4px;}
.post-list .pager .pages strong { font-size:14px;}
.post-list .pager .pages {text-align: center; clear: both;}

.wordpress-post-view .block-blog-archives,
.wordpress-post-view .block-recent-posts{ }
.wordpress-post-view .blog_left {  float: left; }
.wordpress-post-view .blog_left{  padding: 10px 21px 21px;}
.wordpress-post-view .post-list-item .entry p, .std p { padding-left: 0 !important;}
.post-title{ padding: 13px 0;}
.wordpress-post-category-view .post-list-item, .wordpress-post-tag-view .post-list-item { }

.wordpress-post-view  .page-title.blog-title {/*padding:0 132px 0px 21px ;*/float: left;}
.wordpress-post-tag-view .content-second .post-kind2 .blog-categories a{ margin-top: 0;}
.wordpress-post-tag-view .post-tags{display: none;}
.wordpress-archive-view .post-list-item, .wordpress-post-tag-view .post-list-item, .wordpress-post-category-view .post-list-item{ }

.wordpress-post-category-view .post-tags { display: none;}
.wordpress-archive-view .content .blog-categories a,
.wordpress-post-category-view .content-second .post-kind2 .blog-categories a,
.wordpress-archive-view .content-second .post-kind2 .blog-categories a,
.wordpress-archive-view .content-first .post-kind3 .blog-categories a{ margin-top: 0px;}
.wordpress-archive-view .blog_left .page-title h1 ,.wordpress-post-category-view .blog_left .page-title h1{font-size: 25px;  padding: 5px;}

.post-title h1{ font-size: 35px !important; font-family: 'boxedregular-bold';}

.is-blog  .page-title.blog-title { padding-left:17px; float: left;}
.is-blog select{ border-radius: 0; border: none; padding: 5px 2px 7px 3px;font-size: 13px; font-family: 'boxedregular'; background: url("../images/choose-archives.jpg") no-repeat #a3a3a3; color: #fff; text-transform:uppercase; width: 182px; }
.is-blog select option{ font-size: 14px; font-family: 'boxedregular'; }

.blog_left {  padding-left: 12px;}
.border-bottom{ overflow: hidden; width: 775px; padding-top: 7px;}

.the_wrapper .wp-sidebar {  float: right; font-family: 'BoxedRegular-Bold'; font-size: 16px;text-transform: uppercase;  margin-right: 12px;margin-bottom: 5px; }
.category-menu .wp-sidebar { padding: 0; float: left; }

.wp-sidebar #wp-category-list {  float: left; padding: 11px 35px 11px 0;}
.wp-sidebar #wp-category-list li {background: url("../images/menu-border.png")no-repeat right top;  display: inline; padding: 0 10px 0 10px; float: left; line-height: 16px; }
.wp-sidebar #wp-category-list li.last {background: none; }
.wp-sidebar #wp-category-list li a {font-size: 19px; font-family: 'boxedregular-bold'; padding-right: 5px; }
.wp-sidebar #wp-category-list li a:active {color:#d32f2f; }
a:active {color:#d32f2f; }
#wp-category-list li:first-child {padding-left: 0;}

/*search*/
.block-blog-search { margin-top: 1px;}
.block-blog-search, .block-blog-archives{ float: left;}
.blog-search .input-text { border: solid 2px #000; font-family: 'BoxedRegular-Bold'; font-size: 14px;  text-transform: uppercase; width: 160px; padding: 5px; }
.blog-search .input-text:focus { border: 2px solid #000;  }
.blog-search button.button { background: url("../images/search.jpg") no-repeat; height: 33px; }

/*right wrapper*/
.blog_right { float: right; width: 255px; }
.blog_right .block { float: left; width: 100%; border-top: solid 6px #e5e5e5; margin-top: 15px; }
.blog_right .block:first-child { border-top: none; }
.blog_right .block .block-title { font-size: 18px; font-family: 'BoxedRegular-Bold'; text-transform: uppercase; margin-top: 10px; }
.blog_right .block .block-title strong { font-weight: normal; }
.blog_right .block .block-content ul { margin-top: 10px; }
.blog_right .block .block-content ul li { border-top: solid 1px #e5e5e5; padding: 10px 0; text-transform: uppercase; }

#post-list .item { float: left; width:424px;}
#post-list .item:first-child { width:853px;}
#post-list .item:first-child .post-entry h2{ font-size: 35px; /*padding: 0 10px 0 0;*/}
#post-list .item:first-child img{ max-width:832px;}


.content-second .blog-categories a,.content-first .blog-categories a{  float: left; position:relative; background: url("../images/blog-category-bg.png") no-repeat right bottom  ; font-family: 'BoxedRegular-Bold'; font-size: 16px; color: #999; text-transform: uppercase; margin-top: -27px;padding: 11px 11px 1px 11px; margin-bottom: -1px; }
.content-second .blog-categories a:hover,.content-first .blog-categories a:hover,.content-second .post-kind2 .blog-categories a:hover{color: #000000;}
.wordpress-index-index .featured-image .blog-categories {}
.wordpress-index-index .post-kind2 .blog-categories { margin-top: 12px;}
.wordpress-index-index .post-kind2 .blog-categories a{ background: url("../images/blog-category-bg.png") no-repeat right bottom  ; font-family: 'BoxedRegular-Bold'; font-size: 16px; color: #999; text-transform: uppercase; margin-top: -10px; padding: 5px 5px 0 10px; position: relative;}
.wordpress-index-index .post-kind3 .blog-categories a{ margin-top: 4px;}

.wordpress-index-index .share-this span, .wordpress-index-index .comment-counter span, .wordpress-post-category-view .comment-counter span,.wordpress-archive-view .comment-counter span{color: transparent; font-size: 1px;}

/*Post entry*/
.post-holder{ border: 5px solid #E6E6E6;  overflow: hidden; margin-bottom: 15px; padding: 0 15px 15px; width: 798px; }
.by-author{ color: #ff0000; padding: 0 ; font-family: 'BoxedRegular'; font-size: 15px; float: left; margin-right: 5px;}

.post-list-item .text-holder{padding-left: 12px; }
.post-list-item .the-content{padding: 0 11px 10px 0; overflow: hidden;}
.post-list-item .the-content strong { font-family: 'BoxedRegular-Bold'; font-weight: normal;}
.post-list-item .the-content ul { list-style: circle; padding-left: 12px;}
.post-list-item .the-content ol { list-style: decimal outside none; padding-left: 12px;}
.post-list-item .the-content ol, .post-list-item .the-content ul{font-family: 'BoxedLight'; font-size: 16px;line-height: 24px;}

.post-list-item{border: 5px solid #E6E6E6; margin: 5px; padding-bottom: 40px;}
.post-list-item .entry p{}
.post-list-item .entry .no-featured-image{ padding-top: 41px;}
.post-list-item .entry .featured-image img{max-width: 403px; }
.post-list-item .entry .read-more{display: none;}
.post-list-item .entry  p {clear: both;font-family: 'BoxedLight'; font-size: 16px; line-height: 24px; }
.std p{font-family: 'BoxedLight'; font-size: 16px; line-height: 24px; }
.bottom-links { float: right;    padding-left: 10px;    width: 189px;}
.bottom-links .comment{ background: url(../images/commentcount-bg.jpg)no-repeat ; color: transparent; padding: 6px; }
.bottom-links .read{ color: #fff; background: #000; font-family:'boxedmedium';font-size: 14px; padding: 5px;}
.bottom-links .read:hover { background: #D32F2F; }
.bottom-links .rating-comment-share span{ padding-left: 20px; }

.rating-comment-share span{ line-height: 22px;  color: #000; font-family: boxedregular-bold; }
.rating-comment-share a:hover{ color: transparent; }

.share-this { background: url("../images/share-icon.jpg")no-repeat ;color: rgba(0, 0, 0, 0); float: right;padding: 5px; width: 30px; height: 21px;}
.share-this:hover { color: transparent; }

.comment-counter{ background: url(../images/commentcount-bg.jpg)no-repeat ;color: #000; float: right; font-family: boxedregular-bold;  padding: 4px 4px 8px 5px;}
.comment-counter span{ padding-left: 10px;}


.post-list-item h2 { font-family: 'BoxedRegular-Bold'; font-size: 24px;text-transform: uppercase; overflow: hidden;   padding-top:5px;}
.post-list-item .post-date{font-family: 'BoxedRegular'; font-size: 12px; color: #999;letter-spacing: 1px; padding: 6px 0 14px; }
.post-list-item .post-date h3{border-bottom: 3px solid #eaeaea; padding-bottom: 20px; }
.post-view .post-date{ font-family: 'BoxedRegular'; font-size: 15px;letter-spacing: 1px;  padding-left: 10px; color: #ababab;}

.wordpress-post-view .post-holder .blog-categories{display: none;}
.wordpress-post-view .post-holder .post-skips{display: none;}
.wordpress-post-view .pager .pages {}
.blog-tag-line {display: none;}

/*Ratings*/
.rating-comment-share{float: right; overflow: hidden;  width:72px; }
.rating-comment-share .post-rating{ background: url("../images/no-rating-new.jpg") no-repeat; float: left; }
.rating-comment-share .post-rating a{line-height: 20px;  margin-left: 122px;font-family: 'BoxedRegular-Bold'; }
.rating-comment-share .bottom-links {padding: 7px;}
.rating-comment-share .bottom-links .comment, .rating-comment-share .bottom-links .share{color: #000; padding-left: 28px;font-family: boxedregular-bold;}
.rating-comment-share .share-this{ float: left;  margin-left: 2px; padding: 0;}

/*Post-tags*/
.post-holder .post-tags { overflow: hidden; padding:40px 0 0 ; clear: both;}
.post-holder .post-tags h4{margin-right: 10px; text-transform: uppercase; float: left; font-family: 'BoxedRegular-Bold'; font-size: 12px;}
.post-holder .post-tags a{background: none repeat scroll 0 0 #BABABA; color: #FFFFFF; font-family: 'BoxedRegular-Bold';font-size: 12px;margin: 0 5px; padding: 1px; text-transform: uppercase; }

/*Comment*/
#comments { width: 833px;overflow: hidden; }
#comments .form-list input.input-text{height: 20px;width: 430px; border-width: 1px; }
#comments .form-list textarea{ height: 100px; width: 809px; border-width: 1px;}

.comment-list { border-top: 2px solid #E6E6E6; padding-top: 27px; margin-top: 20px;}
.comment-list .comment{padding-bottom: 20px; }
.comment-list .comment-meta .comment-url{ font-family: 'BoxedRegular-Bold'; font-size:16px; margin-right: 10px; text-transform: uppercase;}
.comment-list .comment-meta {  padding-bottom: 15px;}
.comment-list .comment-inner  .comment-entry {font-family: 'BoxedLight';font-size:14px ;  border:2px solid #cbcbcb; padding: 15px; line-height: 25px;}
.comment-list .comment-when{ font-family: 'boxedregular';  color: #ABABAB; font-size: 12px; letter-spacing: 1px;}
.comment-list .reply{display: none;}

.comments-wrapper h2{font-family: 'boxedregular-bold';font-size: 24px; margin-top: 10px; padding: 15px 0 35px; text-transform: uppercase;}
.comments-wrapper .legend { font-family: 'boxedregular-bold';font-size: 24px; margin-top: 10px;padding: 15px 0; text-transform: uppercase;}

.block-blog-archives #wp-archive-list{ border: none; font-size: 14px; font-family: 'boxedregular'; color: #fff; text-transform:uppercase; width: 149px; overflow: hidden; padding: 2px 12px 7px 10px ;}
.block-blog-archives{  margin-right: 24px;}
.block-blog-archives .block-title{ color: #a3a3a3; text-transform: uppercase; font-family: 'boxedmedium'; font-size: 14px;float: left; padding: 13px 9px 9px; }
.block-blog-archives .block-content{ float: left; }
.archives{ float: right;}

.feed-archives { border-top: 5px solid #E6E6E6; margin-left: 17px;overflow: hidden;  width: 843px;}
.feed-block{ padding-top: 14px;  float:right;}
.feed-block a{color: #ABABAB; text-transform: uppercase; padding: 5px 5px 2px 20px; background: url("../images/rss-feed.jpg") no-repeat left center;}
.feed-block a:hover {color: #d32f2f;}

.content-second, .content-first{clear: both;}
.content-second .post-kind2 .blog-categories a{ margin-top: 0;}
.content-first .post-kind3 .blog-categories a{ margin-top: 2px;}
.content-first .blog-categories a{ margin-top: -27px; }

.content-bottom .blog-categories{display: none;}
.content-bottom .comment-counter {margin-right: 2px; background: url(../images/commentcount-bg.jpg)no-repeat ;width: 24px; height: 12px;}
.comment-counter h5{ float: left; text-align: center; width: 25px; line-height: 10px;}
.content-bottom { }
.content-bottom .bottom-links {width: 35px;}
.home-page-bttm-links .share-this {width:21px; }

.wp-caption{ color: #ABABAB;  font-family: 'BoxedRegular';}

.alignleft, .alignnone{float: left;  padding: 0px 20px 0 0;}
.alignright{float: right; padding: 10px 0 10px 20px;}

.post-holder .std a{background: none; padding: 0;}
.post-holder .std .read{ background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-family: 'boxedmedium';
    font-size: 14px;
    padding: 5px;}
.post-holder .std .read:hover{background:#d32f2f;}
.post-holder .std a:hover {background: none;}

small{font-size: 11px;}

/*IE 8, 7, 6 hack*/
@media \0screen\,screen\9  {
.post-list-item .entry .featured-image img{}
.wp-sidebar #wp-category-list li a {font-size: 18px; font-family: 'boxedregular-bold'; }
.the_wrapper .wp-sidebar {width: 448px ;}
.post-list-item .entry .featured-image img{max-width: 403px; }
.home-page-bttm-links .share-this { width: 34px; }
.content-bottom .comment-counter {margin-right: 2px; background-image:url('../images/commentcount-bg.jpg') ; width: 23px; height: 12px;}
.home-page-bttm-links .share-this { background-image:url(../images/share-icon.jpg);  width: 13px !important; height: 12px;color: transparent; }
.rating-comment-share .share-this { background-image:url(../images/share-icon.jpg); background-repeat: no-repeat; color: transparent;}
.block-blog-search{width: 230px;}
.comment-counter{ background-image: url(../images/commentcount-bg.jpg);background-repeat: no-repeat;}
#post-the-comment{ height: 38px;}
.wp-sidebar #wp-category-list { width: 443px;}
}
.is-blog .block-viewed,.is-blog .block-reorder{display: none ;}

/*IE 10, 9 hack*/
@media screen and (min-width:0 \0) {
.post-list-item .entry .featured-image img{max-width: 403px; }
.post-list-item .entry .featured-image img{}
.home-page-bttm-links .share-this { width: 34px;}
.comment-counter {background: url("../images/commentcount-bg.jpg")no-repeat ;}
}

/*firefox hack*/
@-moz-document url-prefix() {

}

/*webkit hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
.blog-search button.button {height: 31px; }
.post-list-item{ padding-bottom:7px;}
}

/*ipad only*/
@media only screen and (device-width: 768px) {
}

/* iPhone, Android rules here */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

}