<?php
?>
<?php 
$_helper = $this->helper('catalog/product_compare');
$_items = $_helper->getItemCount() > 0 ? $_helper->getItemCollection() : null;
$limit = $_helper->numberOfCompareItemsAllowed();
?>
<div class="block-compare" style="display:<?php if($_helper->getItemCount() > 0): ?>block<?php else: ?>none<?php endif; ?>">
    <div class="block-title compare-title">
        <strong><span>Your Compare List</span></strong>
    </div><!--block-title compare-title-->

    <div class="block-content">
        <?php if($_helper->getItemCount() > 0): ?>
            <ol id="compare-items">
                <?php foreach($_items as $_index => $_item): ?>
                    <li class="item" id="cmp_item_<?php echo $_item->getId() ?>_s">
                        <?php $_product = Mage::getSingleton('catalog/product')->load($_item->getId());?>
                        <?php $_compareUrl = $this->getAddToCompareUrl($_product);?>
                        <?php $cmpImagePH = $this->getSkinUrl()."images/compare-list.png";?>
                        <?php $cmprItemImageUrl = $this->helper('catalog/image')->init($_product, 'small_image')->resize(135, 102);?>
                        <input type="hidden" class="compare-item-id" value="<?php echo $_item->getId() ?>" id="<?php echo $this->getProductUrl($_item) ?>"/>
                        <a class="btn-remove" href="<?php echo $_helper->getRemoveUrl($_item) ?>" onclick="compare.sidebarRemoveItem(this, '<?php echo $_compareUrl ?>', '<?php echo $cmpImagePH ?>', '<?php echo $cmprItemImageUrl ?> '); return false;">Remove</a>
                        <p class="product-name">
                            <a href="<?php echo $this->getProductUrl($_item) ?>">
                                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135, 102); ?>" alt="" />
                            </a>
                        </p>
                    </li>
                <?php endforeach; ?>

                <?php for ($x = 0; $x < ($limit - count($_items)); $x++):?>
                    <li class="add-to-compare item empty_cmp_box">
                        <p>add item here</p>
                    </li>
                <?php endfor; ?>
            </ol>
        <?php else:?>
            <ol id="compare-items">
                <?php for($x=0; $x<$limit; $x++):?>
                    <li class="item empty_cmp_box">
                        <img src="<?php echo $this->getSkinUrl(); ?>images/compare-list.png" alt="" />
                    </li>
                <?php endfor; ?>
            </ol>

        <?php endif;?>

        <section id="compare_now">
            <button type="button" title="<?php echo $this->__('Compare') ?>" class="button-compare" onclick="compare.compareItem('<?php echo $_helper->getListUrl() ?>')"><span><span><?php echo $this->__('Compare Now') ?></span></span></button>
        </section><!--compare_now-->
    </div><!--block-content-->
</div><!--block-compare-->