<?php

$orders = $this->checkOrder();
?>

<style type="text/css">
    
.quick-order-page-title {
    font-family: 'elektra_light_probold';
    font-size: 48px;
    font-weight: bold;    
    text-align: center;
    text-transform: uppercase;
}


.enter-order-number {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
</style>

<div class="quick-order-page-title" style="padding-top: <?php echo count($orders)>0?100:150 ?>px"><?php echo Mage::getSingleton('cms/page')->getTitle(); ?></div>
<div class="enter-order-number">Please enter your order number and zip code below to track your purchase.</div>
<div class="quick-order-container" style="margin-top: 10px;">
    <div class="quick-order-form">
        
        <div class="order-input-wrap">
            <form action="<?php echo Mage::helper("core/url")->getCurrentUrl(); ?>" method="post">
                <div class="quick-order-fld-wrap">
                    <input type="text" value="<?php echo $this->orderid?$this->orderid:'Enter Order #'; ?>" class="required input-text required-entry validate-contacts-entry order-check-inputs" title="Enter Order #" id="name" name="orderid" />
                </div>
                <div class="quick-order-fld-wrap">
                    <input type="text" value="<?php echo $this->zip?$this->zip:'Enter Zip Code'; ?>" class="required input-text required-entry validate-contacts-entry order-check-inputs" title="Enter Zip Code" id="name" name="zip" />
                </div>
                <button type="submit" class="check-order-btn"><span>Check Order</span></button>
            </form>
        </div>
    </div>
    
    <?php if(count($orders)>0){ ?>
    <div class="order-list-wrap">
        <table class="data-table grouped-items-table order-list-table">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="200">
                <col width="150">
                <col width="150">
            </colgroup>
            <thead>
                <tr >
                    <th>Order #</th>
                    <th>Date</th>
                    <th>Ship To</th>
                    <th>Order Total</th>
                    <th>Status</th>
                    <?php if($orders[0]['track_number']){ ?>
                        <th>Tracking Number</th>                    
                    <?php } ?>
                </tr>
            </thead>
            <tbody>
                <?php foreach($orders as $order){?>
                <tr>
                    <td><?php echo $order['increment_id']; ?></td>
                    <td><?php echo $order['date']; ?></td>
                    <td><?php echo $order['name']; ?></td>
                    <td><?php echo Mage::helper('core')->currency($order['grand_total'], true, false); ?></td>
                    <td><?php echo ucwords ($order['state']); ?></td>
                    <?php if($order['track_number']){ ?>
                    <td>
                        <a href="<?php echo $this->getTrackingUrl($order['track_number'], $order['carrier']); ?>" target="_blank">
                            <?php echo $order['track_number']; ?>
                        </a>                        
                    </td>    
                    <?php } ?>
                </tr>
                <?php } ?>
            </tbody>

        </table>
    </div>
    <?php }else{ ?>
    <div class="no-results"><?php echo $this->seachMessage(); ?></div>
    <?php } ?>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        var defaultValues = ['enter order #', 'enter zip code', ''];
        var defaultIndexValues = [];
        
        
        
        
        jQuery('.required').each(function(index){
            jQuery(this).focus(function(){
                if(jQuery.inArray((jQuery(this).val()).toLowerCase(), defaultValues)>=0){
                    defaultIndexValues[jQuery(this).index()] = jQuery(this).val();
                    jQuery(this).val('');
                }
            });
            
            jQuery(this).blur(function(){
                if(jQuery(this).val()==''){                    
                    if(defaultIndexValues.length==0){
                        jQuery(this).val((defaultValues[index]).replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase()}));
                    }else{
                        jQuery(this).val(defaultIndexValues[jQuery(this).index()]);
                    }
                }
            });
        });
        
        jQuery('.check-order-btn').click(function(){
            var hasError = false;
            
            jQuery('.required-msg').each(function(){
                jQuery(this).remove();
            });
            
            jQuery('.required').each(function(){
                if(jQuery.inArray((jQuery(this).val()).toLowerCase(), defaultValues)>=0){                    
                    
                    
                    jQuery(this).css({border:'solid 1px #c00'});
                    jQuery(this).parent().append('<span class="required-msg" style="display: block; color: #c00">*This is a required field!</span>');
                    
                    hasError = true;
                }            
        });
        
        if(hasError){
            return false;
        }
        });
        
        if(jQuery(".order-list-table").length>0){
            jQuery(".order-list-table tr").each(function(){
                jQuery(this).children('td:not(:last-child)').css({'borderRight':'none'});
            });
            jQuery(".order-list-table tr").each(function(){
                jQuery(this).children('th:not(:last-child)').css({'borderRight':'none'});
            });
            jQuery(".order-list-table tr").children('th').css({'borderBottom':'none'});            
        }
        
    });
</script>