<?php
/** @var Mage_Core_Model_Template $this */

/** @var Mage_Core_Model_Date $dateTimeModel */
$dateTimeModel = Mage::getModel('core/date');

$currentDate = (int)$dateTimeModel->date('d');

$imageString = $this->getData('imagefiles');
//$imageList = array_map('trim', explode(',', $imageString)); //Trim each result from the explode

//$imageChunks = array_map('trim', array_chunk(preg_split('/(\||,)/', $imageString), 2));
$imageChunks = array_chunk(preg_split('/(\||,)/', $imageString), 2);
$imageList = array_combine(array_map('trim', array_column($imageChunks, 0)), array_map('trim', array_column($imageChunks, 1)));

$baseImagePath = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."wysiwyg/banner/blackfriday/";
$currentImage = $imageList[$currentDate];
?>
<!--
<img src="<?php echo $baseImagePath.$currentImage; ?>"/>
<h2>Black Friday</h2>
<p>Deals for the <?php echo $dateTimeModel->date('jS'); ?></p>
<p><a class="browse" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)."black-friday-2018.html"; ?>"><span>Shop Deals</span></a></p>
-->
<a href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)."black-friday-2018.html"; ?>">
    <img src="<?php echo $baseImagePath.$currentImage; ?>"/>
</a>
