<style>
    .collateral-tabs .tab:not(.active) span { color: #979797; }
    .collateral-tabs .tab.active span { color: #d32f2f; }
    .collateral-tabs .tab.prev_sale span { cursor: pointer; }
    .collateral-tabs .tab.current span { cursor: pointer; }
    .collateral-tabs .tab { cursor: default; font-size: 10px;}
    .collateral-tabs .tab span { line-height: 0; padding-top: 10px; }
    .catalog-category-view.catalog-wide.blackfriday #main_content { margin: 0 auto; float: none; width: 870px;}
    .catalog-category-view.catalog-wide.blackfriday #main_content .container { float: none; }
    .catalog-category-view.catalog-wide.blackfriday #main_content .container .blackfriday-products { float: none; }
    .blackfriday h2 { color: #000; font-size: 30px; font-family: 'BoxedRegular-Bold'; margin-bottom: 15px; }
    .blackfriday .disabled-links > #main_content { pointer-events: none; opacity: 0.4; filter: alpha(opacity=40); }
    .blackfriday .disabled-links > #main_content img { -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -o-filter: grayscale(100%); -ms-filter: grayscale(100%); filter: grayscale(100%); }
    #default_bottom_wrap { clear: both; }
    #default_bottom_wrap p { text-align: right; padding: 5px 50px 0 0; }
    #default_bottom_wrap p a { background:url(/skin/frontend/enterprise/seekinsprecision/images/back-to-top.png) no-repeat right center; padding: 1px 22px 1px 0; text-transform: uppercase; }

    .blackfriday-products .products-list { width: 870px; }
    .blackfriday-products .products-list .bf-item { display: inline-block; width: 431px; text-align: center; margin-bottom: 30px; vertical-align: top; }
    .blackfriday-products .products-list .bf-item.odd { margin-right: 2px; }
    .blackfriday-products .products-list .bf-item.odd:last-child { width: 100%; margin-bottom: 15px; }
    .blackfriday-products .products-list .bf-item.even { margin-left: 2px; }
    .blackfriday-products .products-list .bf-item a.blackfriday-product-image { display: table; margin: 0 auto; }
    .blackfriday-products .products-list .bf-item a.blackfriday-product-image img { display: block; }
    .blackfriday-products .products-list .bf-item h2 { margin-top: 15px; }
    .blackfriday-products .products-list .bf-item .price-box { margin: 5px 0 10px; }
    .blackfriday-products .products-list .bf-item .price-box p { display: inline; }
    .blackfriday-products .products-list .bf-item .price-box p.special-price span.sale-label { float: none; }
</style>
<script>
    Object.extend(Enterprise.Tabs.prototype, {
        initialize: function (container) {
            this.container = $(container);
            this.container.addClassName('tab-list');
            this.tabs = this.container.select('dt.tab');
            this.activeTab = this.tabs.find(function(element){ return element.hasClassName('current'); });
            this.tabs.first().addClassName('first');
            this.tabs.last().addClassName('last');
            this.onTabClick = this.handleTabClick.bindAsEventListener(this);
            for(let i = 0, l = this.tabs.length; i < l; i ++)
            {
                if(this.tabs[i].hasClassName('current') || this.tabs[i].hasClassName('prev_sale'))
                {
                    this.tabs[i].observe('click', this.onTabClick);
                }
            }
            this.select();
        },
        handleTabClick: function (evt) {
            this.activeTab = Event.findElement(evt, 'dt');
            this.select();
        },
        select: function () {
            for(let i = 0, l = this.tabs.length; i < l; i ++)
            {
                if(this.tabs[i] == this.activeTab)
                {
                    this.tabs[i].addClassName('active');
                    this.tabs[i].style.zIndex = this.tabs.length + 2;
                    new Effect.Appear (this.tabs[i].next('dd'), { duration:0.5 });
                    this.tabs[i].parentNode.style.height=this.tabs[i].next('dd').getHeight() + 15 + 'px';
                }
                else
                {
                    this.tabs[i].removeClassName('active');
                    this.tabs[i].style.zIndex = this.tabs.length + 1 - i;
                    this.tabs[i].next('dd').hide();
                }
            }
        }
    });

    let stdDiv = document.querySelector('.std');
    stdDiv.classList.remove('std');

    jQuery(document).ready(function() {
        let backToTop = document.createElement('p');
        backToTop.innerHTML = '<a href="#top" class="scroll">Back to top</a>';
        document.getElementById('default_bottom_wrap').appendChild(backToTop);
    });
</script>

<div class="catalog-category-view catalog-wide blackfriday">
    <h2>Black Friday 2018 Deals</h2>
    <dl id="collateral-tabs" class="collateral-tabs">
        <dt class="tab monday19"><span>Monday 19<sup>th</sup></span></dt>
        <dd class="tab-container monday19" id="monday19header">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('bf-2018-mon19')->toHtml(); ?>
        </dd>

        <dt class="tab tuesday20"><span>Tuesday 20<sup>th</sup></span></dt>
        <dd class="tab-container tuesday20" id="tuesday20header">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('bf-2018-tue20')->toHtml(); ?>
        </dd>

        <dt class="tab wednesday21"><span>Wednesday 21<sup>st</sup></span></dt>
        <dd class="tab-container wednesday21" id="wednesday21header">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('bf-2018-wed21')->toHtml(); ?>
        </dd>

        <dt class="tab thursday22"><span>Thursday 22<sup>nd</sup></span></dt>
        <dd class="tab-container thursday22" id="thursday22header">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('bf-2018-thu22')->toHtml(); ?>
        </dd>

        <dt class="tab friday23"><span>Friday 23<sup>rd</sup></span></dt>
        <dd class="tab-container friday23" id="friday23header">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('bf-2018-fri23')->toHtml(); ?>
        </dd>

        <dt class="tab saturday24"><span>Saturday 24<sup>th</sup></span></dt>
        <dd class="tab-container saturday24" id="saturday24header">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('bf-2018-sat24-mon26')->toHtml(); ?>
        </dd>

        <dt class="tab sunday25"><span>Sunday 25<sup>th</sup></span></dt>
        <dd class="tab-container sunday25" id="sunday25header">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('bf-2018-sat24-mon26')->toHtml(); ?>
        </dd>

        <dt class="tab monday26"><span>Monday 26<sup>th</sup></span></dt>
        <dd class="tab-container monday26" id="monday26header">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('bf-2018-sat24-mon26')->toHtml(); ?>
        </dd>
    </dl>

    <script type="text/javascript">
        //<![CDATA[
        <?php
        $dateArray = array(
            19 => 'monday19',
            20 => 'tuesday20',
            21 => 'wednesday21',
            22 => 'thursday22',
            23 => 'friday23',
            24 => 'saturday24',
            25 => 'sunday25',
            26 => 'monday26'
        );

        $currentDate = (int)Mage::getModel('core/date')->date('d');
        //$currentDate += 7; // for testing only!!
        $currentTab = $dateArray[$currentDate];
        ?>

        jQuery('dt.tab.<?php echo $currentTab; ?>').addClass('current');

        <?php
        $prevDate = $currentDate;
        $prevDate--;
        for(; $prevDate >= min(array_keys($dateArray)); $prevDate--)
        {
            $prevTab = $dateArray[$prevDate];
            ?>
            jQuery('dt.tab.<?php echo $prevTab; ?>').addClass('prev_sale');
            jQuery('dd.tab-container.<?php echo $prevTab; ?>').addClass('disabled-links');
            <?php
        }

        if($currentDate < 23)
        {
            $futureDate = $currentDate;
            $futureDate++;

            for(; $futureDate < 24; $futureDate++)
            {
                $prevTab = $dateArray[$futureDate];
                ?>
                jQuery('dt.tab.<?php echo $prevTab; ?>').addClass('prev_sale');
                jQuery('dd.tab-container.<?php echo $prevTab; ?>').addClass('disabled-links');
                <?php
            }
        }
        ?>

        jQuery('.disabled-links a').each(function() { this.href = "#"; });

        let collateralTabs = new Enterprise.Tabs('collateral-tabs');
        Event.observe(window, 'load', function() {
            collateralTabs.select();
        });
        //]]>
    </script>
</div>