<?php
/** @var GoMage_Navigation_Block_Catalog_Product_List $this */;

$skuString = $this->getData('skus');
$skuList = array_map('trim', explode(',', $skuString)); //Trim each result from the explode

/** @var Mage_Catalog_Model_Resource_Product_Collection $productCollection */
$_productCollection = Mage::getModel('catalog/product')->getCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('sku', array('in' => $skuList))
    ->load();

$_helper = Mage::helper('catalog/output');
?>

<section id="main_content">
    <section class="container">
        <?php if(!$_productCollection->count()): ?>
            <p class="note-msg"><?php echo $_helper->__('There are no products matching the selection.') ?></p>
        <?php else: ?>

            <div class="category-products">
                <?php $_iterator = 0; ?>
                <ol class="products-list" id="products-list">
                    <?php /** @var Mage_Catalog_Model_Product $_product */ ?>
                    <?php foreach ($_productCollection as $_product): ?>
                        <li class="group_list item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
                            <?php if ($_product->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_GROUPED) : ?>
                                <div class="product-shop">
                                    <div class="left_cont <?php if ((Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Complete Uppers') || (Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Barrels') || (Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Quad Rails')) : ?>adjust_left_container<?php endif; ?>">
                                        <?php if ((Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Complete Uppers') || (Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Barrels') || (Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Quad Rails')) : ?>
                                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_helper->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(435, 300); ?>" width="335" height="200" alt="<?php echo $_helper->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                                        <?php else : ?>
                                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_helper->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(435, 300); ?>" width="335" height="200" alt="<?php echo $_helper->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                                        <?php endif; ?>

                                        <?php if ($_compareUrl = htmlspecialchars($this->getAddToCompareUrl($_product))): ?>
                                            <ul>
                                                <?php /** @var BinaryAnvil_Customcompare_Helper_Data $_customCompareHelper */ ?>
                                                <?php $_customCompareHelper = Mage::helper('binaryanvil_customcompare'); ?>
                                                <?php if ($_customCompareHelper->isEnabled()): ?>
                                                    <?php /** @var BinaryAnvil_Customcompare_Helper_Product_Compare $_comparehelper */ ?>
                                                    <?php $_comparehelper = Mage::helper('catalog/product_compare'); ?>
                                                    <?php $removeUrl = $_comparehelper->getRemoveUrl($_product); ?>
                                                    <?php $cmprItemImageUrl = Mage::helper('catalog/image')->init($_product, 'small_image')->resize(135, 102) ?>

                                                    <?php $_productNameStripped = $_helper->stripTags($_product->getName(), null, true); ?>
                                                    <?php $cmpImagePH = $this->getSkinUrl() . "images/page/compare-list-1.png"; ?>
                                                    <?php if (!$_comparehelper->checkCompareProduct($_product->getId())): ?>
                                                        <li id="cmp_item_<?php echo $_product->getId() ?>" class="add-to-links"><a href="<?php echo $_compareUrl ?>" class="link-compare" onclick="compare.addItem(this, '<?php echo $removeUrl ?>', '<?php echo $cmpImagePH ?>', '<?php echo $cmprItemImageUrl ?>', '<?php echo $_product->getProductUrl() ?>'); return false;"><?php echo $_helper->__('+ Compare') ?></a></li>
                                                    <?php else: ?>
                                                        <li id="cmp_item_<?php echo $_product->getId() ?>" class="add-to-links <?php if ($_comparehelper->checkCompareProduct($_product->getId())): ?>compared<?php endif; ?>">
                                                            <a href="<?php echo $removeUrl ?>" title="Remove this Item" rel="<?php echo $_product->getProductUrl() ?>" alt="<?php echo $_productNameStripped; ?>" onclick="compare.removeItem(this, '<?php echo $_compareUrl ?>', '<?php echo $cmpImagePH ?>', '<?php echo $cmprItemImageUrl ?>'); return false;" class="link-compare"><?php echo $_helper->__('- Remove') ?></a>
                                                        </li>
                                                    <?php endif; // if (!$_comparehelper->checkCompareProduct($_product->getId())):?>
                                                <?php else: ?>
                                                    <li class="add-to-links"><a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $_helper->__('+ Compare') ?></a></li>
                                                <?php endif; //if ($_customCompareHelper->isEnabled()): ?>
                                            </ul>
                                        <?php endif; //$_compareUrl ?>
                                        <!--end - customcompare code-->
                                    </div><!--left_cont-->

                                    <div class="right_cont <?php if ((Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Complete Uppers') || (Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Barrels') || (Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Quad Rails')) : ?>adjust_right_container<?php endif; ?>">
                                        <?php $_productNameStripped = $_helper->stripTags($_product->getName(), null, true); ?>
                                        <h2 class="product-name">
                                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
                                        </h2>

                                        <?php  if ($_product->getShortDescription()):?>
                                            <div class="grouped_specs">
                                                <?php echo $_product->getShortDescription() ?>
                                            </div><!--grouped_specs-->
                                        <?php endif; ?>

                                        <div class="specs_top">
                                            <ul>
                                                <li>
                                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                                    <a class="more-info" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>">More Info</a>
                                                </li>
                                                <?php if($_product->getRatingSummary()): ?>
                                                    <li><?php echo $this->getReviewsSummaryHtml($_product) ?></li>
                                                <?php endif; ?>
                                                <li>
                                                    <?php if($_product->isSaleable()): ?>

                                                    <?php else: ?>
                                                        <?php $attributeSetName = Mage::getModel('eav/entity_attribute_set')->load($_product->getAttributeSetId())->getAttributeSetName(); ?>
                                                        <?php if ($attributeSetName == "Apparel"): ?>
                                                            <p class="availability out-of-stock"><span><?php echo $_helper->__('Out of Stock') ?></span></p>
                                                        <?php else: ?>
                                                            <p class="availability out-of-stock"><span><?php echo $_helper->__('Backordered') ?></span></p>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                </li>
                                            </ul>
                                        </div><!--specs_top-->
                                    </div><!--right_cont-->
                                </div><!--product-shop-->
                            <?php else : ?>
                                <?php if (Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Complete Rifles' || Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Battlefield Series' || Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Combat Billet Series' || Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Pro Series' || Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Battlefield Series Uppers' || Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Complete Uppers' || Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Combat Billet Series Uppers' || Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Pro Series Uppers' || Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'SP10 .308 Series') : ?>
                                    <div class="product-shop rifle_detail">
                                        <div class="rifle_detail_top">
                                            <?php $attributeSetName = Mage::getModel('eav/entity_attribute_set')->load($_product->getAttributeSetId())->getAttributeSetName(); ?>
                                            <?php $_productNameStripped = $_helper->stripTags($_product->getName(), null, true); ?>
                                            <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>

                                            <ul class="rifle_compare">
                                                <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                    <?php $_customCompareHelper = Mage::helper('binaryanvil_customcompare'); ?>
                                                    <?php if ($_customCompareHelper->isEnabled()): ?>
                                                        <?php $_comparehelper = Mage::helper('catalog/product_compare'); ?>
                                                        <?php $removeUrl = $_comparehelper->getRemoveUrl($_product); ?>
                                                        <?php $cmprItemImageUrl = $this->helper('catalog/image')->init($_product, 'small_image')->resize(135, 102) ?>
                                                        <?php $_productNameStripped = $_helper->stripTags($_product->getName(), null, true); ?>
                                                        <?php $cmpImagePH = $this->getSkinUrl() . "images/page/compare-list-1.png"; ?>
                                                        <?php if (!$_comparehelper->checkCompareProduct($_product->getId())): ?>
                                                            <li id="cmp_item_<?php echo $_product->getId() ?>" class="add-to-links">
                                                                <a href="<?php echo htmlentities($_compareUrl, ENT_QUOTES | ENT_HTML5, 'UTF-8') ?>" class="link-compare"
                                                                    onclick="compare.addItem(this, '<?php echo $removeUrl ?>', '<?php echo $cmpImagePH ?>', '<?php echo $cmprItemImageUrl ?>', '<?php echo $_product->getProductUrl() ?>');
                                                                        return false;">
                                                                    <?php echo $_helper->__('+ Compare') ?>
                                                                </a>
                                                            </li>
                                                        <?php else: ?>
                                                            <li id="cmp_item_<?php echo $_product->getId() ?>"
                                                                class="add-to-links <?php if ($_comparehelper->checkCompareProduct($_product->getId())): ?>compared<?php endif; ?>">
                                                                <a href="<?php echo $removeUrl ?>" title="Remove this Item"
                                                                    rel="<?php echo $_product->getProductUrl() ?>"
                                                                    alt="<?php echo $_productNameStripped; ?>"
                                                                    onclick="compare.removeItem(this, '<?php echo $_compareUrl ?>', '<?php echo $cmpImagePH ?>', '<?php echo $cmprItemImageUrl ?>');
                                                                        return false;"
                                                                    class="link-compare"><?php echo $_helper->__('- Remove') ?></a>
                                                            </li>
                                                        <?php endif; // if (!$_comparehelper->checkCompareProduct($_product->getId())):?>
                                                    <?php else: ?>
                                                        <li class="add-to-links"><a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $_helper->__('+ Compare') ?></a></li>
                                                    <?php endif; //if ($_customCompareHelper->isEnabled()): ?>
                                                <?php endif; //$_compareUrl ?>
                                                <!--end - customcompare code-->
                                            </ul>
                                        </div><!--rifle_detail_top-->

                                        <div class="product_detail">
                                            <div class="rifles_view">
                                                <div class="specs_top">
                                                    <ul>
                                                        <?php if($_product->getSpRifleCompleteName()):?>
                                                            <li class="complete_rifle_name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_product->getResource()->getAttribute('sp_rifle_complete_name')->getFrontend()->getValue($_product); ?>"><?php echo $_product->getResource()->getAttribute('sp_rifle_complete_name')->getFrontend()->getValue($_product); ?></a></li>
                                                        <?php endif; ?>
                                                        <li><?php echo $this->getPriceHtml($_product, true) ?></li>
                                                        <?php if($_product->getRatingSummary()): ?>
                                                            <li><?php echo $this->getReviewsSummaryHtml($_product) ?></li>
                                                        <?php endif; ?>
                                                        <?php if(!$_product->isSaleable()): ?>
                                                            <li>
                                                                <?php $attributeSetName = Mage::getModel('eav/entity_attribute_set')->load($_product->getAttributeSetId())->getAttributeSetName(); ?>
                                                                <?php if ($attributeSetName == "Apparel"): ?>
                                                                    <p class="availability out-of-stock"><span><?php echo $_helper->__('Out of Stock') ?></span></p>
                                                                <?php else: ?>
                                                                    <p class="availability out-of-stock"><span><?php echo $_helper->__('Backordered') ?></span></p>
                                                                <?php endif; ?>
                                                            </li>
                                                        <?php endif; ?>
                                                    </ul>
                                                </div><!--specs_top-->

                                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_helper->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(820, 260); ?>" width="820" height="260" alt="<?php echo $_helper->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                                            </div><!--rifles_view-->

                                            <?php if ($attributeSetName == 'Complete Rifles') : ?>
                                                <div class="rifle_detail_bottom">
                                                    <?php if($_product->getSpRifleOverallLength() || $_product->getSpRifleBarrelLength2() || $_product->getSpRifleRailLength() || $_product->getWeight()) : ?>
                                                        <div class="specs_right">
                                                            <ul>
                                                                <?php if($_product->getSpRifleOverallLength()):?>
                                                                    <li><span>Overall Length</span>
                                                                        <?php echo $_product->getResource()->getAttribute('sp_rifle_overall_length')->getFrontend()->getValue($_product); ?>
                                                                    </li>
                                                                <?php endif; ?>

                                                                <?php if($_product->getSpRifleBarrelLength2()):?>
                                                                    <li><span>Barrel Length</span>
                                                                        <?php echo $_product->getResource()->getAttribute('sp_rifle_barrel_length2')->getFrontend()->getValue($_product); ?>
                                                                    </li>
                                                                <?php endif; ?>

                                                                <?php if($_product->getSpRifleRailLength()):?>
                                                                    <li><span>Handguard Length</span>
                                                                        <?php echo $_product->getResource()->getAttribute('sp_rifle_rail_length')->getFrontend()->getValue($_product); ?>
                                                                    </li>
                                                                <?php endif; ?>

                                                                <?php if($_product->getWeight()):?>
                                                                    <li class="last"><span>Weight</span>
                                                                        <script type="text/javascript">
                                                                            //<![CDATA[
                                                                            jQuery(function($){
                                                                                $(document).ready(function(){
                                                                                    var amount = <?php echo $_product->getResource()->getAttribute('weight')->getFrontend()->getValue($_product); ?>;
                                                                                    $('.weight_value-<?php echo $_product->getId(); ?>').text(amount.toFixed(2));
                                                                                });
                                                                            });
                                                                            //]]>
                                                                        </script>

                                                                        <p class="weight_value-<?php echo $_product->getId(); ?>"></p>
                                                                    </li>
                                                                <?php endif; ?>
                                                            </ul>
                                                        </div><!--specs_right-->
                                                    <?php endif; ?>

                                                    <div class="rifle_more_info">
                                                        <a class="more-info" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>">More Info</a>
                                                    </div><!--rifle_more_info-->
                                                </div><!--rifle_detail_bottom-->
                                            <?php endif; ?>
                                        </div><!--product_detail-->
                                    </div><!--product-shop-->
                                <?php else : ?>

                                    <div class="product-shop default_layout">
                                        <div class="left_cont <?php if ((Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Complete Uppers') || (Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Barrels') || (Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Quad Rails')) : ?>adjust_left_container<?php endif; ?>">
                                            <?php if ((Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Barrels') || (Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Quad Rails')) : ?>
                                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_helper->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(385, 250); ?>" width="385" height="250" alt="<?php echo $_helper->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                                            <?php else : ?>
                                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_helper->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(385, 250); ?>" width="385" height="250" alt="<?php echo $_helper->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                                            <?php endif; ?>

                                            <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                                <ul>
                                                    <?php $_customCompareHelper = Mage::helper('binaryanvil_customcompare'); ?>
                                                    <?php if ($_customCompareHelper->isEnabled()): ?>
                                                        <?php $_comparehelper = Mage::helper('catalog/product_compare'); ?>
                                                        <?php $removeUrl = $_comparehelper->getRemoveUrl($_product); ?>
                                                        <?php $cmprItemImageUrl = $this->helper('catalog/image')->init($_product, 'small_image')->resize(135, 102) ?>
                                                        <?php $_productNameStripped = $_helper->stripTags($_product->getName(), null, true); ?>
                                                        <?php $cmpImagePH = $this->getSkinUrl() . "images/page/compare-list-1.png"; ?>
                                                        <?php if (!$_comparehelper->checkCompareProduct($_product->getId())): ?>
                                                            <li id="cmp_item_<?php echo $_product->getId() ?>" class="add-to-links"><a href="<?php echo htmlentities($_compareUrl, ENT_QUOTES | ENT_HTML5, 'UTF-8') ?>" class="link-compare" onclick="compare.addItem(this, '<?php echo $removeUrl ?>', '<?php echo $cmpImagePH ?>', '<?php echo $cmprItemImageUrl ?>', '<?php echo $_product->getProductUrl() ?>'); return false;"><?php echo $_helper->__('+ Compare') ?></a></li>
                                                        <?php else: ?>
                                                            <li id="cmp_item_<?php echo $_product->getId() ?>" class="add-to-links <?php if ($_comparehelper->checkCompareProduct($_product->getId())): ?>compared<?php endif; ?>"><a href="<?php echo $removeUrl ?>" title="Remove this Item" rel="<?php echo $_product->getProductUrl() ?>" alt="<?php echo $_productNameStripped; ?>" onclick="compare.removeItem(this, '<?php echo htmlentities($_compareUrl, ENT_QUOTES | ENT_HTML5, 'UTF-8') ?>', '<?php echo $cmpImagePH ?>', '<?php echo $cmprItemImageUrl ?>'); return false;" class="link-compare"><?php echo $_helper->__('- Remove') ?></a></li>
                                                        <?php endif; // if (!$_comparehelper->checkCompareProduct($_product->getId())):?>
                                                    <?php else: ?>
                                                        <li class="add-to-links"><a href="<?php echo htmlentities($_compareUrl, ENT_QUOTES | ENT_HTML5, 'UTF-8') ?>" class="link-compare"><?php echo $_helper->__('+ Compare') ?></a></li>
                                                    <?php endif; //if ($_customCompareHelper->isEnabled()): ?>
                                                </ul>
                                            <?php endif; //$_compareUrl ?>
                                            <!--end - customcompare code-->
                                        </div><!--left_cont-->

                                        <div class="right_cont <?php if ((Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Complete Uppers') || (Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Barrels') || (Mage::registry('current_category') && Mage::registry('current_category')->getName() == 'Quad Rails')) : ?>adjust_right_container<?php endif; ?>">
                                            <?php $_productNameStripped = $_helper->stripTags($_product->getName(), null, true); ?>
                                            <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>

                                            <?php  if ($_product->getShortDescription()):?>
                                                <div class="grouped_specs">
                                                    <?php echo $_product->getShortDescription() ?>
                                                </div><!--grouped_specs-->
                                            <?php endif; ?>

                                            <div class="specs_top">
                                                <ul>
                                                    <li>
                                                        <?php echo $this->getPriceHtml($_product, true) ?>
                                                        <a class="more-info" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>">More Info</a>
                                                    </li>
                                                    <?php if($_product->getRatingSummary()): ?>
                                                        <li><?php echo $this->getReviewsSummaryHtml($_product) ?></li>
                                                    <?php endif; ?>
                                                    <li>
                                                        <?php if($_product->isSaleable()): ?>

                                                        <?php else: ?>
                                                            <?php $attributeSetName = Mage::getModel('eav/entity_attribute_set')->load($_product->getAttributeSetId())->getAttributeSetName(); ?>
                                                            <?php if ($attributeSetName == "Apparel"): ?>
                                                                <p class="availability out-of-stock"><span><?php echo $_helper->__('Out of Stock') ?></span></p>
                                                            <?php else: ?>
                                                                <p class="availability out-of-stock"><span><?php echo $_helper->__('Backordered') ?></span></p>
                                                            <?php endif; ?>
                                                        <?php endif; ?>
                                                    </li>
                                                </ul>
                                            </div><!--specs_top-->
                                        </div><!--right_cont-->
                                    </div><!--product-shop-->
                                <?php endif; ?>
                            <?php endif; ?>
                        </li>
                    <?php endforeach; ?>
                </ol>
                <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
            </div><!--category-products-->
        <?php endif; ?>
    </section><!--container-->
</section><!--main_content-->
