<?php
/** @var GoMage_Navigation_Block_Catalog_Product_List $this */;

$skuString = $this->getData('skus');
$skuList = array_map('trim', explode(',', $skuString)); //Trim each result from the explode

/** @var Mage_Catalog_Model_Resource_Product_Collection $productCollection */
$_productCollection = Mage::getModel('catalog/product')->getCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('sku', array('in' => $skuList))
    ->load();

$_helper = Mage::helper('catalog/output');
?>

<section id="main_content">
    <section class="container">
        <?php if(!$_productCollection->count()): ?>
            <p class="note-msg"><?php echo $_helper->__('There are no products matching the selection.') ?></p>
        <?php else: ?>
            <div class="category-products blackfriday-products">
                <?php if($this->getMode()!='grid'): ?>
                    <?php $_iterator = 0; ?>
                    <ol class="products-list" id="products-list">
                        <?php foreach ($_productCollection as $_product): ?>
                            <?php $_iterator++; ?>
                            <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                            <li class="bf-item <?php echo ($_iterator%2 ? "odd" : "even"); ?>">

                                <a class="blackfriday-product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(180, 120); ?>" width="180" height="120" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>

                                <h2><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>

                                <?php echo $this->getPriceHtml($_product, true) ?>

                                <p>
                                    <?php /*<a class="button-details" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>">Details</a>*/ ?>

                                    <?php if($_product->isSaleable()): ?>

                                    <?php else: ?>
                                        <span class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></span>
                                    <?php endif; ?>
                                </p>

                            </li>
                        <?php endforeach; ?>
                    </ol>
                    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
                <?php endif; ?>
            </div><!--category-products-->
        <?php endif; ?>
    </section>
</section>
