/* Top Shopping Cart */
.top-cart { float:right; /* width:360px; */ position:relative; padding-left:7px; }
.top-cart .block-title { white-space:nowrap; /* _width:242px; min-width:242px; */ cursor:pointer;  color:#1e75b4; font-weight:bold; font-size:11px; /*text-transform:uppercase;*/ padding:0 0 0 18px; line-height:18px; height:18px; }
.top-cart .block-title strong { display:block; padding-right:10px; background:url(../images/bkg_header-panel.gif) 100% -71px no-repeat; font-size:11px; color:#1e75b4; font-weight:bold; text-decoration:none; }
.top-cart .block-title.expanded { background-position:0 3px !important; }
.top-cart .block-title.expanded strong { background-position:100% -126px !important; color:#d33911; }
/* .top-cart .no-items { cursor:default; }
.top-cart .no-items h3 { background:none; } */
.top-cart .block-content { position:absolute; right:0; top:20px; width:267px; background:#fdfdfd; }
.top-cart .inner-wrapper { border:1px solid #c1c1c1; }

.top-cart .block-content .block-subtitle { font-size:10px; color:#d12c01; font-weight:bold; text-transform:uppercase; background:url(../images/bkg_header-panel.gif) repeat-x 0 -8px; line-height:12px; padding:3px 10px 4px; }
.top-cart .block-content .block-subtitle .close-btn { float:right; width:13px; height:0; padding-top:12px; text-align:left; overflow:hidden; cursor:pointer; background:url(../images/bkg_close.gif) no-repeat 0 0; position:relative; z-index:1; }
.top-cart .cart-empty .close-btn { float:right; width:13px; height:0; padding-top:12px; text-align:left; overflow:hidden; cursor:pointer; background:url(../images/bkg_close.gif) no-repeat 0 0; position:relative; z-index:1; }
.top-cart .cart-empty { padding:10px 10px 10px 20px; }
.top-cart .block-content ol { padding-bottom:7px; }
.top-cart .block-content .item { padding:8px 5px 8px 11px; }
.top-cart .block-content .item .product-name { font-size:11px; line-height:14px; }
.top-cart .block-content .item .product-name a { font-size:11px; text-decoration:none; color:#444; }
.top-cart .block-content table { margin:5px 0 0 0; }
.top-cart .block-content table th { padding:1px 8px; color:#8f8f8f; text-align:right; }
.top-cart .block-content table td { text-align:left; padding:1px 0; }
.top-cart .block-content .subtotal { background:#fff url(../images/bkg_dots.gif) repeat-x 0 0; padding:2px 5px; text-align:center; }

.top-cart .actions { background:#e3e3e3 url(../images/bkg_dots.gif) repeat-x 0 -1px; text-align:center; padding:5px 11px; text-align:right; }
.top-cart .actions a { float:left; line-height:23px; }
.top-cart .actions button { float:none; }
.top-cart .actions button.button span,
.top-cart .actions button.button span span { background-image:url(../images/bkg_btn-onbg.gif); background-repeat:no-repeat; }
.top-cart .paypal-logo a { float:right; }
.top-cart .paypal-logo .paypal-or { clear:both; display:block; margin: 5px 33px 5px 0px; }


#ba_quickcartcontent .page-title h1{ float: left}
#ba_quickcartcontent span.note{ float: left}
#ba_quickcartcontent p.subtotal{float:right;}
#BA_QC a{text-decoration:none;}
#BA_QC .qc_disabled{cursor:auto;}
