<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $post = $this->getPost() ?>
<div class="post-list-item">

	<?php echo $this->getBeforePostContentHtml() ?>
	<div class="post-entry entry<?php if ($post->getFeaturedImage): ?> post-entry-with-image<?php endif; ?>">
		<?php if ($post->isViewableForVisitor()): ?>
			<?php if ($featuredImage = $post->getFeaturedImage()): ?>
                <div class="featured-image left">
					<a class="blog-title" href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"><img src="<?php echo $featuredImage->getFullSizeImage() ?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/></a>
                </div>
			<?php endif; ?>
			<?php if ($this->displayExcerptInFeed() || $post->hasMoreTag()): ?>
                <div class="content-first">
                    <?php if ($featuredImage = $post->getFeaturedImage()): ?>
                        <?php echo $this->getMetaBlock()->setPost($post)->toHtml() ?>
                    <?php else : ?>
                        <div class="post-kind3"><?php echo $this->getMetaBlock()->setPost($post)->toHtml() ?></div>
                    <?php endif; ?>
                  <div class="text-holder">
                    <h2><a class="blog-title" href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"><?php echo $this->escapeHtml($post->getPostTitle()) ?></a></h2>
                    <div class="post-date"><h3><?php echo $this->escapeHtml($post->getPostDate()) ?></h3></div>
                    <div class="the-content">
                       <?php echo $post->getPostExcerpt() ?>
                    </div><!--the-content-->
                  </div><!--text-holder-->
                </div><!--non-featured-image-->
			<?php else: ?>
                <div class="content-second">
                    <?php if ($featuredImage = $post->getFeaturedImage()): ?>
                        <?php echo $this->getMetaBlock()->setPost($post)->toHtml() ?>
                    <?php else : ?>
                        <div class="post-kind2"><?php echo $this->getMetaBlock()->setPost($post)->toHtml() ?></div>
                    <?php endif; ?>
                 <div class="text-holder">
                    <h2><a class="blog-title" href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"><?php echo $this->escapeHtml($post->getPostTitle()) ?></a></h2>
                    <div class="post-date"><h3><?php echo $this->escapeHtml($post->getPostDate()) ?></h3></div>
                    <div class="the-content">
                    <?php echo $post->getPostContent() ?>
                    </div><!--the-content-->
                 </div><!--text-holder-->
                </div><!--content-->
			<?php endif; ?>
		<?php else: ?>
            <div class="content">
                <?php if ($featuredImage = $post->getFeaturedImage()): ?>
                    <?php echo $this->getMetaBlock()->setPost($post)->toHtml() ?>
                <?php else : ?>
                    <div class="post-kind3"><?php echo $this->getMetaBlock()->setPost($post)->toHtml() ?></div>
                <?php endif; ?>
              <div class="text-holder">
                <h2><a class="blog-title" href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"><?php echo $this->escapeHtml($post->getPostTitle()) ?></a></h2>
                <div class="post-date"><h3><?php echo $this->escapeHtml($post->getPostDate()) ?></h3></div>
                <div class="the-content">
                    <?php echo $this->getPasswordProtectHtml($post) ?>
                </div><!--the-content-->
              </div><!--text-holder-->
            </div><!--content-->
		<?php endif; ?>
	</div>
    <div class="bottom-links left">
        <a class="read"  onclick="window.open(this.href); return false;"   href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>">READ MORE</a>
    </div><!--bottom-links-->

<div class="home-page-bttm-links">

        <!-- AddThis Button BEGIN -->
        <a class="addthis_button share-this" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=ra-50c7ef0c7c0dd7a3" addthis:url="<?php echo $post->getPermalink() ?>" addthis:title="<?php echo $post->getPostTitle() ?>" addthisescription="<?php echo $post->getPostTitle() ?>">Share</a>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50c7ef0c7c0dd7a3"></script>
        <!-- AddThis Button END -->
    <div class="content-bottom" ><?php echo $this->getAfterPostContentHtml() ?></div>
</div>

</div>