<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 7/29/14
 * Time: 10:20 AM
  *
 */
?>
<?php $by = $this->getQueryBy(); ?>

<form id="search_mini_form" action="<?php echo $this->getResultUrl() ?>" method="get">
    <div class="form-search">
        <label for="search_part"><?php echo $this->__('Search by') ?></label>
        <div class="select">
            <select name="<?php echo $this->getSearchByParamName() ?>">
                <option value="holder_name"<?php echo $by=='holder_name'?' selected="selected"':'' ?> ><?php echo $this->escapeHtml("FFL Holder Name");?></option>
                <option value="ffl_number"<?php echo $by=='ffl_number'?' selected="selected"':'' ?> ><?php echo $this->escapeHtml("FFL Number");?></option>
            </select>
        </div><!--select_wrap-->
        <input id="search" type="text" name="<?php echo $this->getQueryParamName() ?>" value="<?php echo $this->getEscapedQueryText() ?>" class="input-text" />
        <button type="submit" title="<?php echo $this->__('Search') ?>" class="button"><span><span><?php echo $this->__('Search') ?></span></span></button>
        <div id="search_autocomplete" class="search-autocomplete"></div>
        <script type="text/javascript">
            //<![CDATA[
            var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo $this->__('Search FFL here...') ?>');
            /*searchForm.initAutocomplete('<?php //echo $catalogSearchHelper->getSuggestUrl() ?>', 'search_autocomplete');*/
            //]]>
        </script>
    </div>
</form>