<?php
 /**
 * GoMage Advanced Navigation Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2016 GoMage (https://www.gomage.com)
 * @author       GoMage
 * @license      https://www.gomage.com/license-agreement/  Single domain license
 * @terms of use https://www.gomage.com/terms-of-use
 * @version      Release: 4.9.1
 * @since        Class available since Release 1.0
 */
?>
<div class="no-display" id="<?php echo $this->getHtmlId() ?>">
    <div id="{{id}}-container" class="file-row">
        <span class="file-info">{{name}} {{size}}</span>
        <span class="delete-button"><button  id="{{id}}" title="Remove" type="button" class="scalable delete" onclick="" style=""><span><span><span><?php echo $this->__('Remove') ?></span></span></span></button></span>
        <span class="progress-text"></span>
        <div class="clear"></div>
    </div>
</div>

<div>
<ul class="messages">
    <li class="notice-msg">
        <ul>
            <li><?php echo Mage::helper('catalog')->__('If you do not specify an option value for a specific store view then the default (Admin) value will be used.') ?></li>
        </ul>
    </li>
</ul>
</div>

<div class="entity-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('catalog')->__('Manage Titles (Size, Color, etc.)') ?></h4>
    </div>
    <div class="box">
            <div class="hor-scroll">
            <table class="dynamic-grid" cellspacing="0" id="attribute-labels-table">
                <tr>
                <?php foreach ($this->getStores() as $_store): ?>
                    <th><?php echo $_store->getName() ?></th>
                <?php endforeach; ?>
                </tr>
                <tr>
                    <?php $_labels = $this->getLabelValues() ?>
                    <?php foreach ($this->getStores() as $_store): ?>
                    <td>
                        <input class="input-text<?php if($_store->getId()==0): ?> required-option<?php endif; ?>" type="text" name="frontend_label[<?php echo $_store->getId() ?>]" value="<?php echo $this->htmlEscape($_labels[$_store->getId()]) ?>"<?php if ($this->getReadOnly()):?> disabled="disabled"<?php endif;?>/>
                    </td>
                    <?php endforeach; ?>
                </tr>
            </table>
            </div>
    </div>
</div>
<br/>
<div class="entity-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('catalog')->__('Manage Help Icon text') ?></h4>
    </div>
    <div class="box">
            <div class="hor-scroll">
            <table class="dynamic-grid" cellspacing="0" id="attribute-labels-popup-text-table">
                <tr>
	                <?php foreach ($this->getStores() as $_store): ?>
	                	<?php if ($_store->getId() == 0) continue; ?>
	                    <th><?php echo $_store->getName() ?></th>
	                <?php endforeach; ?>
                </tr>
                <tr>
                    <?php $_labels = $this->getPopupTextValues(); ?>
                    <?php foreach ($this->getStores() as $_store): ?>
	                    <?php if ($_store->getId() == 0) continue; ?>
	                    <td>                        
	                        <textarea <?php if ($this->getReadOnly()):?> disabled="disabled"<?php endif;?> class="textarea" cols="15" rows="2" name="popup_text[<?php echo $_store->getId() ?>]"><?php echo $this->htmlEscape($_labels[$_store->getId()]) ?></textarea>
	                    </td>
                    <?php endforeach; ?>
                </tr>
            </table>
            </div>
    </div>
</div>
<br/>
<div class="entity-edit" id="matage-options-panel">
    <div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('catalog')->__('Manage Options (values of your attribute)') ?></h4>
    </div>
    <div class="box">
        <div class="hor-scroll">
            <table class="dynamic-grid" cellspacing="0"  cellpadding="0">
                <tr id="attribute-options-table">
                    <?php foreach ($this->getStores() as $_store): ?>
                        <th><?php echo $_store->getName() ?></th>
                    <?php endforeach; ?>
    					<th><?php echo $this->__('Image')?></th>
    					<th><?php echo Mage::helper('gomage_navigation')->__('Remove Image') ?></th>
                        <th><?php echo Mage::helper('catalog')->__('Position') ?></th>
                        <th class="nobr a-center"><?php echo Mage::helper('catalog')->__('Is Default') ?></th>
                        <th>
                            <?php if (!$this->getReadOnly()):?>
                                <?php echo $this->getAddNewButtonHtml() ?>
                            <?php endif;?>
                        </th>
                    </tr>
                    <tr class="no-display template" id="row-template">
                        <?php foreach ($this->getStores() as $_store): ?>
                        <td><input name="option[value][{{id}}][<?php echo $_store->getId() ?>]" value="{{store<?php echo $_store->getId() ?>}}" class="input-text<?php if($_store->getId()==0): ?> required-option<?php endif; ?>" type="text" <?php if ($this->getReadOnly()):?> disabled="disabled"<?php endif;?>/></td>
                        <?php endforeach; ?>
                        <td class="a-center"> uploader here <!--<input class="input-text" type="text" name="option[url_key][{{id}}]" value="{{url_key}}" <?php if ($this->getReadOnly()):?> disabled="disabled"<?php endif;?>/>--></td>
                        <td class="a-center"><input class="input-text" type="text" name="option[order][{{id}}]" value="{{sort_order}}" <?php if ($this->getReadOnly()):?> disabled="disabled"<?php endif;?>/></td>
                        <td><input class="input-radio" type="radio" name="default[]" value="{{id}}" <?php if ($this->getReadOnly()):?> disabled="disabled"<?php endif;?>/></td>
                        <td class="a-left">
                            <input type="hidden" class="delete-flag" name="option[delete][{{id}}]" value="" />
                            <?php if (!$this->getReadOnly()):?>
                                <?php echo $this->getDeleteButtonHtml() ?>
                            <?php endif;?>
                        </td>
                    </tr>
            </table>
        </div>
        <input type="hidden" id="option-count-check" value="" />
    </div>
    <?php if (count($this->getOptionValues()) > $this->getShowOptions()): ?>
    	<div id="show_all_options_wrapper">
    		<?php echo $this->__('Options 1 to <span id="end">%s</span> of %s total', $this->getShowOptions(), count($this->getOptionValues())); ?>
    		<button onclick="ganShowAllOptions()" class="scalable add" type="button" title="<?php echo $this->__('Show All Options'); ?>" id="show_all_options"><span><span><span><?php echo $this->__('Show All Options'); ?></span></span></span></button>
    		<button onclick="ganShowNextOptions()" class="scalable add" type="button" title="<?php echo $this->__('Show Next 20 Options'); ?>" id="show_all_options"><span><span><span><?php echo $this->__('Show Next 20 Options'); ?></span></span></span></button>
    	</div>
    <?php endif; ?>
</div>

<?php echo $this->getUploader()->toHtml(); ?>

<script type="text/javascript">
//<![CDATA[

if($('row-template')){
    $('row-template').remove();
}
attributeOption.bindRemoveButtons();

if($('add_new_option_button')){
    Event.observe('add_new_option_button', 'click', attributeOption.add.bind(attributeOption));
}
Validation.addAllThese([
    ['required-option', '<?php echo Mage::helper('catalog')->__('Failed') ?>', function(v) {
        return !Validation.get('IsEmpty').test(v);
}]]);
Validation.addAllThese([
    ['required-options-count', '<?php echo Mage::helper('catalog')->__('Options is required') ?>', function(v) {
        return !Validation.get('IsEmpty').test(v);
}]]);
<?php $_i = 0; ?>
<?php foreach ($this->getOptionValues() as $_value): ?>
	<?php $_i++; ?>
    attributeOption.add(<?php echo $_value->toJson() ?>);    
    <?php if ($_i == $this->getShowOptions()) break; ?>
<?php endforeach; ?>

<?php if (count($this->getOptionValues()) > $this->getShowOptions()): ?>

 var current = 0;
 var options = [];
 var preoptions = [];
 var show_options = <?php echo $this->getShowOptions(); ?>;
 var total = <?php echo count($this->getOptionValues()); ?>;

 <?php $_i = 0; ?>
 <?php foreach ($this->getOptionValues() as $_value): ?>
     <?php $_i++; ?>
     
     <?php if ($_i <= $this->getShowOptions()) continue; ?>
     	preoptions.push(<?php echo $_value->toJson() ?>);	

     <?php
     $_j = 30;
     if ( $_i % 30 == 0 ):
		?>

		options.push(preoptions);
		preoptions = [];
		<?php
		$_j = 20;
     endif;
     ?>	          	     
 <?php endforeach; ?>
 options.push(preoptions);

<?php endif; ?>

function ganShowNextOptions(){
    var arr = options[current];
    var length = arr.length;
    element = null;

    for (var i = 0; i < length; i++) {
        attributeOption.add(arr[i]);
    }

    show_options += 20;

    if ( show_options > total )
    {
        show_options = total;
        $('show_all_options_wrapper').hide();
    }

    $('end').innerHTML = show_options;
    current++;
}

function ganShowAllOptions(){

    <?php $_i = 0; ?>
    <?php foreach ($this->getOptionValues() as $_value): ?>

    <?php
    if ( $_i <= $this->getShowOptions() ):
    ?>
        var data = <?php echo $_value->toJson() ?>;
        attributeOption.itemsUsed.push(data.id);
    <?php
    endif;
    ?>

    <?php $_i++; ?>
    <?php if ($_i <= $this->getShowOptions()) continue; ?>
    attributeOption.add(<?php echo $_value->toJson() ?>);

    <?php
    if ( $_i >= 2000 ):
       break;
    endif;
    ?>

    <?php endforeach; ?>
    $('show_all_options_wrapper').hide();
}

//]]>
</script>