@font-face {
	font-family: 'BoxedLight';
	src: url('BoxedLight.eot?') format('eot'), 
	     url('BoxedLight.otf')  format('opentype'),
	     url('BoxedLight.woff') format('woff'), 
	     url('BoxedLight.ttf')  format('truetype'),
	     url('BoxedLight.svg#BoxedLight') format('svg');
}

@font-face {
	font-family: 'BoxedMedium';
	src: url('BoxedMedium.eot?') format('eot'), 
	     url('BoxedMedium.otf')  format('opentype'),
	     url('BoxedMedium.woff') format('woff'), 
	     url('BoxedMedium.ttf')  format('truetype'),
	     url('BoxedMedium.svg#BoxedMedium') format('svg');
}

@font-face {
	font-family: 'BoxedRegular';
	src: url('BoxedRegular.eot?') format('eot'), 
	     url('BoxedRegular.otf')  format('opentype'),
	     url('BoxedRegular.woff') format('woff'), 
	     url('BoxedRegular.ttf')  format('truetype'),
	     url('BoxedRegular.svg#BoxedRegular') format('svg');
}

@font-face {
	font-family: 'BoxedRegular-Bold';
	src: url('BoxedRegular-Bold.eot?') format('eot'), 
	     url('BoxedRegular-Bold.otf')  format('opentype'),
	     url('BoxedRegular-Bold.woff') format('woff'), 
	     url('BoxedRegular-Bold.ttf')  format('truetype'),
	     url('BoxedRegular-Bold.svg#BoxedRegular-Bold') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'BoxedLight';
		src: url('BoxedLight.svg#BoxedLight') format('svg');
	}
	
	@font-face {
		font-family: 'BoxedMedium';
		src: url('BoxedMedium.svg#BoxedMedium') format('svg');
	}
	
	@font-face {
		font-family: 'BoxedRegular';
		src: url('BoxedRegular.svg#BoxedRegular') format('svg');
	}
	
	@font-face {
		font-family: 'BoxedRegular-Bold';
		src: url('BoxedRegular-Bold.svg#BoxedRegular-Bold') format('svg');
	}
}

