<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 7/18/14
 * Time: 9:19 AM
 */
?>
<?php $mediaCollection = $this->getMediaList() ?>
<?php if(count($mediaCollection)): ?>
    <ul>
    <?php foreach($mediaCollection as $media) :?>
        <li>
            <a href="<?php echo Mage::helper('binaryanvil_media')->getPath($media->getFileName()) ?>"><?php echo $media->getFileHumanName() ?></a>
            <a href="<?php echo Mage::helper('binaryanvil_media')->getPath($media->getFileName()) ?>">Download</a>
        </li>
    <?php endforeach; ?>
    </ul>
<?php else: ?>
    <p class="note-msg"><?php echo $this->__('There are no media downloads.') ?></p>
<?php endif; ?>