/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 Jan, 2015, 7:03:56 PM
    Author     : velocity-pc-1532
*/

.grid table td.last{
    text-align: center;
}
.success-msg{
    background-position: 10px 7px !important;
}

.messages li{
    margin-bottom: 4px !important;
    margin-top: 7px !important;
}

.grid table td.last button{
    margin-right:5px;
}

.middle{
    padding:0;
}

#vss_mp_page{
    display:block;
    width:100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.vss_mp_row{
    width:100%;
    display:block;
}

.vss_mp_row_wid_bpad{
    width:100%;
    display:block;
    padding-bottom: 10px;
}

.vss_mp_content{
    display:block;
    padding:10px;
}

.vss_mp_display_inline{
    display:inline-block;
}

.vss_mp_span1{width:150px;}
.vss_mp_span2{width:13%;}
.vss_mp_span3{width:300px;}
.vss_mp_span4{width:400px;}
.vss_mp_span5{width:500px;}
.vss_mp_span6{width:550px;}
.vss_mp_span7{width:700px;}
.vss_mp_span8{width:800px;}

.vss_mp_left{float:left;}
.vss_mp_right{float:right;}
.vss_txt-right{text-align:right}
.vss_txt-left{text-align:left}

.vss_mp_header{
    background-color: #496CAD;
    color: #fff;
    padding: 14px;
}

.heading4{
    font-size:18px;
}

.heading5{
    vertical-align: middle;
    font-size:15px;
}

.vss_spreaded_txt{
    text-shadow: 0 0 5px;
}

.bold_txt{
    font-weight:bold;
}

.blk_seperator{
    background-color:#333;
    height:3px;
    width:100%;
}

.inner_shaded_block{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.vss_base_page{
    border: #ccc 1px solid;
    /*    -moz-border-radius: 4px;
        -webkit-border-radius: 4px;*/
    height: 100%;    
    padding: 10px;
}

.vss_tab_title{
    display: block;
    padding-bottom: 7px;
    border-bottom: #a4a4a4 1px solid;
    font-size: 20px;    
}

.table{
    width:100%;
    background-color:transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td{
    padding: 8px;
    line-height: 1.42857143;
}

.table > tbody > tr > td:first-child{
    width:300px;
}

.table > tbody > tr > td:nth-child(2){
    width:auto;
}

.m-align{
    vertical-align: middle;
}

.vssmp-ryt{
    float:right;
}

.vssmp-lft{
    float:left;
}

.vssmp-txt-ryt{
    text-align:right;
}

.vssmp-txt-lft{
    text-align:left;
}

.vssmp-txt-cntr{
    text-align:center;
}

.border-bottom{
    border-bottom: #eee 1px solid;
}

.field_row{
    display:inline-block;
}

.field_lbl_block{
    display:block;
    text-align:right;
    padding-right:20px;
}

.field_lbl_block span{
    font-size:14px;
    color:#333;
}

.validation_error_msg{
    font-size: 11px;
    color: #ff0000;
    background: url("../images/element/error_small_sign.png") no-repeat left center;
    padding-left: 18px;
    height: 17px;
    display: block;
    padding-top: 2px;
}

.field_input_block{
    display:block;
    text-align:left;
}

.vss_mp_input{

}

.vss_tooltip{
    background: url("../images/element/tooltip-icon.png") no-repeat right center;
    display:inline-block;
    width:16px;
    height:16px;
    margin-right:2px;
    margin-bottom: -3px;
}

.inline-input-blocks{
    width:278px;
    margin-right:36px;
    display:inline-block;
    font-size:14px;
}

.global_checkbox{
    margin-left:36px;
}

.vss_category_block{

}

#vssmp-modal .loading128{
    background: url('../images/loader128.gif') no-repeat transparent;
    width:128px;
    height:128px;
    margin:0 auto;
}

.vssmp_grid_action180{width:180px;}

/* Start - Fancy Input Text */

.custom-input-field{
    /*    display: block;*/
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.input-width1{
    width:80px;
}

.input-width2{
    width:150px;
}

.input-width3{
    width:90%;
}
/* End - Fancy Input Text */

/* Start - Reason Pop up Box */
.vssmp-popup{display:none;}
#vssmp-modal{
    position: fixed;
    width: 400px;
    border: 1px solid #d6d6d6;
    background: #fafafa;
    top: 25%;
    left: 36%;
    z-index: 9999;
}

.vssmp-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #666;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0.6;    
}

#vssmp-modal .head{
    background: #6f8992;
    padding: 2px 10px;
    display:block;
}

#vssmp-modal .foot{
    padding: 2px 5px;
    display:block;
}

#vssmp-modal .head h4{
    padding: 0;
    background: none;
    margin: 0;
    color: #fff;
    font-size: 1em;
    line-height: 18px;
    min-height: 0;    
}

#vssmp-modal .content{
    display:block;
    padding:5px;
}

#vssmp-modal .content textarea{
    width: 98.5%;
    height: 100px;
}

#vssmp-modal .content label{
    display:block;
}

#vssmp-modal .foot .action_block{
    text-align:right;
}

.vssmp-popup .head .close_icon{
    float: right;
    background: url('../images/element/dashboard-close.gif') no-repeat transparent center;
    height:16px;
    width:16px;
    margin-top:-17px;
    cursor: pointer;
}

/* End - Reason Pop up Box */

/* Start - Fancy Drop Down */

.vss-select-wrapper{
    /*        float: left;*/
    display: inline-block;
    border: 1px solid #d8d8d8;            
    background: url("../images/element/select_dropdown.png") no-repeat right center;
    cursor: pointer;
}
.vss-select-wrapper, .vss-select-wrapper select{
    width: 200px;
    height: 23px;
    line-height: 24px;
    background-color:#fff;
}
.vss-select-wrapper:hover{
    /*        background: url("../images/element/select_dropdown.png.png") no-repeat right center;*/
    /*        border-color: #239fdb;*/
}
.vss-select-wrapper .vss-select-holder{
    display: block;
    margin: 0 35px 0 5px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    color:#333;
}
.vss-select-wrapper select{
    margin: 0;
    position: absolute;
    z-index: 2;            
    cursor: pointer;
    outline: none;
    opacity: 0;
    /* CSS hacks for older browsers */
    _noFocusLine: expression(this.hideFocus=true); 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
}

/* End - Fancy Drop Down */

.vssmp-font10{font-size:10px;}
.vssmp-font12{font-size:12px;}
.vssmp-font13{font-size:13px;}

.vssmp-rating-option-list{

}

.vssmp-rating-option-list li{
    display:block;
}

.vssmp-rating-option-list li .vss_mp_display_inline:first-child{
    width:120px;
    vertical-align: top;
}

.vssmp-rating-option-list li .vss_mp_display_inline:nth-child(2){
    margin:2px 0;
}

.vssmp-col_blk{
    display:block;
}

.vssmp-col_blk .title{
    display:block;
}
.vssmp-col_blk .sub-title{
    display:block;
    margin-left:10px;
}


/* BOC - Tooltips CSS definitions */	

.tooltip {
    position: absolute!important;
    overflow:hidden;
    font-size: 12px;
    z-index: 10000!important;
}
.tooltip .xtop, .tooltip .xbottom { display: block; background: transparent; font-size: 1px; }
.tooltip .xb1, .tooltip .xb2, .tooltip .xb3, .tooltip .xb4 { display: block; overflow: hidden; }
.tooltip .xb1, .tooltip .xb2, .tooltip .xb3 { height: 1px; }
.tooltip .xb2, .tooltip .xb3, .tooltip .xb4 { background: #666; border-left: 1px solid #333; border-right: 1px solid #333; }
.tooltip .xbottom .xb2, .tooltip .xbottom .xb3, .tooltip .xbottom .xb4 { background: #666; }
.tooltip .xb1 { margin: 0 5px; background: #333; }
.tooltip .xb2 { margin: 0 3px; border-width: 0 2px; }
.tooltip .xb3 { margin: 0 2px; }
.tooltip .xb4 { height: 2px; margin: 0 1px; }

.tooltip .xboxcontent {
    padding: 0 .5em;
    margin: 0;
    color: #000;
    text-align: left;

    word-wrap:break-word;
    border: 1px solid #333;
    border-width: 0px 1px 0 1px;
    background-color: #666;
}

.topbuttons{
    width: 45%;
    float: right;
}
.topbuttons label{
    color: #fff;
    font-size: 14px;
    float:right;
}

.topbuttons .vss-select-wrapper{
    float:right;
}
/* EOC - Tooltips CSS definitions */

.breadcrumb{
    border-radius: 0px;
    padding: 8px 15px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb a
{
    font-size: 13px;
}

a {
    cursor: pointer !important;
    color: #428bca;
    text-decoration: none;
}

.vssmp-tab-header
{
    height: 35px;
    font-weight: bold;
    line-height: 1.5;
}

a.vssmp-button {
    /*color: rgba(0,0,0, 0.80);*/
    color: white; 
    /*color: #444;*/
    text-decoration:none;
}

.vss_percent_sign{
    font-size: 17px;
    vertical-align: sub;
}

.process_small_spinner{
    background: url('../images/element/loading16.gif') no-repeat transparent;
    width:16px;
    height:16px;
    display:block;
}

.entry-edit fieldset {
    margin-bottom: 2px;
}

.vssmp-verticaltop
{
    vertical-align: top !important;
}

.vssmp-font24
{
    font-size: 24px;
}

.btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    /*border-radius: 4px;*/
}

.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}

.btn-default {
    background-image: linear-gradient(to bottom, #ffffff 0px, #e0e0e0 100%);
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover, .btn-default:focus {
    background: #E0E0E0;
    background-position: 0 -15px;
}

.input-width40px
{
    width: 40px;
}