<?php
/** COPYRIGHT authorizeCIM 2011-2012 Eric Levine */
?>
<?php $_code=$this->getMethodCode() ?>
<?php	//authorizeCIM 2011
$custID=0; $poall=''; $lastused=0; $firstsaved=0; $profilecount=0; $showall=0; $orderid=0; $sql='';
if(isset($_SESSION['adminhtml_quote']['customer_id'])) { $custID=$_SESSION['adminhtml_quote']['customer_id']; }
if(isset($_SESSION['adminhtml_quote']['order_id'])) { $orderid=$_SESSION['adminhtml_quote']['order_id']; }
if(!$this->hasVerification()) {$cvv=false; } else {$cvv=true; }
if($custID>0) {
    $orderTable=Mage::getSingleton('core/resource')->getTableName('sales_flat_order'); $orderPaymentTable=Mage::getSingleton('core/resource')->getTableName('sales_flat_order_payment'); $sql = "SELECT * FROM $orderPaymentTable p, $orderTable q WHERE q.customer_id=".$custID." AND q.entity_id=p.parent_id AND po_number LIKE '%-%' AND cc_type > '' AND p.method='authorizecimsoap' ORDER BY p.entity_id desc;";
} elseif ($orderid>0) {
    $orderTable=Mage::getSingleton('core/resource')->getTableName('sales_flat_order'); $orderPaymentTable=Mage::getSingleton('core/resource')->getTableName('sales_flat_order_payment'); $sql = "SELECT * FROM $orderPaymentTable p, $orderTable q WHERE q.entity_id=".$orderid." AND q.entity_id=p.parent_id AND po_number LIKE '%-%' AND cc_type > '' AND p.method='authorizecimsoap'ORDER BY p.entity_id desc Limit 1;";
}

if($sql>'') {
    $results = Mage::getSingleton('core/resource')->getConnection('core_read')->fetchAll($sql);
    $profiletoken=array();
    $profileexpmonth=array();
    $profileexpyear=array();
    $profilecctype=array();
    $profilesavecim=array();
    $profilelast4=array();
    $showcount = Mage::getStoreConfig('payment/authorizecimsoap/cardstoshow');
    $showall = Mage::getStoreConfig('payment/authorizecimsoap/showall');
    foreach($results as $data2) {
        $poall = $data2['po_number'];
        $poall = str_replace('"','',$poall);
        $poparts = preg_split('/-/',$poall);
        $cimcustid=$poparts[0];
        $cimprofid=$poparts[1];
        $last4 = $data2['cc_last4'];
        $token="tkn-$poall-$last4";
        if($firstsaved==0) { $firstsaved=$cimprofid;  }
        if(!isset($profilelast4[$last4])) {
            $profiletoken[$cimprofid]=$token;
            if($data2['cc_ss_start_month']!="0") {$profilesavecim[$cimprofid]="1"; } else {$profilesavecim[$cimprofid]="0"; }
            $profilecctype[$cimprofid]=$data2['cc_type'];
            $profileexpmonth[$cimprofid]=$data2['cc_exp_month'];
            $profileexpyear[$cimprofid]=$data2['cc_exp_year'];
            $profilelast4[$last4]=$cimprofid;
            $profilecount=$profilecount+1;
            if($profilesavecim[$cimprofid]!="0") {
                if($lastused==0) { $lastused=$cimprofid;  }
            }

        }
    }
    if($lastused==0) { $lastused=$firstsaved;  }
    if($showcount<1) { $showcount=0; $profilecount=0; }
}

$detailblock="style='display:block;'";
?>
<?php if($profilecount <= 0 ) : ?>
    <ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:block;">
        <?php if(($_code == 'authorizecimsoap') && ($profilecount>0)) : ?>
            <input id="<?php echo $_code ?>fullcc" value="payment[token]" type="radio" name="payment[token]"
                <?php if ($profilecount<1): ?> checked="checked" <?php endif ?> onClick="<?php echo $_code ?>addRequired()" />
            <label for="<?php echo $_code ?>fullcc"></label>Enter a new credit card<br/>
        <?php endif; ?>
        <span id="<?php echo $_code ?>detailsection" <?php print $detailblock; ?>>
    <li>
        <div class="input-box">
            <label for="<?php echo $_code ?>_cc_type"><?php echo Mage::helper('payment')->__('Credit Card Type') ?> <span class="required">*</span></label><br/>
            <select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]" class="required-entry validate-cc-type-select">
                <?php $_ccType = $this->getInfoData('cc_type') ?>
                <option value=""></option>
                <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                    <option value="<?php echo $_typeCode ?>" <?php if($_typeCode==$_ccType): ?>selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </li>
    <li>
        <div class="input-box">
            <label for="<?php echo $_code ?>_cc_number"><?php echo Mage::helper('payment')->__('Credit Card Number') ?> <span class="required">*</span></label><br/>
            <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo Mage::helper('payment')->__('Credit Card Number') ?>" class="input-text validate-cc-number" value="<?php echo $this->getInfoData('cc_number')?>"/>
        </div>
    </li>
    <li>
        <div class="input-box">
            <label for="<?php echo $_code ?>_expiration"><?php echo Mage::helper('payment')->__('Expiration Date') ?> <span class="required">*</span></label><br/>
            <select id="<?php echo $_code ?>_expiration" style="width:140px;" name="payment[cc_exp_month]" class="validate-cc-exp required-entry">
                <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
                <?php foreach ($this->getCcMonths() as $k=>$v): ?>
                    <option value="<?php echo $k ?>" <?php if($k==$_ccExpMonth): ?>selected="selected"<?php endif ?>><?php echo $v ?></option>
                <?php endforeach ?>
            </select>
            <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
            <select id="<?php echo $_code ?>_expiration_yr" style="width:103px;" name="payment[cc_exp_year]" class="required-entry">
                <?php foreach ($this->getCcYears() as $k=>$v): ?>
                    <option value="<?php echo $k ? $k : '' ?>" <?php if($k==$_ccExpYear): ?>selected="selected"<?php endif ?>><?php echo $v ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </li>
            <?php if($cvv): ?>
                <li>
                    <div class="input-box">
                        <label for="<?php echo $_code ?>_cc_cid"><?php echo Mage::helper('payment')->__('Card Verification Number') ?> <span class="required">*</span></label><br/>
                        <input type="text" title="<?php echo Mage::helper('payment')->__('Card Verification Number') ?>" class="required-entry input-text validate-cc-cvn" id="<?php echo $_code ?>_cc_cid" name="payment[cc_cid]" style="width:3em;" value="<?php echo $this->getInfoData('cc_cid')?>"/>
                    </div>
                </li>
            <?php endif; ?>
            <!--implementation for adding po number-->
            <li class="li-po-number">
                <label for="<?php echo $_code ?>_purchase_order_number"><?php echo $this->__('Purchase Order Number (optional)') ?>
                </label>

                <div class="input-box">
                    <input type="text" title="<?php echo $this->__('Purchase Order Number') ?>" class="input-text"
                           id="<?php echo $_code ?>_purchase_order_number" name="payment[po_number_cc]" value="<?php echo $this->getInfoData('po_number')?>"/>
                </div>
            </li>
            <!--implementation for adding po number-->
            <?php if(substr($_code,0,12) == 'authorizecim') : ?>
                <input type="checkbox" id="<?php echo $_code ?>_savecim" name="payment[cc_ss_start_month]" checked=true /> <?php echo $this->__('keep this card on file') ?>
            <?php endif; ?>
	</span>
        <?php if((substr($_code,0,12) == 'authorizecim') && ($profilecount>0)) : ?>
            <span>
		<br />
                <?php echo $this->__('Saved Cards') ?><br />
                <?php $showindex=0;
                foreach($profiletoken as $profilepay => $token):
                    if($profilesavecim[$profilepay]=="0"){
                        continue;
                    }
                    if($profilecctype[$profilepay]>'') {
                        $llabel = "Use ".$profilecctype[$profilepay]." card on file ending ".substr($token,-4);
                    } else {
                        $llabel = "Use card on file ending ".substr($token,-4);
                    }
                    $labelid=$_code."label".$profilepay;
                    $tokenid=$_code."token".$profilepay;
                    $cctypeid=$_code."cctype".$profilepay;
                    $expmonthid=$_code."expmonth".$profilepay;
                    $expyearid=$_code."expyear".$profilepay;
                    $savecimid=$_code."savecim".$profilepay;
                    //implementation for adding po number
                    $saveponumspan=$_code."saveponumspan".$profilepay;
                    $saveponum=$_code."saveponum".$profilepay;
                    //implementation for adding po number
                    if($profilesavecim[$profilepay]=="0") { $llabel = "Use not-visible card ending ".substr($token,-4);  } else { 	$showindex=$showindex+1;  }



                    if((($profilesavecim[$profilepay]!="0") && ($showindex<=$showcount)) OR ($showall=="1")):
                        ?>
                        <input type="radio" name="payment[token]" id='<?php echo $labelid ?>' class="" onClick="<?php echo $_code ?>removeRequired(this.value)" value="<?php echo "$profilepay" ?>" <?php if($lastused==$profilepay) { echo "checked='checked'"; } ?>> <?php echo $this->__($llabel) ?>
					<input type=hidden id="<?php echo $tokenid ?>" name="<?php echo $tokenid ?>" value="<?php echo $profiletoken[$profilepay] ?>">
                        <input type=hidden id="<?php echo $cctypeid ?>" name="<?php echo $cctypeid ?>" value="<?php echo $profilecctype[$profilepay] ?>">
                        <input type=hidden id="<?php echo $expmonthid ?>" name="<?php echo $expmonthid ?>" value="<?php echo $profileexpmonth[$profilepay] ?>">
                        <input type=hidden id="<?php echo $expyearid ?>" name="<?php echo $expyearid ?>" value="<?php echo $profileexpyear[$profilepay] ?>">
                        <input type=hidden id="<?php echo $savecimid ?>" name="<?php echo $savecimid ?>" value="<?php echo $profilesavecim[$profilepay] ?>">
                        <!--implementation for adding po number-->
                        <span id="<?php echo $saveponumspan ?>" class="<?php echo $_code ?>posection" style="display: none;">
                            <li class="li-po-number">
                                <label for="<?php echo $_code ?>_purchase_order_number"><?php echo $this->__('Purchase Order Number (optional)') ?>
                                </label>

                                <div class="input-box">
                                    <input type="text" title="<?php echo $this->__('Purchase Order Number') ?>" class="input-text po-input-text"
                                           id="<?php echo $saveponum ?>" name="<?php echo $saveponum ?>" onchange="pochange(this)"/>
                                </div>
                            </li> 
                        </span>
                        <!--implementation for adding po number-->
                        <br />
                    <?php endif;
                endforeach; ?>
		</span>
        <?php endif; ?>
    </ul>
<?php else: ?>
    <ul class="form-list" id="payment_form_<?php echo $_code ?>" >
        <?php if(($_code == 'authorizecimsoap') && ($profilecount>0)) : ?>
            <input id="<?php echo $_code ?>fullcc" value="payment[token]" type="radio" name="payment[token]"
                <?php if ($profilecount<1): ?>  <?php endif ?> onClick="<?php echo $_code ?>addRequired()" />
            <label for="<?php echo $_code ?>fullcc"></label>Enter a new credit card<br/>
        <?php endif; ?>
        <span id="<?php echo $_code ?>detailsection" style="display: none;">
    <li>
        <div class="input-box">
            <label for="<?php echo $_code ?>_cc_type"><?php echo Mage::helper('payment')->__('Credit Card Type') ?> <span class="required">*</span></label><br/>
            <select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]" >
                <?php $_ccType = $this->getInfoData('cc_type') ?>
                <option value=""></option>
                <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                    <option value="<?php echo $_typeCode ?>" <?php if($_typeCode==$_ccType): ?>selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </li>
    <li>
        <div class="input-box">
            <label for="<?php echo $_code ?>_cc_number"><?php echo Mage::helper('payment')->__('Credit Card Number') ?> <span class="required">*</span></label><br/>
            <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo Mage::helper('payment')->__('Credit Card Number') ?>" class="input-text " value="<?php echo $this->getInfoData('cc_number')?>"/>
        </div>
    </li>
    <li>
        <div class="input-box">
            <label for="<?php echo $_code ?>_expiration"><?php echo Mage::helper('payment')->__('Expiration Date') ?> <span class="required">*</span></label><br/>
            <select id="<?php echo $_code ?>_expiration" style="width:140px;" name="payment[cc_exp_month]" >
                <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
                <?php foreach ($this->getCcMonths() as $k=>$v): ?>
                    <option value="<?php echo $k ?>" <?php if($k==$_ccExpMonth): ?>selected="selected"<?php endif ?>><?php echo $v ?></option>
                <?php endforeach ?>
            </select>
            <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
            <select id="<?php echo $_code ?>_expiration_yr" style="width:103px;" name="payment[cc_exp_year]" >
                <?php foreach ($this->getCcYears() as $k=>$v): ?>
                    <option value="<?php echo $k ? $k : '' ?>" <?php if($k==$_ccExpYear): ?>selected="selected"<?php endif ?>><?php echo $v ?></option>
                <?php endforeach ?>
            </select>
        </div>
    </li>
            <?php if($cvv): ?>
                <li>
                    <div class="input-box">
                        <label for="<?php echo $_code ?>_cc_cid"><?php echo Mage::helper('payment')->__('Card Verification Number') ?> <span class="required">*</span></label><br/>
                        <input type="text" title="<?php echo Mage::helper('payment')->__('Card Verification Number') ?>" class="input-text" id="<?php echo $_code ?>_cc_cid" name="payment[cc_cid]" style="width:3em;" value="<?php echo $this->getInfoData('cc_cid')?>"/>
                    </div>
                </li>
            <?php endif; ?>
            <!--implementation for adding po number-->
            <li class="li-po-number">
                <label for="<?php echo $_code ?>_purchase_order_number"><?php echo $this->__('Purchase Order Number (optional)') ?>
                </label>

                <div class="input-box">
                    <input type="text" title="<?php echo $this->__('Purchase Order Number') ?>" class="input-text"
                           id="<?php echo $_code ?>_purchase_order_number" name="payment[po_number_cc]" value="<?php echo $this->getInfoData('po_number')?>"/>
                </div>
            </li> 
            <!--implementation for adding po number-->
            <?php if(substr($_code,0,12) == 'authorizecim') : ?>
                <input type="checkbox" id="<?php echo $_code ?>_savecim" name="payment[cc_ss_start_month]" checked=true /> <?php echo $this->__('keep this card on file') ?>
            <?php endif; ?>
	</span>
        <?php if((substr($_code,0,12) == 'authorizecim') && ($profilecount>0)) : ?>
            <span>
		<br />
                <?php echo $this->__('Saved Cards') ?><br />
                <?php
                $showindex=0;
                $isTriggered = false;
                foreach($profiletoken as $profilepay => $token):
                    if($profilesavecim[$profilepay]=="0"){
                        continue;
                    }
                    if($profilecctype[$profilepay]>'') {
                        $llabel = "Use ".$profilecctype[$profilepay]." card on file ending ".substr($token,-4);
                    } else {
                        $llabel = "Use card on file ending ".substr($token,-4);
                    }
                    $labelid=$_code."label".$profilepay;
                    $tokenid=$_code."token".$profilepay;
                    $cctypeid=$_code."cctype".$profilepay;
                    $expmonthid=$_code."expmonth".$profilepay;
                    $expyearid=$_code."expyear".$profilepay;
                    $savecimid=$_code."savecim".$profilepay;
                    //implementation for adding po number
                    $saveponumspan=$_code."saveponumspan".$profilepay;
                    $saveponum=$_code."saveponum".$profilepay;
                    //implementation for adding po number
                    if($profilesavecim[$profilepay]=="0") { $llabel = "Use not-visible card ending ".substr($token,-4);  } else { 	$showindex=$showindex+1;  }



                    if((($profilesavecim[$profilepay]!="0") && ($showindex<=$showcount)) OR ($showall=="1")):
                        ?>
                        <input type="radio" name="payment[token]" id='<?php echo $labelid ?>' class="" onClick="<?php echo $_code ?>removeRequired(this.value)" value="<?php echo "$profilepay" ?>" <?php if($lastused==$profilepay) { echo "checked='checked'"; } ?>> <?php echo $this->__($llabel) ?>
					<input type=hidden id="<?php echo $tokenid ?>" name="<?php echo $tokenid ?>" value="<?php echo $profiletoken[$profilepay] ?>">
                        <input type=hidden id="<?php echo $cctypeid ?>" name="<?php echo $cctypeid ?>" value="<?php echo $profilecctype[$profilepay] ?>">
                        <input type=hidden id="<?php echo $expmonthid ?>" name="<?php echo $expmonthid ?>" value="<?php echo $profileexpmonth[$profilepay] ?>">
                        <input type=hidden id="<?php echo $expyearid ?>" name="<?php echo $expyearid ?>" value="<?php echo $profileexpyear[$profilepay] ?>">
                        <input type=hidden id="<?php echo $savecimid ?>" name="<?php echo $savecimid ?>" value="<?php echo $profilesavecim[$profilepay] ?>">
                        <!--implementation for adding po number-->
                        <span id="<?php echo $saveponumspan ?>" class="<?php echo $_code ?>posection" style="display: none;">
                            <li class="li-po-number">
                                <label for="<?php echo $_code ?>_purchase_order_number"><?php echo $this->__('Purchase Order Number (optional)') ?>
                                </label>

                                <div class="input-box">
                                    <input type="text" title="<?php echo $this->__('Purchase Order Number') ?>" class="input-text po-input-text"
                                           id="<?php echo $saveponum ?>" name="<?php echo $saveponum ?>" onchange="pochange(this)"/>
                                </div>
                            </li> 
                        </span>
                        <!--implementation for adding po number-->
                        <br />
                    <?php endif; ?>

                    <?php if( ($profilecount > 0 ) && !$isTriggered ) : $isTriggered=true;?>
                    <?php if((substr($_code,0,12) == 'authorizecim') ) { ?> <?php $triggerThis = $_code . "removeRequired('". $profilepay ."')"; } ?>
                <?php endif ?>

                <?php endforeach; ?>
		</span>
        <?php endif; ?>
    </ul>
<?php endif ?>


<br />
<?php if((substr($_code,0,12) == 'authorizecim') && ($profilecount>0)) : ?>
    <script type="text/javascript">
        function pochange(ths){
            var code = ths.name.split("saveponum");
            document.getElementById(code[0]+'_purchase_order_number').value = ths.value;
//            alert('po2='+document.getElementById(code[0]+'_purchase_order_number').value);
        }

        function <?php echo $_code ?>removeRequired(prof) {
            var t0 = document.getElementById('<?php echo $_code ?>token'+prof);
            t0v=t0.value;
            var t1 = document.getElementById('<?php echo $_code ?>cctype'+prof);
            t1v=t1.value;
            var t2 = document.getElementById('<?php echo $_code ?>expmonth'+prof);
            t2v=t2.value;
            var t3 = document.getElementById('<?php echo $_code ?>expyear'+prof);
            t3v=t3.value;
            var t4 = document.getElementById('<?php echo $_code ?>savecim'+prof);
            t4v=t4.value;
            var t = document.getElementById('<?php echo $_code ?>_cc_number');
            t.setAttribute("class","");
            t.value=t0v;
            var t = document.getElementById('<?php echo $_code ?>_cc_type');
            t.setAttribute("class","");
            t.value=t1v;
            <?php if($cvv): ?>
            var t = document.getElementById('<?php echo $_code ?>_cc_cid');
            t.setAttribute("class","");
            t.value='111';
            <?php endif; ?>
            var t = document.getElementById('<?php echo $_code ?>_expiration');
            t.value=t2v;
            t.setAttribute("class","");
            var t = document.getElementById('<?php echo $_code ?>_expiration_yr');
            t.value=t3v;
            t.setAttribute("class","");
            var t = document.getElementById('<?php echo $_code ?>_savecim');
            if(t4v!='0') { t.checked=true; } else { t.checked=false; }
            t.setAttribute("class","");
            var t = document.getElementById('<?php echo $_code ?>fullcc');
            t.checked=false;
            var t = document.getElementById('<?php echo $_code ?>detailsection');
            t.style.display = 'none';
            //implementation for adding po number
            var pos = document.getElementsByClassName('<?php //echo $_code ?>posection');
            for (var i = 0; i < pos.length; i++) {
                pos[i].style.display = 'none';
                var input = pos[i].getElementsByTagName('input');
                for (var y = 0; y < input.length; y++) {
                    input[y].disabled = true;
                }
            }
            var tok = document.getElementById('<?php echo $_code ?>saveponumspan'+prof);
            var input = tok.getElementsByTagName('input');
            for (var y = 0; y < input.length; y++) {
                input[y].disabled = false;
            }
            tok.style.display = 'block';
            if(document.getElementById('sccmethodvalues') && document.getElementById('sccmethodvalues').value){
                loadSCC(document.getElementById('sccmethodvalues').value);
            }
            var t5 = document.getElementById('<?php echo $_code ?>saveponum'+prof);
            var t = document.getElementById('<?php echo $_code ?>_purchase_order_number');
            if(t5 && t5.value){
                t.value=t5.value;
            }else{
                t.value='';
            }
            //implementation for adding po number
//            alert('R2='+document.getElementById('<?php echo $_code ?>_purchase_order_number').value);
        };
        function <?php echo $_code ?>addRequired() {
            var vals = $('ccmethodvalues').value.split('~');
            if(vals[0]){loadCC(vals);}

            var t = document.getElementById('<?php echo $_code ?>_cc_number');
            t.setAttribute("class","input-text validate-cc-number");
            if(n0v){t.value=n0v;}else{t.value='';}
            <?php /* t.value='';  */?>

            var t = document.getElementById('<?php echo $_code ?>_cc_type');
            t.setAttribute("class","required-entry validate-cc-type-select");
            if(n0v){t.value=n1v;}else{t.value='';}

            <?php if($cvv): ?>
            var t = document.getElementById('<?php echo $_code ?>_cc_cid');
            t.setAttribute("class","required-entry input-text validate-cc-cvn");
            if(n0v&&n4v){t.value=n4v;}else{t.value='';}
            <?php /* t.value='';  */?>
            <?php endif; ?>

            var t = document.getElementById('<?php echo $_code ?>_expiration');
            t.setAttribute("class","month validate-cc-exp required-entry");
            if(n0v){t.value=n2v;}else{t.value='0';}

            var t = document.getElementById('<?php echo $_code ?>_expiration_yr');
            t.setAttribute("class","year required-entry");
            if(n0v){t.value=n3v;}else{t.value='';}

            var t = document.getElementById('<?php echo $_code ?>_savecim');
            t.checked=true;
            var t = document.getElementById('<?php echo $_code ?>fullcc');
            t.checked=true;
            var t = document.getElementById('<?php echo $_code ?>detailsection');
            t.style.display = 'block';
            //implementation for adding po number
            var pos = document.getElementsByClassName('<?php //echo $_code ?>posection');
            for (var i = 0; i < pos.length; i++) {
                pos[i].style.display = 'none';
                var input = pos[i].getElementsByTagName('input');
                for (var y = 0; y < input.length; y++) {
                    input[y].disabled = true;
                }
            }
            var t = document.getElementById('<?php echo $_code ?>_purchase_order_number');
            if(n0v){t.value=n5v;}else{t.value='';}
            //implementation for adding po number
//            alert('A2='+document.getElementById('<?php echo $_code ?>_purchase_order_number').value);
        };
        <?php if($profilecount <= 0 ) { ?>
        <?php echo $_code ?>addRequired();
        <?php if((substr($_code,0,12) == 'authorizecim') && ($profilecount>0)) { ?> <?php echo $_code ?>removeRequired("<?php echo $lastused; ?>");<?php } ?>
        <?php } else { ?>
        <?php echo $triggerThis.';' ?>
        <?php } ?>
    </script>
<?php endif; ?>
