<?php
 /**
 * Package: BinaryAnvil
 * User: calabanzas
 * Date: 7/15/14
 * Time: 4:28 PM
 */?>
<?php if ($this->getCheckout()->getStepData('ffl', 'complete')): ?>
    <dt class="complete">
        <?php echo $this->__('FFL Information') ?><span class="changelink"> <span class="separator">|</span> <a
                href="#ffl"
                onclick="checkout.changeSection('opc-ffl'); return false;"><?php echo $this->__('Change') ?></a></span>
    </dt>
    <?php $quoteFflId = $this->getQuote()->getFflId(); if ($quoteFflId > 0) { ?>
        <dd class="complete">
            <?php $ffl = Mage::getModel('binaryanvil_ffl/ffl')->load($quoteFflId); ?>
            <address><?php echo Mage::helper('binaryanvil_ffl')->getFflHtml($ffl) ?></address>
        </dd>
    <?php } else { ?>
        <dd class="complete">
            <address>I do not have an FFL to ship to at this time, and I understand it is my responsibility to get one.</address>
        </dd>
    <?php } ?>
<?php else: ?>
    <dt>
        <?php echo $this->__('FFL Information') ?>
    </dt>
<?php endif; ?>
