<?php
 /**
 * GoMage Advanced Navigation Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2016 GoMage (https://www.gomage.com)
 * @author       GoMage
 * @license      https://www.gomage.com/license-agreement/  Single domain license
 * @terms of use https://www.gomage.com/terms-of-use
 * @version      Release: 4.9.1
 * @since        Class available since Release 3.0
 */
?>
<div class="gan-totop-button" id="gan-totop-button" style="display:none;">
	<button onclick="GomageNavigation.ganScrollToTop();" ><span><?php echo Mage::helper('gomage_navigation')->getBacktotop(); ?></span></button>
</div>